@import "src/styles/utils";

.pagination {
	display: flex;
	justify-content: center;
	gap: $spacing * 2;
	margin: ($spacing * 6) 0;
	padding: 0;
	list-style: none;

	.paginationItem a {
		border-radius: 8px;
		width: 40px;
		height: 40px;

		span {
			display: flex;
		}
	}

	.paginationItem.active a {
		box-shadow: none;
	}
}
