@import "../../styles/vars";
@import "../../styles/utils";
@import "../../styles/text_styles";

.topHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 600px;
  padding: 1rem;

  @include until($endSmallScreenSize) {
    flex-direction: column;
    min-height: auto;
  }
}

.bigImageContainer {
  flex-basis: 50%;
  position: relative;
  margin-right: 3.5rem;

  @include until($endSmallScreenSize) {
    display: none;
  }
}

.smallImageContainer {
  display: none;
  width: 60%;
  margin: 0 auto;

  @include until($endSmallScreenSize) {
    display: block;
  }
}

.topDescContainer {
  flex-basis: 50%;
}

.title {
  @extend %beeg;
  color: var(--darkPrimary);
}

.description {
  @extend %headline-5;
  color: #315e81;
}

.buttonContainer {
  display: flex;
}

.collectionButton {
  outline: var(--cardOutlineStyle);
  @extend %button;
  margin-right: 1rem;
  padding: 0.5rem;
}

.stitchedAreaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.topBorderArea {
  height: 1rem;
  background-size: contain;
  background-image: url("/collections_top_border.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

.bottomBorderArea {
  height: 1rem;
  background-size: contain;
  background-image: url("/collections_bottom_border.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

.postsContainer {
  background: var(--white);
  color: #315e81;
  padding-bottom: 5rem;
}

.postsInnerContainer {
  max-width: 800px;
}

.chapterListingHeader {
  @extend %headline-1;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.collectionPostList {
  margin: 0;
  padding: 0;
}

.postContainer {
  display: flex;
  margin-bottom: 2rem;
  list-style: none;
}

.orderContainer {
  font-size: 2rem;
  flex-shrink: 0;
  background: var(--backgroundColor);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 4px dashed #315e81;
  font-weight: bold;
  margin-right: 1rem;
}

.postTitle {
  @extend %headline-4;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.postDesc {
  @extend %body-1;
}
