@import "../../styles/vars";
@import "../../styles/utils";
@import "../../styles/text_styles";

.mainContainer {
  padding-bottom: 4rem;
}

.topHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 600px;
  padding: 1rem;

  @include until($endSmallScreenSize) {
    flex-direction: column;
    min-height: auto;
  }
}

.bigImageContainer {
  flex-basis: 50%;
  position: relative;
  margin-right: 3.5rem;

  @include until($endSmallScreenSize) {
    display: none;
  }
}

.smallImageContainer {
  display: none;
  width: 60%;
  margin: 0 auto;

  @include until($endSmallScreenSize) {
    display: block;
  }
}

.topDescContainer {
  flex-basis: 50%;
}

.title {
  @extend %beeg;
  color: var(--darkPrimary);
}

.description {
  @extend %headline-5;
  color: var(--lightPrimary);
  white-space: break-spaces;
}

.buttonContainer {
  display: flex;
}

.collectionButton {
  border: var(--cardOutlineStyle);
  @extend %button;
  margin-right: 1rem;
  padding: 0.5rem;
}

.stitchedAreaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.topBorderArea.darkAreaBorder {
  background-image: url("/collections_top_border_dark.png");
}
.topBorderArea {
  height: 1rem;
  background-size: contain;
  background-image: url("/collections_top_border_light.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

.bottomBorderArea.darkAreaBorder {
  background-image: url("/collections_bottom_border_dark.png");
}
.bottomBorderArea {
  height: 1rem;
  background-size: contain;
  background-image: url("/collections_bottom_border_light.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

.postsContainer {
  background: var(--white);
  color: var(--lightPrimary);
  padding-bottom: 5rem;
}

.postsInnerContainer {
  max-width: 800px;
  padding: 0 2rem;
}

.chapterListingHeader {
  @extend %headline-1;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.collectionPostList {
  margin: 0;
  padding: 0;
}

.postContainer {
  margin-bottom: 2rem;
  list-style: none;
}

.postLink {
  text-decoration: none;
  display: flex;
}

.orderContainer {
  font-size: 2rem;
  flex-shrink: 0;
  background: var(--backgroundColor);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 4px dashed var(--lightPrimary);
  font-weight: bold;
  margin-right: 1rem;
}

.postTitle {
  @extend %headline-4;
  margin-top: 0.25rem;
  margin-bottom: 0;
  text-decoration: underline;
}

.noLink {
  text-decoration: none !important;
}

.postDesc {
  @extend %body-1;
}

.markdownContainer {
  color: var(--darkPrimary);
  padding: 0 2rem;
}

.lightImage {
  filter: drop-shadow(0 3px 4px rgba(21, 62, 103, 0.12))
    drop-shadow(0 3px 3px rgba(21, 62, 103, 0.14))
    drop-shadow(0 1px 8px rgba(21, 62, 103, 0.12))
    drop-shadow(0 -2px 2px rgba(21, 62, 103, 0.1));
}

.darkImage {
  filter: drop-shadow(0 3px 4px rgba(228, 244, 255, 0.04))
  drop-shadow(0 3px 3px rgba(228, 244, 255, 0.05))
  drop-shadow(0 1px 8px rgba(228, 244, 255, 0.04))
  drop-shadow(0 -2px 2px rgba(228, 244, 255, 0.1));
}
