---
import { getStickers } from "./banner-stickers";

const STICKER_TRANSFORMS = [
	"left: 0; top: 70%",
	"left: 93%; top: 72%",
	"left: 32%; top: 6%; transform: rotate(-20deg)",
	"left: 4%; top: 18%; transform: rotate(-5deg)",
	"left: 76%; top: 4%; transform: rotate(-10deg)",
	"left: 18%; top: 2%; transform: rotate(15deg)",
	"left: 53%; top: 0; transform: rotate(-7deg)",
	"left: 90%; top: 15%; transform: rotate(5deg)",
];

const stickers = (await getStickers()).sort(() => 0.5 - Math.random());

const stickerTransforms = STICKER_TRANSFORMS.map((transform) => {
	let sticker = stickers.pop();
	return {
		...sticker,
		width: 32,
		height: sticker.height * (32 / sticker.width),
		transform,
	};
});
---

<div {...Astro.props} style="height: 128px; transform: translate(16px);">
	{
		stickerTransforms.map((sticker) => (
			<img
				width={sticker.width}
				height={sticker.height}
				src={sticker.src}
				style={`position: absolute; ${sticker.transform};`}
			/>
		))
	}
</div>
