@use "src/tokens/index" as *;

.invitedText {
	color: var(--primary_default);
	margin: 0;
	text-align: center;
	margin-top: calc(var(--site-spacing) * 2);
}

.mainCardContainer {
	border-radius: calc(var(--site-spacing) * 2) calc(var(--site-spacing) * 2) 0 0;
	background: var(--background_primary-bright);
	max-width: var(--max-width_l);
	margin: 0 auto;
	width: 100%;
}

.outcomeAndWhatWhereContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	@include from($tabletLarge) {
		flex-direction: row;
	}
}

.whenWhereContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--site-spacing);
	gap: var(--site-spacing);

	@include from($tabletSmall) {
		flex-direction: row;
	}

	@include from($tabletLarge) {
		flex-direction: column;
		max-width: 320px;
	}

	@include from($desktopSmall) {
		max-width: 400px;
	}
}

.whenContainer,
.whereContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-4x);

	@include from($tabletSmall) {
		flex-basis: 50%;
	}

	@include from($tabletLarge) {
		flex-basis: unset;
	}
}

.whenTitleContainer,
.whereTitleContainer {
	display: flex;
	align-items: center;
	gap: var(--spc-3x);
}

.whenIcon,
.whereIcon {
	height: 44px;
	width: 44px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--corner-radius_circular);
	background: var(--surface_primary_emphasis-low);
}

.whenIcon > svg,
.whereIcon > svg {
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.whenDescriptionContainer,
.whereDescriptionContainer {
	padding: var(--spc-6x);
	border-radius: var(--corner-radius_xl);
	background: var(--surface_primary_emphasis-none);
}

.outcomesContainer {
	padding: calc(var(--site-spacing) * 2);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.outcomeIcon {
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.welcomeContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.welcomeText {
	color: var(--primary_on-variant);
	margin: 0;
}

.outcomeList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--spc-3x);
}

.outcomeListItem {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--primary_on-variant);
}

.outcomesListContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.outcomeTitle {
	margin: 0;
}

.applyContainer {
	display: flex;
	flex-wrap: wrap;
	@include from($tabletSmall) {
		flex-wrap: nowrap;
	}
}

.eventActionBtn {
	width: 100%;

	@include from($tabletSmall) {
		width: fit-content;
	}
}

.classIsFullText {
	color: var(--error_default);
}

.eighteenWarningContainer {
	display: inline-flex;
	align-items: center;
	padding: var(--spc-3x) var(--spc-5x) var(--spc-3x) var(--spc-3x);
	gap: var(--spc-3x);
	color: var(--foreground_emphasis-medium);
	width: fit-content;
}

.warningIcon {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outcomesApplyAndSponsorsContainer {
	display: flex;
	gap: var(--site-spacing);
	flex-direction: column;

	@include from($tabletLarge) {
		flex-direction: row;
	}
}

.partnersTitle {
	margin: 0;
}

.outcomesAndApplyContainer {
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.sponsorsContainer {
	display: flex;
	gap: var(--spc-4x);
	flex-direction: column;
	align-items: center;
}

.sponsorContainer {
	background: var(--surface_primary_emphasis-none);
	max-width: 100%;
	padding: var(--spc-4x);
	padding-left: var(--spc-6x);
	padding-right: var(--spc-6x);
	border-radius: var(--corner-radius_xl);
	display: flex;
	gap: var(--spc-4x);
	flex-direction: column;
	align-items: center;
}

.sponsor {
	height: 80px;
	border-radius: var(--corner-radius_m);
}

.modulesContainer {
	list-style-type: none;
	margin: 0;
	padding: var(--site-spacing);

	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--site-spacing);

	@include from($tabletLarge) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.moduleListItem {
	display: flex;
	flex-direction: column;
}

.headingContainer {
	display: flex;
	align-items: center;
	gap: calc(var(--site-spacing) / 2);
	padding: 0 1rem;
}

.weekTitle {
	color: var(--primary_default);
}

.moduleItemList {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem var(--spc-2x);
	background: var(--surface_primary_emphasis-none);
	border-radius: var(--site-spacing);
}

.moduleItemListItem {
	padding: 0.5rem 1rem;
	color: var(--primary_default);
}
