@use "src/tokens/index" as *;

.invitedText {
	color: var(--primary_default);
	margin: 0;
	text-align: center;
	margin-top: calc(var(--site-spacing) * 2);
}

.headerText {
	font-family: var(--pfp-font-family);
	font-weight: 900;
	font-size: 9rem;
	line-height: 100%;
	letter-spacing: 0;
	text-align: center;
	margin: 0;

	margin-top: var(--site-spacing);
	margin-bottom: calc(var(--site-spacing) * 3);

	color: var(--primary_on-variant);
	text-shadow:
		0px 8px 0px var(--primary_variant),
		0px -8px 0px #fff;

	@include until($tabletLarge) {
		font-size: 6rem;
	}

	@include until($tabletSmall) {
		font-size: 4rem;
	}

	@include until($mobile) {
		font-size: 3rem;
	}

	@include transition(text-shadow);
	@include darkTheme {
		text-shadow:
			0px 8px 0px var(--primary_variant),
			0px -8px 0px #000;
	}
}

.mainCardContainer {
	border-radius: calc(var(--site-spacing) * 2) calc(var(--site-spacing) * 2) 0 0;
	background: var(--background_primary-bright);
	max-width: var(--max-width_l);
	margin: 0 auto;
	width: 100%;
}

.outcomesContainer {
	padding: calc(var(--site-spacing) * 2);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.outcomeIcon {
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.welcomeContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.welcomeText {
	color: var(--primary_on-variant);
	margin: 0;
}

.outcomeList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--spc-3x);
}

.outcomeListItem {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--primary_on-variant);
}

.outcomesListContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.outcomeTitle {
	margin: 0;
}

.eighteenWarningContainer {
	display: inline-flex;
	align-items: center;
	padding: var(--spc-3x) var(--spc-5x) var(--spc-3x) var(--spc-3x);
	gap: var(--spc-3x);
	background: var(--surface_secondary_emphasis-none);
	color: var(--secondary_on-variant);
	width: fit-content;
	border-radius: var(--corner-radius_circular);
}

.warningIcon {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
