---
import style from "./sacramento-bootcamp.module.scss";
---

<div class={style.contain}>
	<p class={`text-style-headline-4 ${style.invitedText}`}>
		You’re invited to our first bootcamp!
	</p>

	<h1 class={style.headerText}>Playful Sacramento</h1>
</div>
