@use "src/tokens/index" as *;

.invitedText {
	color: var(--primary_default);
	margin: 0;
	text-align: center;
	margin-top: calc(var(--site-spacing) * 2);
}

.mainCardContainer {
	border-radius: calc(var(--site-spacing) * 2) calc(var(--site-spacing) * 2) 0 0;
	background: var(--background_primary-bright);
	max-width: var(--max-width_l);
	margin: 0 auto;
	width: 100%;
}

.outcomesContainer {
	padding: calc(var(--site-spacing) * 2);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.outcomeIcon {
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.welcomeContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.welcomeText {
	color: var(--primary_on-variant);
	margin: 0;
}

.outcomeList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--spc-3x);
}

.outcomeListItem {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--primary_on-variant);
}

.outcomesListContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.outcomeTitle {
	margin: 0;
}

.eighteenWarningContainer {
	display: inline-flex;
	align-items: center;
	padding: var(--spc-3x) var(--spc-5x) var(--spc-3x) var(--spc-3x);
	gap: var(--spc-3x);
	background: var(--surface_secondary_emphasis-none);
	color: var(--secondary_on-variant);
	width: fit-content;
	border-radius: var(--corner-radius_circular);
}

.warningIcon {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
