*:focus-visible {
	outline: none;
}

*:focus-visible::after {
	content: " ";
	position: absolute;
	box-sizing: content-box;
	height: 100%;
	width: 100%;
	padding: var(--focus-border_gap);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-width: inherit;
	border-style: solid;
	border-color: transparent;
	border-radius: inherit;
	outline: var(--focus-border_width) solid var(--outline_focused);
	z-index: 9;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
