<form
	action="https://app.convertkit.com/forms/1254394/subscriptions"
	class="seva-form formkit-form"
	method="post"
	style="border: none;"
	data-sv-form="1254394"
	data-uid="882d42bb6f"
	data-format="inline"
	data-version="5"
	data-options={`{"settings":{"after_subscribe":{"action":"redirect","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":"https://unicorn-utterances.com/confirm"},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"hide","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}`}
	min-width="400 500 600 700 800"
>
	<div data-style="clean">
		<!-- prettier-ignore -->
		<ul
			class="formkit-alert formkit-alert-error"
			data-element="errors"
			data-group="alert"
		></ul>
		<div
			data-element="fields"
			data-stacked="false"
			class="seva-fields formkit-fields"
		>
			<div class="formkit-field">
				<input
					class="formkit-input"
					aria-label="Your first name"
					style="color: rgb(0, 0, 0); border-color: rgb(227, 227, 227); border-radius: 4px; font-weight: 400;"
					name="fields[first_name]"
					placeholder="Your first name"
					type="text"
				/>
			</div>
			<div class="formkit-field">
				<input
					class="formkit-input"
					name="email_address"
					style="color: rgb(0, 0, 0); border-color: rgb(227, 227, 227); border-radius: 4px; font-weight: 400;"
					aria-label="Your email address"
					placeholder="Your email address"
					required=""
					type="email"
				/>
			</div>
			<button
				data-element="submit"
				class="formkit-submit formkit-submit"
				style="color: rgb(255, 255, 255); background-color: rgb(18, 125, 179); border-radius: 4px; font-weight: 400;"
			>
				<div class="formkit-spinner">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<span class="">Notify Me</span>
			</button>
		</div>
	</div>
</form>
