.formkitForm {
  border-radius: 5px;
  padding: 20px;
  margin: 1rem auto;
  border: var(--cardOutlineStyle);

  .newsletterHeading {
    text-align: center;
  }
}

.formkitForm * {
  box-sizing: border-box;
}
.formkitForm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.formkitForm legend {
  border: none;
  font-size: inherit;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  display: table;
}
.formkitForm fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
.formkitForm body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
.formkitForm h1,
.formkitForm h2,
.formkitForm h3,
.formkitForm h4,
.formkitForm h5,
.formkitForm h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.formkitForm p {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.formkitForm ol:not([template-default]),
.formkitForm ul:not([template-default]),
.formkitForm blockquote:not([template-default]) {
  text-align: left;
}
.formkitForm p:not([template-default]),
.formkitForm hr:not([template-default]),
.formkitForm blockquote:not([template-default]),
.formkitForm ol:not([template-default]),
.formkitForm ul:not([template-default]) {
  color: inherit;
  font-style: initial;
}
.formkitForm[data-format="modal"] {
  display: none;
}
.formkitForm[data-format="slide in"] {
  display: none;
}
.formkitForm .formkitInput,
.formkitForm .formkitSelect,
.formkitForm .formkitCheckboxes {
  width: 100%;
}
.formkitForm .formkitButton,
.formkitForm .formkitSubmit {
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: middle;
}
.formkitForm .formkitButton:hover,
.formkitForm .formkitSubmit:hover,
.formkitForm .formkitButton:focus,
.formkitForm .formkitSubmit:focus {
  outline: none;
}
.formkitForm .formkitButton:hover > span,
.formkitForm .formkitSubmit:hover > span,
.formkitForm .formkitButton:focus > span,
.formkitForm .formkitSubmit:focus > span {
  background-color: rgba(0, 0, 0, 0.1);
}
.formkitForm .formkitButton > span,
.formkitForm .formkitSubmit > span {
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 12px 24px;
}
.formkitForm .formkitInput {
  background: #ffffff;
  font-size: 1rem;
  padding: 12px;
  border: 1px solid #e3e3e3;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  line-height: 1.4;
  margin: 0;
  -webkit-transition: border-color ease-out 300ms;
  transition: border-color ease-out 300ms;
}
.formkitForm .formkitInput:focus {
  outline: none;
  border-color: #1677be;
  -webkit-transition: border-color ease 300ms;
  transition: border-color ease 300ms;
}
.formkitForm .formkitInput::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.8;
}
.formkitForm .formkitInput::-moz-placeholder {
  color: inherit;
  opacity: 0.8;
}
.formkitForm .formkitInput:-ms-input-placeholder {
  color: inherit;
  opacity: 0.8;
}
.formkitForm .formkitInput::placeholder {
  color: inherit;
  opacity: 0.8;
}
.formkitForm [data-group="dropdown"] {
  position: relative;
  display: inline-block;
  width: 100%;
}
.formkitForm [data-group="dropdown"]::before {
  content: "";
  top: calc(50% - 2.5px);
  right: 10px;
  position: absolute;
  pointer-events: none;
  border-color: #4f4f4f transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  height: 0;
  width: 0;
  z-index: 999;
}
.formkitForm [data-group="dropdown"] select {
  height: auto;
  width: 100%;
  cursor: pointer;
  color: #333333;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 0 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  padding: 12px;
  padding-right: 25px;
  border: 1px solid #e3e3e3;
  background: #ffffff;
}
.formkitForm [data-group="dropdown"] select:focus {
  outline: none;
}
.formkitForm [data-group="checkboxes"] {
  text-align: left;
  margin: 0;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] {
  margin-bottom: 10px;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] * {
  cursor: pointer;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"]:last-of-type {
  margin-bottom: 0;
}
.formkitForm
  [data-group="checkboxes"]
  [data-group="checkbox"]
  input[type="checkbox"] {
  display: none;
}
.formkitForm
  [data-group="checkboxes"]
  [data-group="checkbox"]
  input[type="checkbox"]
  + label::after {
  content: none;
}
.formkitForm
  [data-group="checkboxes"]
  [data-group="checkbox"]
  input[type="checkbox"]:checked
  + label::after {
  border-color: #ffffff;
  content: "";
}
.formkitForm
  [data-group="checkboxes"]
  [data-group="checkbox"]
  input[type="checkbox"]:checked
  + label::before {
  background: #10bf7a;
  border-color: #10bf7a;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] label::before,
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] label::before {
  height: 16px;
  width: 16px;
  border: 1px solid #e3e3e3;
  background: #ffffff;
  left: 0px;
  top: 3px;
}
.formkitForm [data-group="checkboxes"] [data-group="checkbox"] label::after {
  height: 4px;
  width: 8px;
  border-left: 2px solid #4d4d4d;
  border-bottom: 2px solid #4d4d4d;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4px;
  top: 8px;
}
.formkitForm .formkitAlert {
  background: #f9fafb;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  list-style: none;
  margin: 25px auto;
  padding: 12px;
  text-align: center;
  width: 100%;
}
.formkitForm .formkitAlert:empty {
  display: none;
}
.formkitForm .formkitAlertSuccess {
  background: #d3fbeb;
  border-color: #10bf7a;
  color: #0c905c;
}
.formkitForm .formkitAlertError {
  background: #fde8e2;
  border-color: #f2643b;
  color: #ea4110;
}
.formkitForm .formkitSpinner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  width: 0px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.formkitForm .formkitSpinner > div {
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: formkit-bouncedelay-formkit-form-data-uid-882d42bb6f- 1.4s
    infinite ease-in-out both;
  animation: formkit-bouncedelay-formkit-form-data-uid-882d42bb6f- 1.4s infinite
    ease-in-out both;
}
.formkitForm .formkitSpinner > div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.formkitForm .formkitSpinner > div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.formkitForm .formkitSubmit[data-active] .formkitSpinner {
  opacity: 1;
  height: 100%;
  width: 50px;
}
.formkitForm .formkitSubmit[data-active] .formkitSpinner ~ span {
  opacity: 0;
}
.formkitForm .formkitPoweredBy[data-active="false"] {
  opacity: 0.35;
}
@-webkit-keyframes formkit-bouncedelay-formkit-form-data-uid-882d42bb6f- {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes formkit-bouncedelay-formkit-form-data-uid-882d42bb6f- {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.formkitForm blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #e1e1e1;
}
.formkitForm {
  max-width: 700px;
}
.formkitForm [data-style="clean"] {
  width: 100%;
}
.formkitForm .formkitFields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
.formkitForm .formkitField,
.formkitForm .formkitSubmit {
  margin: 0 0 15px 0;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
.formkitForm .formkitPoweredBy {
  color: #7d7d7d;
  display: block;
  font-size: 0.75rem;
  margin: 0;
  text-align: center;
}
.formkitForm[min-width~="700"] [data-style="clean"],
.formkitForm[min-width~="800"] [data-style="clean"] {
  padding: 10px;
}
.formkitForm[min-width~="700"] .formkitFields[data-stacked="false"],
.formkitForm[min-width~="800"] .formkitFields[data-stacked="false"] {
  margin-left: -5px;
  margin-right: -5px;
}
.formkitForm[min-width~="700"]
  .formkitFields[data-stacked="false"]
  .formkitField,
.formkitForm[min-width~="800"]
  .formkitFields[data-stacked="false"]
  .formkitField,
.formkitForm[min-width~="700"]
  .formkitFields[data-stacked="false"]
  .formkitSubmit,
.formkitForm[min-width~="800"]
  .formkitFields[data-stacked="false"]
  .formkitSubmit {
  margin: 0 5px 15px 5px;
}
.formkitForm[min-width~="700"]
  .formkitFields[data-stacked="false"]
  .formkitField,
.formkitForm[min-width~="800"]
  .formkitFields[data-stacked="false"]
  .formkitField {
  -webkit-flex: 100 1 auto;
  -ms-flex: 100 1 auto;
  flex: 100 1 auto;
}
.formkitForm[min-width~="700"]
  .formkitFields[data-stacked="false"]
  .formkitSubmit,
.formkitForm[min-width~="800"]
  .formkitFields[data-stacked="false"]
  .formkitSubmit {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
