:root {
	--newsletter_padding: calc(var(--site-spacing) * 2);
	--newsletter_gap: var(--spc-2x);
	--newsletter_button_margin-top: var(--spc-8x);
}

.container {
	display: flex;
	flex-direction: column;
	padding: var(--newsletter_padding);
	background: var(--surface_primary_emphasis-none);
	border-radius: var(--corner-radius_xl);
}

.button {
	margin-top: var(--newsletter_button_margin-top) !important;
}

.title {
	margin: 0;
}

.description {
	margin: 0;
	margin-top: var(--newsletter_gap);
}

.firstName {
	margin-top: var(--newsletter_padding);
}

.emailAddress {
	margin-top: var(--newsletter_gap);
}
