@import "../../styles/vars";
@import "../../styles/utils";
@import "../../styles/text_styles";

.postsListContainer {
	list-style: none;
	margin: 24px 0;
	padding: 0;

	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 24px;

	@include from($startMediumScreenSize) {
		grid-template-columns: 1fr 1fr;

		&:empty {
			grid-template-columns: 1fr;
		}
	}

	&:empty::after {
		@extend %body-1;
		content: "No results could be found, you might try making your search or filter less restrictive";
		text-align: center;
		display: block;
		max-width: 500px;
		transition: color var(--animStyle) var(--animSpeed);
		color: var(--midImpactBlack);
		margin: 0 auto;
	}
}
