@import "src/tokens/index";

.header {
	align-items: center;
}

.buttons {
	gap: var(--spc-4x) var(--spc-6x);
	padding: var(--spc-4x) 0;
}

.bannerLogo {
	@include until($desktopSmall) {
		display: none;
	}
}

section {
	padding: 32px 0;

	.header {
		h1 {
			margin: 0;
		}

		margin-bottom: var(--spc-4x);
	}
}

.searchbar {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: var(--spc-4x);
}
