---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import { Button } from "components/button/button";
import { Languages, PostInfo, CollectionInfo } from "types/index";
import { translate } from "utils/translations";
import { CollectionCard } from "components/collection-card/collection-card";
import { SubHeader } from "../../components/subheader/subheader";
import Hero from "../../components/hero/hero.astro";
import SearchSection from "../../components/search-section/search-section.astro";
import styles from "./homepage.module.scss";
import { buildSearchQuery } from "src/views/search/search";
import * as api from "utils/api";
import { isDefined } from "utils/is-defined";

export interface HomepageProps {
	posts: PostInfo[];
	collections: CollectionInfo[];
	locale: Languages;
}

const { posts, collections, locale } = Astro.props as HomepageProps;

const postAuthors = new Map(
	[...new Set(posts.flatMap((p) => p.authors))]
		.map((id) => api.getUnicornById(id, locale))
		.filter(isDefined)
		.map((u) => [u.id, u]),
);
---

<Hero />
<section>
	<SubHeader tag="h2" text="Recent articles" id="posts-header">
		<Button href="/page/1" aria-labelledby="posts-header">
			{translate(Astro, "action.view_all")}
		</Button>
	</SubHeader>

	<PostCardGrid
		aria-labelledby="posts-header"
		postsToDisplay={posts}
		postAuthors={postAuthors}
		postHeadingTag="h3"
	/>
</section>

<section>
	<SubHeader tag="h2" text="Collections" id="collections-header">
		<Button
			href={`/search?${buildSearchQuery({
				searchQuery: "*",
				display: "collections",
			})}`}
			aria-labelledby="collections-header"
		>
			{translate(Astro, "action.view_all")}
		</Button>
	</SubHeader>

	<ul
		role="list"
		aria-labelledby="collections-header"
		class={styles.collectionsGrid}
	>
		{
			collections.map((collection) => (
				<li>
					<CollectionCard
						collection={collection}
						authors={collection.authors
							.map((id) => api.getUnicornById(id, collection.locale))
							.filter(isDefined)}
						headingTag="h3"
					/>
				</li>
			))
		}
	</ul>
</section>

<SearchSection />
