---
import PostList from "components/post-card-list/post-card-list.astro";
import { PostCardGrid } from "components/post-card/post-card-grid";
import { Button } from "components/base";
import { PostInfo } from "types/PostInfo";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import style from "./homepage.module.scss";
import { Icon } from "astro-icon";

export interface HomepageProps {
	posts: PostInfo[];
}

const { posts } = Astro.props as HomepageProps;

const unicornProfilePicMap = await getUnicornProfilePicMap();
---

<header class="grid grid-2">
	<div class={style.bannerLogo}><!-- TODO: replace with banner image --></div>
	<div class="text-center">
		<h1 class="text-style-headline-2">
			Practice programming with magically majestic methods
		</h1>
		<p class="text-style-body-large-bold">
			The perfect place to learn all kinds of programming, from introductory
			ideas to advanced abstractions.
		</p>
		<div class={`grid grid-2 ${style.buttons}`}>
			<Button large variant="primary" href="/discord">
				<Icon height="24" width="24" name="ic:baseline-discord" />
				Join our Discord
			</Button>
			<Button large href="/about">
				Learn more
				<Icon height="24" width="24" name="forward" />
			</Button>
		</div>
	</div>
</header>

<section>
	<h1 class="text-style-headline-4">Recent articles</h1>

	<PostCardGrid
		listAriaLabel="List of posts"
		postsToDisplay={posts}
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</section>

<section>
	<h1 class="text-style-headline-4">Collections</h1>
</section>
