---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import { Button } from "components/button/button";
import { PostInfo } from "../../types";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import { translate } from "utils/translations";
import { ExtendedCollectionInfo } from "types/CollectionInfo";
import { CollectionCard } from "components/collection-card/collection-card";
import { SubHeader } from "../../components/subheader/subheader";
import Hero from "../../components/hero/hero.astro";
import SearchSection from "../../components/search-section/search-section.astro";

export interface HomepageProps {
	posts: PostInfo[];
	collections: ExtendedCollectionInfo[];
}

const { posts, collections } = Astro.props as HomepageProps;

const unicornProfilePicMap = await getUnicornProfilePicMap();
---

<Hero />
<section>
	<SubHeader tag="h1" text="Recent articles">
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</SubHeader>

	<PostCardGrid
		listAriaLabel="List of posts"
		postsToDisplay={posts}
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</section>

<script>
	import { setupNavigationPaths } from "../../utils/navigation-path-script";
	setupNavigationPaths();
</script>

<section>
	<SubHeader tag="h1" text="Collections">
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</SubHeader>

	<div class="grid grid-tablet-2 grid-desktopSmall-3">
		{
			collections.map((collection) => (
				<CollectionCard
					collection={collection}
					unicornProfilePicMap={unicornProfilePicMap}
				/>
			))
		}
	</div>
</section>

<SearchSection />
