@import "src/styles/vars";
@import "src/styles/utils";

.buttons {
	gap: ($spacing * 4) ($spacing * 6);
	padding: ($spacing * 4) 0;
}

.bannerLogo {
	@include until($tablet) {
		display: none;
	}
}

section {
	padding: 32px 0;
}
