@import "src/styles/vars";
@import "src/styles/utils";

.header {
	align-items: center;
}

.buttons {
	gap: ($spacing * 4) ($spacing * 6);
	padding: ($spacing * 4) 0;
}

.bannerLogo {
	@include until($desktopSmall) {
		display: none;
	}
}

section {
	padding: 32px 0;

	.header {
		h1 {
			margin: 0;
		}

		margin-bottom: $spacing * 4;
	}
}

.searchbar {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: $spacing * 4;
}
