:root {
	--tt-toolbar-height: 2.75rem;
	--tt-safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

.tiptap-toolbar {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	&-group {
		display: flex;
		align-items: center;
		gap: 0.125rem;

		&:empty {
			display: none;
		}

		&:empty + .tiptap-separator,
		.tiptap-separator + &:empty {
			display: none;
		}
	}
}
