.headerContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	padding-left: var(--site-spacing);
	padding-right: var(--site-spacing);
	box-sizing: border-box;
	/* For the carousel */
	padding-bottom: 450px;
}

.getInvolvedContainer {
	position: relative;
	display: inline-block;
	max-width: var(--max-width_s);
	overflow: visible;
	height: fit-content;
}

.getInvolvedContents {
	display: inline-block;
	z-index: 1;
	position: relative;
}

.innerInvolvedContainer {
	bottom: 0px;
	left: 50%;
	position: absolute;
	aspect-ratio: 1;
	width: 300vw;
	max-width: 960px;
	transform: translateY(20%) translateX(-50%);
}
.outerInvolvedContainer {
	--offset: 100px;
	bottom: calc(0px - var(--offset));
	left: 50%;
	position: absolute;
	aspect-ratio: 1;
	width: calc(300vw + calc(var(--offset) * 3.14));
	max-width: calc(960px + calc(var(--offset) * 3.14));
	transform: translateY(20%) translateX(-50%);
}

.outerInvolvedContainer,
.innerInvolvedContainer {
	user-select: none;
	cursor: ew-resize;
}

.circleItem {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	transition:
		opacity 0.75s,
		transform 0.2s;
	transform-origin: top left;
}

.stickerRole {
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -4px;
	right: -4px;
	filter: var(--shadow_sticker_drop_shadow);
}

.break {
	margin-top: var(--spc-3x);
	margin-bottom: var(--spc-6x);
}

.getInvolvedHeader {
	color: var(--primary_default);
	text-shadow: 0px -8px 0px #fff;
	font-family: Figtree;
	font-size: 6rem;
	font-style: normal;
	font-weight: 900;
	line-height: 100%; /* 6rem */

	margin: 0;
	margin-top: var(--spc-8x);
}

.paragraphContainer {
	display: flex;
}

.paragraph {
	color: var(--foreground_emphasis-high);
	text-align: center;

	margin: 0;
	display: inline-block;
	width: 1px;
	flex-grow: 1;
	text-align: center;
}
