@use "../../styles/tokens/index" as *;

.illustrationList {
	display: flex;
	list-style: none;
	padding: 0 var(--site-spacing);
	gap: calc(var(--site-spacing) * 2);
	flex-wrap: wrap;
	max-width: var(--max-width_m);
	margin: 0 auto;
	margin-top: var(--site-spacing);
	justify-content: center;
}

.illustrationListItem {
	width: 1px;
	flex-grow: 1;

	@include until($tabletSmall) {
		width: 100%;
	}
}

.illustration {
	background-color: var(--tint_primary_low);
	height: 144px;
	width: 100%;
	position: relative;
	border-radius: var(--corner-radius_xl);
	overflow: hidden;
}

.illustrationImage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.illustrationBackground {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	mask-image: radial-gradient(circle, #000 0%, transparent 50%);
	transform: translate(-50%, -50%);
	z-index: -1;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--primary80, #87ceff);
		mask-image: url("/patterns/dots-grid.svg");
		mask-position: 4px 4px;
		mask-repeat: repeat;
	}
}

.illustrationTextContainer {
	display: flex;
}

.illustrationText {
	margin: 0;
	margin-top: var(--spc-4x);
	display: inline-block;
	width: 1px;
	flex-grow: 1;
	color: var(--primary_medium);
	text-align: center;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	// stylelint-disable-next-line property-no-deprecated
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
