@import "src/tokens/index";

.container {
	// full-width items on mobile
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--spc-8x);

	@include from($desktopSmall) {
		flex-direction: row;
	}
}

.content {
	max-width: 100%;
	flex-basis: 100%;
	overflow-x: hidden;
}

.sidebar {
	@include from($desktopSmall) {
		top: var(--spc-8x);
		min-width: 320px;

		width: 1px;
		flex-grow: 1;
		position: sticky;
		align-self: flex-start;
	}
}
