@import "../../../styles/vars";
@import "../../../styles/utils";
@import "../../../styles/text_styles";

.container {
	margin: 0 auto 50px auto;
	max-width: 948px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include until($endSmallScreenSize) {
		margin-bottom: 16px;
	}
}

.container > * {
	flex: 0 0 auto;
	max-width: 100%;
}

.headerPic {
	$desktopImgSize: 300px;
	max-width: $desktopImgSize;
	max-height: $desktopImgSize;
	margin-right: 48px;
	margin-bottom: 16px;
	height: 100%;
	width: 100%;

	@include until($endSmallScreenSize) {
		$mobileImgSize: 150px;
		max-width: $mobileImgSize;
		max-height: $mobileImgSize;
		margin-right: 0;
	}
}

.title {
	@extend %headline-1;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--highImpactBlack);
	margin: 0;
	@include until($endSmallScreenSize) {
		text-align: center;
	}
}

.noMgContainer {
	display: inline-block;
	vertical-align: top;
	width: 600px;
}

.subheader {
	@extend %subheader-2;
	margin: 22px 0 0 0;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--midImpactBlack);
	white-space: pre-line;

	@include until($endSmallScreenSize) {
		margin: 16px 16px 0;
	}
}
