@import "../../../styles/vars";
@import "../../../styles/utils";
@import "../../../styles/text_styles";

.container {
	margin: 0 auto 50px auto;
	max-width: 948px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include until($endSmallScreenSize) {
		margin-bottom: 16px;
	}
}

.container > * {
	flex: 0 0 auto;
	max-width: 100%;
}

.headerPic {
	$desktopImgSize: 300px;
	width: $desktopImgSize;
	height: $desktopImgSize;
	margin-right: 48px;
	margin-bottom: 16px;
	max-height: 100%;
	max-width: 100%;

	& > picture > img {
		height: 100%;
		width: 100%;
	}

	@include until($endSmallScreenSize) {
		$mobileImgSize: 150px;
		width: $mobileImgSize;
		height: $mobileImgSize;
		margin-right: 0;
	}
}

.title {
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--highImpactBlack);
	margin: 0;
	@include until($endSmallScreenSize) {
		text-align: center;
	}
}

.noMgContainer {
	display: inline-block;
	vertical-align: top;
	width: 600px;
}

.subheader {
	margin: 22px 0 0 0;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--midImpactBlack);

	@include until($endSmallScreenSize) {
		margin: 16px 16px 0;
	}
}
