.profilePicsContainer {
  position: absolute;
  left: 24px;
  top: 24px;
}

.twoAuthorPicSize {
  width: 50px !important;
  height: 50px !important;
}

.profilePicLink {
  position: absolute;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}


.profilePic {
  display: block !important;
}
