@import "../../vars";

.container {
	position: relative;
	flex-shrink: 0;
	height: 85px;
	width: 85px;

	@include until($endSmallScreenSize) {
		$mobilePicSize: 64px;
		height: $mobilePicSize;
		width: $mobilePicSize;
	}
}

.profilePicContainer {
	position: absolute;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;

	&:not(.twoAuthor) {
		$desktopSingleSize: 100%;
		height: $desktopSingleSize;
		width: $desktopSingleSize;
	}

	&.twoAuthor {
		$desktopTwoSize: 75%;
		width: $desktopTwoSize;
		height: $desktopTwoSize;

		&:not(:first-child) {
			left: 20%;
			top: 20%;
		}

		@include until($endSmallScreenSize) {
			top: 0% !important;
			left: 10% !important;

			&:not(:first-child) {
				top: 20% !important;
			}
		}
	}
}

.profilePicImage {
	width: 100% !important;
	height: 100% !important;
}
