@import "src/tokens/index";
@import "./filter-sidebar-props";

.sidebarContainer {
	max-width: var(--search-page_filter_sidebar_max-width);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--search-page_filter_sidebar_gap);
	padding: var(--search-page_filter_sidebar_padding-top)
		var(--search-page_filter_sidebar_padding-end)
		var(--search-page_filter_sidebar_padding-bottom)
		var(--search-page_filter_sidebar_padding-start);
}

.jumpToContents {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.jumpToContents:focus-visible {
	position: unset;
	width: unset;
	height: unset;
	padding: unset;
	margin: unset;
	overflow: unset;
	clip: unset;
	white-space: unset;
	border-width: unset;
}

.buttonsContainer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	gap: var(--search-page_filter_sidebar_order-btn-gap);
}

.authorIcon img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.tagImage {
	filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.24))
		drop-shadow(0px 0.5px 0px rgba(0, 0, 0, 0.12));
	max-width: 100%;
	max-height: 100%;
}

.tagEmoji {
}
