@import "src/tokens/index";

:root {
	--search-page_filter_sidebar_padding-end: 0px;

	@include from($tabletSmall) {
		--search-page_filter_sidebar_max-width: 288px;
	}

	@include from($desktopSmall) {
		--search-page_filter_sidebar_max-width: 320px;
		--search-page_filter_sidebar_padding-top: var(--spc-4x);
		--search-page_filter_sidebar_padding-bottom: var(--site-spacing);
		--search-page_filter_sidebar_padding-start: var(--site-spacing);
		--search-page_filter_sidebar_gap: var(--spc-4x);
		--search-page_filter_sidebar_order-btn-gap: var(--spc-2x);

		--search-page_filter_list_header_min-height: var(--min-target-size_l);
		--search-page_filter_list_header_gap: var(--spc-2x);
		--search-page_filter_list_header_padding-start: var(--spc-3x);
		--search-page_filter_list_header_padding-end: var(--spc-2x);

		--search-page_filter_list_header_title_color: var(
			--foreground_emphasis-high
		);
		--search-page_filter_list_header_count_color: var(--primary_default);
		--search-page_filter_list_header_icon_color: var(--primary_default);
		--search-page_filter_list_header_icon_size: var(--icon-size_regular);

		--search-page_filter_list_divider_color: var(--background_disabled);
		--search-page_filter_list_divider_width: var(--border-width_s);

		--search-page_filter_list_more-btn_margin-horizontal: var(--spc-4x);
		--search-page_filter_list_more-btn_margin-vertical: var(--spc-4x);
	}

	@include from($desktopLarge) {
		--search-page_filter_sidebar_max-width: 360px;
		--search-page_filter_sidebar_padding-end: var(--site-spacing);
	}
}

.sidebarContainer {
	max-width: var(--search-page_filter_sidebar_max-width);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--search-page_filter_sidebar_gap);
	padding: var(--search-page_filter_sidebar_padding-top)
		var(--search-page_filter_sidebar_padding-end)
		var(--search-page_filter_sidebar_padding-bottom)
		var(--search-page_filter_sidebar_padding-start);
}

.buttonsContainer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	gap: var(--search-page_filter_sidebar_order-btn-gap);
}

.authorIcon img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.tagImage {
	filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.24))
		drop-shadow(0px 0.5px 0px rgba(0, 0, 0, 0.12));
	max-width: 100%;
	max-height: 100%;
}

.tagEmoji {
}
