@import "src/tokens/index";

:root {
	--search-page_filter_sidebar_padding-end: 0px;

	--search-page_search-bar_max-height: var(--min-target-size_l);

	--search-page_filter_sidebar_max-width: 320px;
	--search-page_filter_sidebar_padding-top: var(--spc-4x);
	--search-page_filter_sidebar_padding-bottom: var(--site-spacing);
	--search-page_filter_sidebar_padding-start: var(--site-spacing);
	--search-page_filter_sidebar_gap: var(--spc-4x);
	--search-page_filter_sidebar_order-btn-gap: var(--spc-2x);

	--search-page_filter_list_header_min-height: var(--min-target-size_l);
	--search-page_filter_list_header_gap: var(--spc-1x);
	--search-page_filter_list_header_title_padding: var(--spc-1x);
	--search-page_filter_list_header_padding-start: var(--spc-3x);
	--search-page_filter_list_header_padding-end: var(--spc-2x);
	--search-page_filter_list_header_padding-vertical: var(--spc-2x);

	--search-page_filter_list_header_title_color: var(--foreground_emphasis-high);
	--search-page_filter_list_header_count_color: var(--primary_default);
	--search-page_filter_list_header_icon_color: var(--primary_default);
	--search-page_filter_list_header_icon_size: var(--icon-size_regular);

	--search-page_filter_list_header_background-color_hovered: var(--surface_primary_emphasis-none);
	--search-page_filter_list_header_background-color_pressed: var(--surface_primary_emphasis-low);
	--search-page_filter_list_header_background-color_focused: var(--background_focus);
	--search-page_filter_list_header_focus-outline_width: var(--border-width_focus);
	--search-page_filter_list_header_focus-outline_color: var(--focus-outline_primary);

	--search-page_filter_list_divider_color: var(--background_disabled);
	--search-page_filter_list_divider_width: var(--border-width_s);

	@include from($tabletLarge) {
		--search-page_search-bar_max-height: var(--min-target-size_m);
		--search-page_filter_sidebar_max-width: 288px;
	}

	@include from($desktopLarge) {
		--search-page_search-bar_max-height: var(--min-target-size_m);
		--search-page_filter_sidebar_max-width: 360px;
		--search-page_filter_sidebar_padding-end: var(--site-spacing);
	}
}
