@import "../../styles/vars";
@import "../../styles/text_styles";

.tableList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tocLi {
	margin-top: 12px;
}

.tocLi a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.tocLi:global(.toc-is-active) a {
	font-weight: 700;
	color: var(--darkPrimary) !important;
}

.tocH1 a {
	color: var(--midImpactBlack);
}

.tocH2 {
	@extend %body-1;
}

.tocH3,
.tocH4 {
	@extend %body-2;
}

.tocH2, .tocH3, .tocH4 {
	a {
		color: var(--midImpactBlack);
		font-style: italic;
	}
}

@for $i from 1 through 4 {
	.tocH#{$i} {
		margin-left: $i * 10px;
	}
}
