@import "src/tokens/index";
@import "../../framework-field-guide/tokens/breakpoints";

:root {
	--article-link-padding-ver: var(--spc-1x);
	--article-link-padding-start: var(--spc-1x);
	--article-link-padding-end: var(--spc-2x);
	--article-link-icon-size: 24px;
}

.whatYouNeedContainer {
	max-width: var(--max-width_small);
	padding: var(--section-ver-padding) var(--section-hor-padding) !important;
}

.whatYoullNeedText {
	color: var(--on-dark-emphasis-high);
	margin: 0;
}

.gridContainer {
	margin-top: var(--section-ver-padding);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--section-hor-padding);

	@include from($desktop) {
		flex-direction: row;
	}
}

.gridItemContainer {
	@include from($desktop) {
		flex-basis: 50%;
	}
}

.gridItem {
	margin-bottom: var(--spc-2x);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	border-style: solid;
	border-color: var(--outline);
	border-width: var(--grid-item-border-width);
	border-radius: var(--grid-item-corner-radius);
	padding: var(--grid-item-padding_top) var(--grid-item-padding_horizontal)
		var(--grid-item-padding_bottom);
	color: var(--on-dark-emphasis-high);
}

.gridItem svg {
	position: absolute;
	left: 50%;
	background: var(--section-background);
	transition: background var(--color-transition-time)
		var(--color-transition-ease);
	padding-left: var(--grid-icon-padding);
	padding-right: var(--grid-icon-padding);
	height: var(--grid-icon-size) !important;
	width: var(--grid-icon-size) !important;
	transform: translateX(-50%);
	top: calc(0px - (var(--grid-icon-size) / 2));
}

.gridItem svg * {
	fill: var(--on-dark-emphasis-high) !important;
}

.helpfulLinksList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.helpfulLinkContainer {
	text-align: left;
}

.helpfulLinks {
	color: var(--on-dark-emphasis-medium);
}

.helpfulLinks::before {
	opacity: 0;
}

.helpfulLinkGeneric {
	padding: var(--spc-1x) var(--spc-2x) var(--spc-1x) var(--spc-1x);
	margin: 0;
	display: flex;
	align-content: center;
	position: relative;
	border-radius: var(--corner-radius-circular);
	align-items: center;
}

.helpfulLinkGeneric::before {
	content: " ";
	display: inline-block;
	height: var(--article-link-icon-size);
	width: var(--article-link-icon-size);
	padding: 2px;
	box-sizing: border-box;
	background-image: url("../../framework-field-guide/icons/link.svg");
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: var(--spc-2x);
}

.helpfulLinkLink {
	position: relative;
	color: var(--on-dark-emphasis-high);
}

.helpfulLinkLink::before {
	position: absolute;
	bottom: -2px;
	content: " ";
	width: 100%;
	height: 2px;
	left: 0;
	background: var(--on-dark-emphasis-medium);
	border-radius: 2px;
}
