@import "../../../styles/vars";
@import "../../../styles/text_styles";
@import "../../../components/post-card/post-card.module";

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.localCard {
  padding: 1rem !important;
  margin-bottom: 1rem;
  text-decoration: none;
}

.localCard a {
  text-decoration: none;
}

.aTag {
  display: block;
}

.localCard:hover .titleTag {
  text-decoration: underline;
  transition: text-decoration var(--animSpeed);
}

.header {
  @extend %headline-4;
  margin-bottom: 1rem;
}

.author {
  color: var(--midImpactBlack) !important;
  text-underline-style: none;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
