---
const [codeBlock] = await Astro.glob("../code-block/index.md");
import "../../../../styles/shiki.scss";
---

<div class="darkTheme" style="--shiki-color-background: transparent;">
	<codeBlock.Content />
</div>
<style is:global>
	pre {
		margin: 0;
		border: none;
	}

	code .line::before {
		color: var(--slate-300);
		font-family: "Fira Code";
		font-style: normal;
		font-weight: 450;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	pre code {
		font-family: "Fira Code";
		font-style: normal;
		font-weight: 450;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.tabs {
		border-radius: var(--code-block-corner-radius);
		padding: var(--code-block-padding);
		background: var(--slate-800);
	}

	.tabs__tab-list {
		padding: 0;
		margin: 0;
	}

	.tabs__tab {
		list-style: none;
		margin: 0;
		display: inline-block;
		position: relative;
		cursor: pointer;
		color: var(--on-dark-emphasis-high);
		min-width: var(--code-block-tab-min-size);
		border-radius: var(--code-block-tab-corner-radius)
			var(--code-block-tab-corner-radius) 0 0;
		background: var(--slate-800);
		/* Replace with tokens */
		padding: 20px 24px 20px 24px;
	}

	.tabs__tab[aria-selected="true"] {
		background: var(--slate-700);
	}

	.tabs__tab-panel {
		border-radius: 0 0 var(--code-block-corner-radius)
			var(--code-block-corner-radius);
		background: var(--slate-700);
		padding: var(--code-block-spacing);
	}
</style>
