---
const [codeBlock] = await Astro.glob("../code-block/index.md");
import "../../../../styles/shiki.scss";
import "./code-block.scss";
---

<div class="darkTheme" style="--shiki-color-background: transparent;">
	<codeBlock.Content />
</div>
