---
const [codeBlock] = await Astro.glob("../code-block/index.md");
import "../../../../styles/shiki.scss";
import "./code-block.scss";
import styles from "./code-block.module.scss";
---

<section class={styles.blockContainer}>
	<h4 class={`text-style-headline-4 ${styles.sectionTitle}`}>
		Don't want to learn all three? No problem!
	</h4>
	<p class={`text-style-body-large ${styles.sectionContent}`}>
		You can easily select a single framework and use this series to learn it
		front-and-back.
	</p>
	<div class="darkTheme" style="--shiki-color-background: transparent;">
		<codeBlock.Content />
	</div>
</section>
