---
import BigFilledButton from "../components/big-filled-button.astro";
import BigOutlinedButton from "../components/big-outlined-button.astro";
import BookCoverContainer from "../components/book-cover-container.astro";
import BookCoverLayer from "../components/book-cover-layer.astro";
import ChipGroup, { TagList } from "../components/chip-group.astro";
import SectionMetric from "../components/section-metric.astro";
import "../components/shared-section-styling.scss";
import { GroundAndManSvg } from "../cover-layers/fundamentals/ground_and_man";
import { SignGroundReflection } from "../cover-layers/fundamentals/sign_ground_reflection";
import { Trees } from "../cover-layers/fundamentals/trees";
import { Mountains } from "../cover-layers/fundamentals/mountains";
import { BackgroundRepeat } from "../cover-layers/fundamentals/background_repeat";
import SafeArea from "../cover-layers/fundamentals/safe-area.astro";

const tags: TagList = [
	"What is a component?",
	"Component relationships",
	"Lifecycle methods",
	"Dynamic HTML",
	"Attribute binding",
	"Rendering",
	"Un-rendering",
	"Prop listening",
	"Derived values",
	"Element reference",
	"Component reference",
	"Dependency injection",
	"Custom hooks",
	"Error handling",
	"Accessibility (A11Y)",
	"Forms and data binding",
	"DOM updating",
	"React",
	"Angular",
	"Vue",
	"Live updating values",
	"Inputs",
	"Outputs",
	"Event bindings",
	"Directives",
	"Portals",
	"Side effects",
	"Event bubbling",
	"Pipes",
	"Custom hooks",
] as const;
---

<style>
	.background-repeat-layer {
		grid-template-columns: 1fr auto 1fr !important;
	}
</style>
<BookCoverContainer>
	<BookCoverLayer>
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<Mountains />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer>
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<Trees />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer class="background-repeat-layer">
		<div slot="left"></div>
		<div
			slot="center"
			style="max-width: min(var(--max-width_small),100vw,100vh); width: 100vw;"
		>
			<SafeArea />
		</div>
		<div slot="right"><BackgroundRepeat /></div>
	</BookCoverLayer>
	<BookCoverLayer class="background-repeat-layer">
		<div slot="left"><BackgroundRepeat /></div>
		<div
			slot="center"
			style="max-width: min(var(--max-width_small),100vw,100vh); width: 100vw;"
		>
			<SafeArea />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer>
		<div slot="left"></div>
		<div slot="center">
			<SignGroundReflection />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer>
		<div slot="left"></div>
		<div slot="center">
			<GroundAndManSvg />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
</BookCoverContainer>
<div class="class-book-1">
	<div class="book-section" style="background: var(--section-background);">
		<h3 class={`text-style-display-1 book-title`}>Fundamentals</h3>
		<p class={`text-style-headline-4 book-subtitle`}>
			Learn how to build apps using these frameworks
		</p>
		<p class={`text-style-body-large book-bio`}>
			React, Angular, and Vue have exploded in popularity within the past few
			years, but to use these frameworks you need to understand a collection of
			core concepts and framework-specific syntax.<br /><br />This book
			introduces these core concepts and prepares you to write original code
			using these frameworks.
		</p>
		<div class="book-ctas">
			<BigFilledButton>Read now</BigFilledButton>
			<BigOutlinedButton>Learn more</BigOutlinedButton>
		</div>
		<p class={`text-style-body-large-bold book-coming-soon`}>
			Coming soon — in early access now!
		</p>
		<div class="section-metrics-main-container" data-no-horiz-pad>
			<SectionMetric numberStr="40K" subtitle="words" asterisk={false} />
			<SectionMetric numberStr="18" subtitle="chapters" asterisk={true} />
		</div>
		<div class="section-chip-group-container" data-no-max-width>
			<ChipGroup tags={tags} />
		</div>
	</div>
</div>
