---
import BookCoverContainer from "../components/book-cover-container.astro";
import BookCoverLayer from "../components/book-cover-layer.astro";
import { BearCenter } from "../cover-layers/internals/bear_center";
import { CloudsFirstLayer } from "../cover-layers/internals/clouds_first_layer";
import { CloudsFourthLayer } from "../cover-layers/internals/clouds_fourth_layer";
import { CloudsSecondLayer } from "../cover-layers/internals/clouds_second_layer";
import { CloudsThirdLayer } from "../cover-layers/internals/clouds_third_layer";
import { GroundRepeat } from "../cover-layers/internals/ground_repeat";
import SafeArea from "../cover-layers/internals/safe-area.astro";
import { Trees } from "../cover-layers/internals/trees";
---

<style>
	.background-repeat-layer {
		grid-template-columns: 1fr auto 1fr !important;
	}

	.internals-cover {
		background-color: var(--inter-900);
	}
</style>

<BookCoverContainer class="internals-cover">
	<BookCoverLayer moveOnScrollBy={0.01} name="clouds-fourth-layer">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<CloudsFourthLayer />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer moveOnScrollBy={0.01} name="clouds-third-layer">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<CloudsThirdLayer />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer moveOnScrollBy={0.01} name="clouds-second-layer">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<CloudsSecondLayer />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer moveOnScrollBy={0.01} name="clouds-first-layer">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<CloudsFirstLayer />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer moveOnScrollBy={0.01} name="trees-internals">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<Trees />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="ground">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<GroundRepeat />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="left-repeat" class="safe-area-internals">
		<div slot="left"></div>
		<div
			slot="center"
			style="max-width: min(var(--max-width_small),100vw,100vh); width: 100vw;"
		>
			<SafeArea />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="bear">
		<div slot="left"></div>
		<div slot="center">
			<BearCenter />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
</BookCoverContainer>
