@import "../../../../styles/utils";
@import "../tokens/breakpoints.scss";

.fullQuotesContainer {
	max-width: var(--max-width_large);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);
	padding: var(--section-ver-padding) var(--section-hor-padding);
	color: var(--on-dark-emphasis_high);
	transition: color var(--color-transition-time) var(--color-transition-ease);
	will-change: transition;
}

.quotesHeaderContainer {
	max-width: var(--max-width_small);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);
}

.quoteHeaderTitle {
	text-align: center;
	margin: 0;
}

.quotesContainer {
	column-count: 1;
	column-gap: var(--quote-grid-gap);
}

.quotesContainer > * {
	break-inside: avoid;
	margin-bottom: var(--quote-grid-gap);
}

@include from($tablet) {
	.quotesContainer {
		column-count: 2;
	}
}

@include from($desktop) {
	.quotesContainer {
		column-count: 3;
	}
}
