@import "../../../../styles/utils";
@import "../tokens/breakpoints.scss";

.container {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	text-align: center;
	max-width: var(--max-width_large);
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 48px;
}

.headerContainer {
	margin: 0;
}

.headerTop {
	display: block;
	color: var(--slate-300);
}

.headerBottom {
	display: block;
	color: var(--slate-100);
}

.explainerText {
	color: var(--slate-100);
	max-width: 640px;
	margin: 0 auto;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.toggleListContainer {
	padding: 8px;
	overflow: hidden;
	position: relative;
}

.toggleListContainerInner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--slate-800);
	border-radius: 48px;
}

.fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.checkboxContainer {
	width: 100%;
}

.checkBox ~ label {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	border-radius: 48px;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
}

.highlighedContainer {
	position: absolute;
	// 8px due to padding
	top: 8px;
	left: 8px;
	width: calc(100% - 8px - 8px);
	pointer-events: none;
	// Index 1
	clip-path: inset(0 66.66% 0 0 round 48px);
	transition: clip-path 300ms;

	&.toggleListContainerInner {
		background-color: var(--slate-100);
	}

	.checkBox ~ label {
		color: var(--slate-900);
	}
}

.toggleListContainer[data-selected-index="1"] {
	.highlighedContainer {
		clip-path: inset(0 66.66% 0 0 round 48px);
	}
}

.toggleListContainer[data-selected-index="2"] {
	.highlighedContainer {
		clip-path: inset(0 33.33% 0 33.33% round 48px)
	}
}

.toggleListContainer[data-selected-index="3"] {
	.highlighedContainer {
		clip-path: inset(0 0 0 66.66% round 48px);
	}
}

/*
.checkBox:checked ~ label {
	background-color: var(--slate-100);
	border-color: var(--slate-100);
	color: #000;
}
*/
