@import "../../../../styles/utils";
@import "../tokens/breakpoints.scss";

/* TODO: Follow spec when it's ready */

.whyLearnAllThreeContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	text-align: center;
	max-width: var(--max-width_large);
	margin: 0 auto;
}

.headerContainer {
	margin: 0;
}

.whyShouldILearnText {
	display: block;
	margin-bottom: 1rem;
	color: var(--slate-300);
}

.frameworkList {
	color: var(--slate-100);
}

.plus {
	color: var(--slate-300);
}

.whyLearnGrid {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, 1fr);
	max-width: $desktop;
	margin: 0 auto;
	gap: 24px;
	list-style: none;
	padding: 0;
	margin-top: 64px;
}

.whyLearnCard {
	background: var(--slate-800);
	border-radius: 32px;
	padding: 32px 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardText {
	margin: 0;
	color: var(--slate-100);
}
