@import "../../styles/vars";
@import "../../styles/utils";
@import "../../styles/text_styles";

.container {
	font-size: 1.25rem;
	margin-bottom: 40px;

	h1 {
		@extend %headline-1;
		margin-bottom: 24px;
	}

	blockquote {
		font-size: 2rem;
		margin-left: 0;
		transition: color var(--animStyle) var(--animSpeed);
		color: var(--midImpactBlack);
		&::before {
			display: none;
		}
	}
}

.headerTitle {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.aboutBody {
	margin: 0 auto;
}

.unicornLogo {
	height: 192px;
	width: 192px;
}

.unicornList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $spacing * 8;
}
