body {
	font-family: sans-serif;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 96px;
	box-sizing: border-box;
	background-color: rgba(229, 242, 255, 1);
}

button {
	padding: 12px 16px;
	border: none;
	border-radius: 99px;
	font-weight: 700;
	transition-duration: 0.1s;
	background-color: rgba(200, 230, 255, 1);
}

button:hover {
	transition-duration: 0.1s;
	background-color: rgba(135, 206, 255, 1);
}