.container {
  margin: 0 auto 50px auto;
  max-width: 948px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container > * {
  flex: 0 0 auto;
  max-width: 100%;
}

.headerPic {
  max-width: 300px;
  max-height: 300px;
  margin-right: 48px;
  margin-bottom: 16px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  color: var(--highImpactBlack);
  margin: 0;
}

.noMgContainer {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.subheader {
  margin: 22px 0 0 0;
  color: var(--midImpactBlack);
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.socialsContainer {
  display: flex;
  font-family: var(--oswald);
  font-size: 36px;
  color: var(--darkPrimary)
}

.socialsContainer > * {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-top: 10px;
}

.socialsContainer > *:not(:first-child) {
  margin-left: 20px;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsContainer svg {
  height: 36px;
  width: 36px;
  fill: none;
}
