@import '../../vars';

.container {
  margin: 0 auto 50px auto;
  max-width: 948px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container > * {
  flex: 0 0 auto;
  max-width: 100%;
}

.headerPic {
  max-width: 300px;
  max-height: 300px;
  margin-right: 48px;
  margin-bottom: 16px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  transition: color var(--animStyle) var(--animSpeed);
  color: var(--highImpactBlack);
  margin: 0;
}

.noMgContainer {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.subheader {
  margin: 22px 0 0 0;
  transition: color var(--animStyle) var(--animSpeed);
  color: var(--midImpactBlack);
  font-size: 32px;
  font-weight: 400;
  white-space: pre-line;
}

.socialsContainer {
  display: flex;
  transition: color var(--animStyle) var(--animSpeed);
  font-family: var(--oswald);
  font-size: 36px;
  color: var(--darkPrimary)
}

@media screen and (max-width: ($mobileScreenSize - 1px)) {
  .socialsContainer {
    display: list-item;
    list-style: none;
  }

  .socialsContainer > * {
    justify-content: left;
  }
}

@media screen and (min-width: $mobileScreenSize) {
  .socialsContainer > *:not(:first-child) {
    margin-left: 20px;
  }
}

.socialsContainer > * {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-top: 10px;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsContainer svg {
  height: 36px;
  width: 36px;
  fill: none;
}
