@import "../../styles/vars";
@import "../../styles/utils";

.blogPostLayoutContainer {
	display: flex;
	flex-wrap: nowrap;
	max-width: 1500px;
	margin: 0 auto;
}

.centerContainer {
	margin: 0 auto;
	max-width: 100%;
	flex-basis: 100%;
}

.rightContainer,
.leftContainer {
	top: 4rem;
	overflow: auto;
	height: calc(100vh - 6rem);
	min-width: 220px;
}

// This makes up ~80% of desktop users as-of Oct 2021 (past 3 months)
// For reference, ~80% of desktop users had >750px height
@media (max-width: 1270px) {
	.rightContainer {
		display: none;
	}
}

.leftContainer,
.rightContainer {
	width: 1px;
	flex-grow: 1;
	position: sticky;
	align-self: flex-start;
	overflow: auto;

	animation: fadeIn 300ms ease-in-out;

	// Add 400px to the parent of the blog post, if it matches this, we want to hide the side elements from the browser
	// This means no left and right containers on mobile
	@include until(#{$baseUnit * (88 + 50)}px) {
		display: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
