$themes: (
	"light": (
		--focus_background: #fff,
		--primary-background: #e5f2ff,
		--primary-focus_outline: #006590,
		--primary-brand-default: #006590,
		--primary-brand-on_default: #e5f2ff,
		--primary-brand-variant: #87ceff,
		--primary-brand-on_variant: #001e2e,
		--primary-brand-highlight: #00344d,
		--primary-brand-on_highlight: #e5f2ff,
		--primary-text-emphasis_medium: #20506a,
		--primary-text-emphasis_high: #00344d,
		--primary-surface-emphasis_none: rgba(#87ceff, 0.16),
		--primary-surface-emphasis_low: rgba(#87ceff, 0.32),
		--primary-surface-emphasis_medium: rgba(#87ceff, 0.64),
		--primary-surface-emphasis_high: #87ceff,
		--secondary-background: #ffebf7,
		--secondary-focus_outline: #8c4585,
		--secondary-brand-default: #8c4585,
		--secondary-brand-on_default: #ffebf7,
		--secondary-brand-variant: #ffadf3,
		--secondary-brand-on_variant: #380037,
		--secondary-surface-emphasis_none: rgba(#ffadf3, 0.16),
		--secondary-surface-emphasis_low: rgba(#ffadf3, 0.32),
		--secondary-surface-emphasis_medium: rgba(#ffadf3, 0.64),
		--secondary-surface-emphasis_high: #ffadf3,
		--neutral-foreground-emphasis_none: rgba(#0b1d28, 0.16),
		--neutral-foreground-emphasis_low: rgba(#0b1d28, 0.32),
		--neutral-foreground-emphasis_medium: rgba(#0b1d28, 0.64),
		--neutral-foreground-emphasis_high: #0b1d28,
		--neutral-inactive-foreground: rgba(#0b1d28, 0.48),
		--neutral-inactive-background: rgba(#0b1d28, 0.12),
	),
	"dark": (
		--focus_background: #364853,
		--primary-background: #0b1d28,
		--primary-focus_outline: #87ceff,
		--primary-brand-default: #87ceff,
		--primary-brand-on_default: #001e2e,
		--primary-brand-variant: #006590,
		--primary-brand-on_variant: #e5f2ff,
		--primary-brand-highlight: #c8e6ff,
		--primary-brand-on_highlight: #001e2e,
		--primary-text-emphasis_medium: #e5f2ff,
		--primary-text-emphasis_high: #c8e6ff,
		--primary-surface-emphasis_none: rgba(#006590, 0.16),
		--primary-surface-emphasis_low: rgba(#006590, 0.32),
		--primary-surface-emphasis_medium: rgba(#006590, 0.64),
		--primary-surface-emphasis_high: #006590,
		--secondary-background: #380037,
		--secondary-focus_outline: #ffadf3,
		--secondary-brand-default: #ffadf3,
		--secondary-brand-on_default: #380037,
		--secondary-brand-variant: #8c4585,
		--secondary-brand-on_variant: #ffebf7,
		--secondary-surface-emphasis_none: rgba(#8c4585, 0.16),
		--secondary-surface-emphasis_low: rgba(#8c4585, 0.32),
		--secondary-surface-emphasis_medium: rgba(#8c4585, 0.64),
		--secondary-surface-emphasis_high: #8c4585,
		--neutral-foreground-emphasis_none: rgba(#e5f4ff, 0.16),
		--neutral-foreground-emphasis_low: rgba(#e5f4ff, 0.32),
		--neutral-foreground-emphasis_medium: rgba(#e5f4ff, 0.64),
		--neutral-foreground-emphasis_high: #e5f4ff,
		--neutral-inactive-foreground: rgba(#e5f4ff, 0.48),
		--neutral-inactive-background: rgba(#e5f4ff, 0.12),
	),
);

// Mixin for all of the CSS variables used to reference the theme values
@mixin theme-vars($t) {
	@each $key, $value in map-get($themes, $t) {
		#{$key}: #{$value};
	}
}

// Reference a specific themed variable (and check to ensure it exists)
@function theme-var($key) {
	// ensure that the variable is defined in all themes
	@each $theme, $map in $themes {
		@if not map-has-key($map, $key) {
			@error "Theme variable #{$key} is not defined in $themes.#{$theme}.";
		}
	}

	@return var($key);
}
