@font-face {
	font-family: "Asap";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Asap/Asap-Regular.woff2") format("woff2"),
		url("/fonts/Asap/Asap-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Asap";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/Asap/Asap-Bold.woff2") format("woff2"),
		url("/fonts/Asap/Asap-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Work_Sans/WorkSans-Regular.woff2") format("woff2"),
		url("/fonts/Work_Sans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/Work_Sans/WorkSans-Medium.woff2") format("woff2"),
		url("/fonts/Work_Sans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/Work_Sans/WorkSans-SemiBold.woff2") format("woff2"),
		url("/fonts/Work_Sans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/Work_Sans/WorkSans-Bold.woff2") format("woff2"),
		url("/fonts/Work_Sans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Archivo";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Archivo/Archivo-Regular.woff2") format("woff2"),
		url("/fonts/Archivo/Archivo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Roboto_Mono/RobotoMono-Regular.woff2") format("woff2"),
		url("/fonts/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
}

// Fallback fonts for minimal CLS
// see: https://simonhearne.com/2021/layout-shifts-webfonts/#reduce-layout-shift-with-f-mods
@font-face {
	font-family: "Work Sans-fallback";
	size-adjust: 111.87%;
	ascent-override: 80%;
	src: local("Arial");
}

@font-face {
	font-family: "Work Sans-fallback2";
	size-adjust: 111.9%;
	src: local("Roboto");
}

@font-face {
	font-family: "Archivo-fallback";
	size-adjust: 98.5%;
	ascent-override: 85%;
	src: local("Arial");
}

@font-face {
	font-family: "Archivo-fallback2";
	size-adjust: 97.5%;
	src: local("Roboto");
}

$asap: "Asap", "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
$workSans: "Work Sans", "Work Sans-fallback", "Work Sans-fallback2", sans-serif;
$archivo: "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
$robotoMono: "Roboto Mono", monospace;
