@import "./utils";

$asap: "Asap", "Archivo", sans-serif;
$workSans: "Work Sans", "Archivo", sans-serif;
$archivo: "Archivo", sans-serif;
$robotoMono: "Roboto Mono", monospace;

%beeg {
	font-family: $workSans;
	font-weight: 600;
	font-size: 3rem;
	letter-spacing: 0em;
	line-height: 130%;
	@include from($endSmallScreenSize) {
		font-size: 4rem;
	}
}

%headline-1 {
	font-family: $workSans;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 0em;
	line-height: 130%;
	@include from($endSmallScreenSize) {
		font-size: 2.5rem;
	}
}

%headline-2 {
	font-family: $workSans;
	font-weight: 500;
	font-size: 1.75rem;
	letter-spacing: 0em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 2.25rem;
		line-height: 120%;
	}
}

%headline-3 {
	font-family: $workSans;
	font-weight: 500;
	font-size: 1.625rem;
	letter-spacing: 0em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 2rem;
		line-height: 120%;
	}
}

%headline-4 {
	font-family: $workSans;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0em;
	line-height: 120%;
	@include from($endSmallScreenSize) {
		font-size: 1.75rem;
	}
}

%headline-5 {
	font-family: $workSans;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: 0em;
	line-height: 120%;
	@include from($endSmallScreenSize) {
		font-size: 1.625rem;
	}
}

%headline-6 {
	font-family: $workSans;
	font-weight: 500;
	font-size: 1.375rem;
	letter-spacing: 0em;
	line-height: 120%;
	@include from($endSmallScreenSize) {
		font-size: 1.5rem;
	}
}

%subheader-1 {
	font-family: $workSans;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: -0.04em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 1.5rem;
		line-height: 125%;
	}
}

%subheader-2 {
	font-family: $workSans;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: -0.04em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 1.5rem;
		line-height: 125%;
	}
}

%subheader-3 {
	font-family: $workSans;
	font-weight: 400;
	font-size: 1.25rem;
	letter-spacing: -0.04em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 1.375rem;
		line-height: 130%;
	}
}

%headline-uniwidth-1 {
	font-family: $asap;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0em;
	line-height: 150%;
	@include from($endSmallScreenSize) {
		font-size: 1.125rem;
		line-height: 140%;
	}
}


%headline-uniwidth-2 {
	font-family: $asap;
	font-weight: 400;
	font-size: 0.875rem;
	letter-spacing: 0em;
	line-height: 145%;
	@include from($endSmallScreenSize) {
		font-size: 1rem;
		line-height: 135%;
	}
}

%button {
	font-family: $workSans;
	font-weight: 600;
	font-size: 1.25rem;
	letter-spacing: 0.02em;
	line-height: 130%;
	@include from($endSmallScreenSize) {
		font-size: 1.25rem;
		letter-spacing: 0.04em;
		line-height: 130%;
	}
}

%code-sample {
	font-family: $robotoMono;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 1rem;
	}
}

%overline {
	font-family: $workSans;
	font-weight: 700;
	font-size: 0.75rem;
	letter-spacing: 0.22em;
	line-height: 120%;
	@include from($endSmallScreenSize) {
		font-size: 1.125rem;
	}
}

%body-1 {
	font-family: $archivo;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0em;
	line-height: 150%;
	@include from($endSmallScreenSize) {
		font-size: 1.125rem;
		line-height: 140%;
	}
}

%body-2 {
	font-family: $archivo;
	font-weight: 400;
	font-size: 0.875rem;
	letter-spacing: 0em;
	line-height: 145%;
	@include from($endSmallScreenSize) {
		font-size: 1rem;
		line-height: 135%;
	}
}
%caption {
	font-family: $archivo;
	font-weight: 400;
	font-size: 0.75rem;
	letter-spacing: 0em;
	line-height: 140%;
	@include from($endSmallScreenSize) {
		font-size: 0.875rem;
	}
}
