$startMediumScreenSize: 768px;
$endSmallScreenSize: $startMediumScreenSize - 1px;
$startSmallScreenSize: 440px;
$endSuperSmallScreenSize: $startSmallScreenSize - 1px;
$startSuperSmallScreenSize: 348px;

@function pxToRem($pxNum) {
	@return #{calc($pxNum / 16)}rem;
}

@mixin until($breakpoint) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin from($breakpoint) {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin transition($properties) {
	$transitions: ();
	@each $prop in $properties {
		$transitions: append($transitions, $prop $animStyle $animSpeed, comma);
	}
	transition: $transitions;
}

@mixin darkTheme() {
	:global(html.dark) &, :global(body.dark) &, :global(.darkTheme) & {
		@content;
	}
}
