@import "./colors";

$desktop: 1920px;
$desktopSmall: 1280px;
$tablet: 960px;
$tabletSmall: 640px;
$mobile: 400px;

$rootFontSize: 1rem;

$borderWidth: (
	s: 1px,
	m: 2px,
	l: 4px,
	xl: 8px,
);

$cornerRadius: (
	s: 8px,
	m: 16px,
	l: 24px,
	xl: 32px,
);

$shadow: (
	s: (0px 2px 3px rgba(0, 0, 0, 0.24)),
);

$spacing: 4px;

$animSpeed: 200ms;
$animStyle: ease-in-out;

$fontUniwidth: "Asap", "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
$fontDisplay: "Work Sans", "Work Sans-fallback", "Work Sans-fallback2", sans-serif;
$fontBody: "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
$fontMono: "Roboto Mono", monospace;
