@import "./colors";

$desktop: 1200px;
$tablet: 960px;
$mobile: 600px;

$rootFontSize: 1rem;

$borderWidth: (
	s: 1px,
	m: 2px,
	l: 4px,
	xl: 8px,
);

$cornerRadius: (
	s: 8px,
	m: 16px,
	l: 24px,
	xl: 32px,
);

$spacing: 4px;

$animSpeed: 200ms;
$animStyle: ease-in-out;
