@import "./vars";
@import "./utils";

.container {
	margin: 0 auto;
	padding: 0 ($spacing * 4);

	@include from($desktopSmall) {
		max-width: $desktopSmall;
	}

	@include from($desktop) {
		max-width: $desktop;
	}
}
