@import "src/tokens/index";

.container {
	margin: 0 auto;
	padding: 0 get-var(--spc-4x);

	@include from($desktopSmall) {
		max-width: $desktopSmall;
	}

	@include from($desktop) {
		max-width: $desktop;
	}
}
