@import "src/tokens/index";

:where(.grid) {
	display: grid;
	gap: $spacing * 8;
	grid-template-columns: 1fr;
}

$cols: (1, 2, 3);

@each $col in $cols {
	:where(.grid-#{$col}) {
		grid-template-columns: repeat($col, minmax(0, 1fr));
	}
}

@each $col in $cols {
	@include from($mobile) {
		:where(.grid-mobile-#{$col}) {
			grid-template-columns: repeat($col, minmax(0, 1fr));
		}
	}
}

@each $col in $cols {
	@include from($tabletSmall) {
		:where(.grid-tabletSmall-#{$col}) {
			grid-template-columns: repeat($col, minmax(0, 1fr));
		}
	}
}

@each $col in $cols {
	@include from($tablet) {
		:where(.grid-tablet-#{$col}) {
			grid-template-columns: repeat($col, minmax(0, 1fr));
		}
	}
}

@each $col in $cols {
	@include from($desktopSmall) {
		:where(.grid-desktopSmall-#{$col}) {
			grid-template-columns: repeat($col, minmax(0, 1fr));
		}
	}
}

@each $col in $cols {
	@include from($desktop) {
		:where(.grid-desktop-#{$col}) {
			grid-template-columns: repeat($col, minmax(0, 1fr));
		}
	}
}
