@import "src/tokens/index";
@import "./text-styles.scss";

:where(a) {
	color: var(--primary_default);
}

:where(a:visited) {
	color: var(--secondary_default);
}

.post-body {
	h1 {
		@extend .text-style-headline-1;
		margin: 0 auto;
		margin-top: var(--h1_block-padding-top);
		margin-bottom: var(--h1_block-padding-bottom);
	}

	h2 {
		@extend .text-style-headline-2;
		margin: 0 auto;
		margin-top: var(--h2_block-padding-top);
		margin-bottom: var(--h2_block-padding-bottom);
	}

	h3 {
		@extend .text-style-headline-3;
		margin: 0 auto;
		margin-top: var(--h3_block-padding-top);
		margin-bottom: var(--h3_block-padding-bottom);
	}

	h4 {
		@extend .text-style-headline-4;
		margin: 0 auto;
		margin-top: var(--h4_block-padding-top);
		margin-bottom: var(--h4_block-padding-bottom);
	}

	h5 {
		@extend .text-style-headline-5;
		margin: 0 auto;
		margin-top: var(--h5_block-padding-top);
		margin-bottom: var(--h5_block-padding-bottom);
	}

	h6 {
		@extend .text-style-headline-6;
		margin: 0 auto;
		margin-top: var(--h6_block-padding-top);
		margin-bottom: var(--h6_block-padding-bottom);
	}

	p {
		@extend .text-style-body-large;
		margin-top: var(--p_block-padding-vertical);
		margin-bottom: var(--p_block-padding-vertical);
	}

	color: var(--foreground_emphasis-high);

	h1,
	.text-style-headline-1,
	h2,
	.text-style-headline-2,
	h3,
	.text-style-headline-3,
	h4,
	.text-style-headline-4,
	h5,
	.text-style-headline-5,
	h6,
	.text-style-headline-6 {
		color: var(--foreground_emphasis-high);
	}

	picture {
		display: block;
	}

	img:not([data-dont-round]):not([src$=".svg"]),
	video:not([data-dont-round]) {
		border-radius: var(--corner-radius_m);
	}

	img.medium-zoom-image {
		max-width: 100%;
		height: auto;
	}

	img.medium-zoom-image[src$=".svg"] {
		width: 100%;
		max-height: 50vh;
	}

	pre,
	code {
		@extend .text-style-code;
		// Ensures consistent font-size within code blocks on iOS devices
		-webkit-text-size-adjust: 100%;
	}

	code:not(pre code) {
		font-family: var(--uu-font-family-code);
		font-size: 0.8em;
		font-weight: 500;

		color: var(--secondary_on-variant);

		background-color: var(--background_secondary);
		padding-bottom: 0.15em;
		padding-left: 0.15em;
		padding-right: 0.15em;
		border: 0.075em solid var(--secondary_variant);
		border-radius: 0.25em;

		// the table header has a primary background...
		&:where(thead code) {
			color: var(--white);
			background-color: var(--primary30);
			border-color: var(--primary60);
		}
	}

	a code {
		text-decoration: underline;
	}

	a:focus-visible:not([class]) {
		// adding +0.5px to each value converted to rem to ensure that it is
		// the expected size when aliasing rounds it down to a px value
		outline: pxToRem(3.5) solid var(--focus-outline_primary);
		outline-offset: pxToRem(1.5);
		border-radius: calc(var(--border-width_focus) / 2);
	}

	kbd {
		font-family: var(--uu-font-family-code);
		font-size: 0.8em;
		font-weight: 500;
		color: var(--black);
		background-color: #eaeaea;
		text-shadow: 0px 0.075em var(--white);
		line-height: 1;
		padding: 0.15em;
		border: 0.075em solid var(--white);
		border-radius: 0.25em;
		box-shadow: var(--shadow_sticker);
	}

	// <code> and <kbd> styling will overlap other lines in header elements
	// because their containers expand past the available line-height.
	// - `display: inline-flex` forces the line to expand to fit these elements.
	//   while centering its contents (`align-items: center`)
	// - albeit with the caveat of not being able to wrap its contents between lines
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;

		// offset scroll snap positions by the size of the sticky header + spacing
		// (tokens in src/views/base/navigation/header.module.scss)
		//
		// - this prevents elements targeted by the URL hash (e.g. "/some-page#Heading-ID")
		//   from being obscured by the header
		scroll-margin-top: calc(
			var(--header_logo_size) + var(--header_padding-vertical) * 2 + 1px +
				var(--site-spacing)
		);

		code {
			display: inline-flex;
			height: calc(1.2em + 0.15em);
			align-items: center;
		}

		kbd {
			display: inline-flex;
			height: calc(1.2em + 2 * 0.15em);
			align-items: center;
		}
	}

	hr {
		position: relative;
		overflow: clip;
		border: none;
		margin-top: var(--site-spacing);
		margin-bottom: var(--site-spacing);

		color: var(--primary_variant);
		height: 20px;

		background: linear-gradient(
			to right,
			transparent,
			currentColor 1%,
			currentColor 99%,
			transparent
		);
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 8 8' fill='none'%3E%3Cpath stroke='%23000' stroke-width='1.6' stroke-linecap='round' d='M -4 4 C -3 5 -1 5 0 4 C 1 3 3 3 4 4 C 5 5 7 5 8 4 C 9 3 11 3 12 4'%3E%3C/path%3E%3C/svg%3E");
		mask-repeat: repeat-x;
	}
}

@import "src/styles/markdown/blockquote";
@import "src/styles/markdown/codeblock";
@import "src/styles/markdown/embed";
@import "src/styles/markdown/hints";
@import "src/styles/markdown/lists";
@import "src/styles/markdown/table";
@import "src/styles/markdown/tooltips";
@import "src/styles/markdown/file-list";
