@import "src/tokens/index";
@import "src/styles/hints";

.post-body {
	h1 {
		margin: 0 auto;
		margin-top: var(--h1_block-padding-top);
		margin-bottom: var(--h1_block-padding-bottom);
	}

	h2 {
		margin: 0 auto;
		margin-top: var(--h2_block-padding-top);
		margin-bottom: var(--h2_block-padding-bottom);
	}

	h3 {
		margin: 0 auto;
		margin-top: var(--h3_block-padding-top);
		margin-bottom: var(--h3_block-padding-bottom);
	}

	h4 {
		margin: 0 auto;
		margin-top: var(--h4_block-padding-top);
		margin-bottom: var(--h4_block-padding-bottom);
	}

	h5 {
		margin: 0 auto;
		margin-top: var(--h5_block-padding-top);
		margin-bottom: var(--h5_block-padding-bottom);
	}

	h6 {
		margin: 0 auto;
		margin-top: var(--h6_block-padding-top);
		margin-bottom: var(--h6_block-padding-bottom);
	}

	p {
		margin-top: var(--p_block-padding-vertical);
		margin-bottom: var(--p_block-padding-vertical);
	}

	ul, blockquote {
		margin-top: var(--p_block-padding-vertical);
		margin-bottom: var(--p_block-padding-vertical);
	}

	color: var(--foreground_emphasis-medium);

	h1, .text-style-headline-1,
	h2, .text-style-headline-2,
	h3, .text-style-headline-3,
	h4, .text-style-headline-4,
	h5, .text-style-headline-5,
	h6, .text-style-headline-6 {
		color: var(--foreground_emphasis-high);
	}


	// Fix autolink-headings anchors positioning
	.anchor {
		line-height: 1;
		padding-right: 24px;

		svg {
			vertical-align: middle;
		}
	}

	.anchor.before {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		padding-right: 24px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	:where(& a) {
		color: var(--primary_default);
	}

	:where(& a:visited) {
		color: var(--secondary_default);
	}

	h1 .anchor svg,
	h2 .anchor svg,
	h3 .anchor svg,
	h4 .anchor svg,
	h5 .anchor svg,
	h6 .anchor svg {
		visibility: hidden;
	}

	h1:hover .anchor svg,
	h2:hover .anchor svg,
	h3:hover .anchor svg,
	h4:hover .anchor svg,
	h5:hover .anchor svg,
	h6:hover .anchor svg,
	h1 .anchor:focus svg,
	h2 .anchor:focus svg,
	h3 .anchor:focus svg,
	h4 .anchor:focus svg,
	h5 .anchor:focus svg,
	h6 .anchor:focus svg {
		visibility: visible;
	}

	img {
		max-width: 100%;
	}

	img[src$=".svg"] {
		width: 100%;
		max-height: 50vh;
	}

	$tableCornerRadius: var(--corner-radius_s);

	thead tr:first-child {
		th, td {
			border-top: none;
		}
	}

	tbody tr:last-child {
		th, td {
			border-bottom: none;
		}
	}

	table tr {
		td:first-child, th:first-child {
			border-left: none;
		}
	}

	table tr {
		td:last-child, th:last-child {
			border-right: none;
		}
	}

	.table-container {
		max-width: 100%;
		// overflow: auto;
	}

	table {
		border-radius: $tableCornerRadius;
		border-collapse: collapse;
		// Border-collapse and border-radius don't mix. This is a workaround for that issue
		box-shadow: 0 0 0 4px var(--surface_primary_emphasis-low);
		margin: 4px;

		@include until($tablet) {
			ul {
				padding: 0;
				list-style: none;
			}
		}
	}

	// Only use a sticky header on tables with 4+ rows
	table:has(tr:nth-child(4)) thead {
		position: sticky;
		top: 0;
	}

	thead {
		color: var(--foreground_emphasis-high);
		// This effectively sets a background using an extremely inset box shadow, which is affected by the border radius
		box-shadow: inset 0px -1px 0px var(--surface_primary_emphasis-high),
			inset 100vw 100vh 0 var(--surface_primary_emphasis-low),
			inset 100vw 100vh 0 var(--background_primary);
	}

	td,
	th {
		border: 1px solid var(--surface_primary_emphasis-high);
		padding: .3rem .6rem;
		line-height: 110%;

		&> code {
			word-break: break-word;
		}

		@include until($tablet) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	iframe {
		box-sizing: border-box;
		display: block;
		max-width: 100%;
		min-height: 500px;
		border: var(--cardOutlineStyle);
		border-radius: 8px;
		overflow: hidden;
	}

	p > code {
		display: inline;
		padding: 0 0.4em;
		font-size: 85%;
		color: var(--black);
		background-color: var(--codeInlineBackground);
		border-radius: 4px;
	}

	kbd {
		background-color: #eee;
		border-radius: 3px;
		border: 1px solid #b4b4b4;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
			0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
		color: #333;
		display: inline-block;
		font-size: 0.85em;
		font-weight: 700;
		line-height: 1;
		padding: 2px 4px;
		white-space: nowrap;
	}

	blockquote {
		position: relative;
		margin-left: 1em;
		color: var(--midImpactBlack);

		&::before {
			content: " ";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 3px;
			background: var(--darkPrimary);
			left: -1em;
		}

		/*a {
        color: rgba(0, 10, 125, 0.6);
    }*/
	}

	blockquote.bigBlock {
		&,
		& * {
			font-size: 1.5rem;
		}
	}
}
