@import "./_utils.scss";

.tabs {
	-webkit-tap-highlight-color: transparent;

	&__tab-list {
		padding: 0;
		margin: 0 1rem -2px;
	}

	&__tab {
		display: inline-block;
		border: 1px solid transparent;
		border-bottom: none;
		bottom: -2px;
		position: relative;
		list-style: none;
		padding: 6px 12px;
		cursor: pointer;

		background: var(--darkPrimary);
		color: var(--backgroundColor);
		border-radius: 0.5rem 0.5rem 0 0;
		margin-right: 4px;

		&[aria-selected="true"] {
			background: var(--backgroundColor);
			border: 2px solid var(--darkPrimary);
			border-bottom: 0px;
			margin-bottom: 2px;
			color: var(--darkPrimary);
		}

		&[aria-disabled="true"] {
			color: GrayText;
			cursor: default;
		}

		&:focus {
			box-shadow: 0 0 5px hsl(208, 99%, 50%);
			border-color: hsl(208, 99%, 50%);
			outline: none;

			&:after {
				content: "";
				position: absolute;
				height: 5px;
				left: -4px;
				right: -4px;
				bottom: -5px;
				background: var(--backgroundColor);
			}
		}
	}

	&__tab-panel {
		border: 2px solid var(--darkPrimary);
		border-radius: 0.5rem;
		padding: 1.5rem;

		&[aria-hidden="true"] {
			display: none;
		}
	}

	@include from(823px) {
		@supports (display: grid) {
			&.tabs-small {
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				align-items: start;

				.tabs__tab-list {
					grid-row-start: 1;
				}

				.tabs__tab-panel {
					grid-row-start: 2;
					grid-column-start: 1;

					&[aria-hidden="true"] {
						display: block;
						visibility: hidden;
					}
				}
			}
		}
	}
}
