@import "./vars";

// :where() in this file is used to ensure a low CSS specificity, so that component-specific CSS can override these values

:where(.d-flex) {
	display: flex;
	align-items: center;
	justify-content: inherit;
}

:where(.text-center) {
	text-align: center;
	justify-content: center;
}
