@import "../../../vars";

.container {
	display: flex;
	justify-content: flex-end;
}

.buttonContainer {
	position: relative;
	max-width: 100%;
}

$btnPadding: 8px 16px 8px 15px;

@include until($endSmallScreenSize) {
	.buttonContainer {
		width: 100%;
	}

	.buttonContainer > .filterButton {
		//not the best way to write this but gets around media query specificity annoyances
		width: 100%;
		justify-content: left;
	}
}

.filterButton {
	cursor: pointer;
	appearance: none;
	max-width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: $btnPadding;
	font-size: var(--filterBarFontSize);
	line-height: var(--filterBarFontSize);
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--darkPrimary);
	border: none;
	background: transparent;
	z-index: 2;
	position: relative;
	overflow: hidden;
	flex-wrap: nowrap;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.filterButton .textContainer {
	position: relative;
}

.filterButton .appliedTags,
.filterButton .placeholder {
	position: absolute;
}

.filterButton .placeholder,
.filterButton .appliedTags {
	transition: top 350ms var(--animStyle);
	top: 0;
	left: 0;
}

.appliedTags {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.placeholder:not(.show) {
	top: 40px;
}

.appliedTags:not(.show) {
	top: -40px;
}

.filterButton .icon {
	margin-right: 16px;
	flex-shrink: 0;
	height: var(--filterBarIconSize);
	width: var(--filterBarIconSize);
}

.listbox {
	outline: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: var(--cardRadius);
	z-index: 1;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	transition: background var(--animSpeed) var(--animStyle),
		box-shadow var(--animSpeed) var(--animStyle),
		border-color var(--animSpeed) var(--animStyle);
}

.listbox:not(.expanded):hover,
.container.expanded .listbox,
.container:not(.expanded) .filterButton:hover + .listbox {
	transition: background var(--animStyle) var(--animSpeed);
	background: var(--cardActiveBackground);
	box-shadow: var(--cardActiveBoxShadow);
}

.container:not(.expanded) .listbox.hasTags {
	border: var(--cardOutlineStyle);
}

.listbox .spacer {
	height: 48px;
}

.option:first-of-type {
	margin-top: -14px !important;
}

.option {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	cursor: pointer;
	padding: 2px 0;
	margin: 2px 0;
	color: var(--lowImpactBlack);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: opacity var(--animSpeed) var(--animStyle),
		box-shadow 60ms var(--animStyle);
	border-radius: 4px;
}

.option svg {
	height: 22px;
	width: 22px;
	background: transparent;
	border-radius: 8px;
	-webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 16px;
	flex-shrink: 0;
}

.option:not(.expanded) {
	opacity: 0;
	z-index: -100;
}

.option span {
	display: inline-flex;
	align-items: center;
}

.option.selected {
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--darkPrimary);
}

.isKeyboard .option.active {
	box-shadow: 0 0 1px 1px var(--primary); //might be nice to have this be the selection thingy for everything if it's fine for a11y -adueppen
}

.option.active {
	color: var(--black);
}

.maxHeightHideContainer {
	overflow: hidden;
	max-height: 100%;
	padding: $btnPadding;
}
