* {
    margin: 0;
}

body {
    font-family: Arial;
}

.grid-container {
    background-color: #C8E6FF;
    display: inline-grid;
    gap: 16px;
    grid-template-rows: 48px 48px;
    grid-template-columns: 72px 72px;
    grid-auto-columns: 144px;
    grid-auto-flow: column;
}

.grid-item {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px dashed #000;
}