---
const { class: className, ...props } =
	Astro.props as astroHTML.JSX.LinkHTMLAttributes;
---

<a
	{...props}
	class={`text-style-button ffg-button-base ffg-big-button ffg-outlined-button ${
		className ? className : ""
	}`}
>
	<slot />
</a>
