---
interface InfiniteLoopSliderProps {
	duration: number;
	reverse: boolean;
}

const { duration, reverse = false } = Astro.props as InfiniteLoopSliderProps;
---

<div
	class="loop-slider"
	style={{
		"--duration": `${duration}ms`,
		"--direction": reverse ? "reverse" : "normal",
	}}
>
	<div class="inner">
		<slot />
	</div>
</div>

<style is:global>
	.loop-slider .inner {
		display: flex;
		width: fit-content;
		animation-name: loop;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: var(--direction);
		animation-duration: var(--duration);
	}

	@keyframes loop {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
</style>
