@import "../tokens/utils";
@import "../tokens/breakpoints";

.pricingCardContainerLi {
	display: block;
	padding: var(--section-ver-padding) var(--section-hor-padding);
	border-radius: var(--pricing-container-radius);
	background: var(--pricing-container_default);
	transition:
		background var(--color-transition-time) var(--color-transition-ease),
		color var(--color-transition-time) var(--color-transition-ease);
	position: relative;
}

.pricingCardContainerLi.highlighted {
	background: var(--pricing-container_highlighted);
}

@include from($desktop) {
	.pricingCardContainerLi {
		width: calc(100% / 3 - var(--pricing-container-radius));
	}
	.pricingCardContainerLi.highlighted {
		width: calc(100% / 3);
	}
}

.pricingCardContainer {
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);
	text-align: center;
}

.topTextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--section-gap);
}

@include from($tablet) {
	.topTextContainer {
		flex-direction: row;
	}

	.topTextContainer > div {
		width: 50%;
	}

	.topTextContainer > div:first-child {
		text-align: start;
	}

	.topTextContainer > div:last-child {
		text-align: end;
	}
}

@include from($desktop) {
	.topTextContainer {
		flex-direction: column;
	}

	.topTextContainer > div {
		width: 100%;
	}

	.topTextContainer > div:first-child,
	.topTextContainer > div:last-child {
		text-align: center;
	}
}

.saleTag {
	position: absolute;
	height: var(--sale-badge-size);
	width: var(--sale-badge-size);
	top: var(--sale-badge-offset);
	right: var(--sale-badge-offset);
	transform: rotate(var(--sale-badge-rotation));
}

.pricingTitle {
	color: var(--on-dark-emphasis-high);
	margin: 0;
	margin-bottom: var(--spc-1x);
}

.pricingDescription {
	color: var(--on-dark-emphasis-medium);
	margin: 0;
}

.pricingPrice {
	color: var(--on-dark-emphasis-high);
	margin: 0;
	margin-bottom: var(--spc-1x);
}

.enterpriseToggleContainer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.enterpriseToggleText {
	margin: 0;
	color: var(--slate-300);
	padding: 0 var(--spc-2x);
}

@include from($desktop) {
	.enterpriseToggleText {
		padding: 0 var(--spc-1x);
	}
}

.enterpriseToggleText {
	text-align: right;
}

.enterpriseToggleText + .enterpriseToggleText {
	text-align: left;
}

.enterpriseToggle:not(:checked) + .enterpriseToggleText {
	color: var(--slate-050);
}

.enterpriseToggle:checked + .enterpriseToggleText + .enterpriseToggleText {
	color: var(--slate-050);
}

.individualText {
	order: -1;
}

input[type="checkbox"].enterpriseToggle {
	appearance: none;
	width: var(--pricing-toggle-width);
	height: var(--pricing-toggle-height);
	position: relative;
	border-radius: 50px;
	box-sizing: content-box;
	cursor: pointer;
	transition: background 150ms ease-in-out;
	background: var(--pricing-toggle-track-color);
}

input[type="checkbox"].enterpriseToggle:hover {
	background: var(--pricing-toggle-track-color_hovered);
}

input[type="checkbox"].enterpriseToggle:active {
	background: var(--pricing-toggle-track-color_pressed);
}

/* Thumb */
input[type="checkbox"].enterpriseToggle::before {
	top: 50%;
	left: var(--pricing-toggle-gap);
	transform: translateY(-50%);
	transition:
		left 150ms ease-in-out,
		background-color 150ms ease-in-out,
		height 150ms ease-in-out,
		width 150ms ease-in-out;
	content: " ";
	width: var(--pricing-toggle-thumb-size);
	height: var(--pricing-toggle-thumb-size);
	background: var(--slate-200);
	position: absolute;
	border-radius: 50px;
}

input[type="checkbox"].enterpriseToggle:hover::before {
	width: var(--pricing-toggle-thumb-size_hovered);
	height: var(--pricing-toggle-thumb-size_hovered);
}

input[type="checkbox"].enterpriseToggle:active::before {
	width: var(--pricing-toggle-thumb-size_pressed);
	height: var(--pricing-toggle-thumb-size_pressed);
}

input[type="checkbox"].enterpriseToggle:hover::before {
	left: var(--pricing-toggle-gap_hovered);
}

input[type="checkbox"].enterpriseToggle:active::before {
	left: var(--pricing-toggle-gap_pressed);
}

input[type="checkbox"].enterpriseToggle:checked {
	background: var(--slate-500);
}

input[type="checkbox"].enterpriseToggle:checked::before {
	left: calc(
		100% - var(--pricing-toggle-thumb-size) - var(--pricing-toggle-gap)
	);
}

input[type="checkbox"].enterpriseToggle:checked:hover::before {
	left: calc(
		100% - var(--pricing-toggle-thumb-size_hovered) - var(
				--pricing-toggle-gap_hovered
			)
	);
}

input[type="checkbox"].enterpriseToggle:checked:active::before {
	left: calc(
		100% - var(--pricing-toggle-thumb-size_pressed) - var(
				--pricing-toggle-gap_pressed
			)
	);
}

.pricingEnterpriseExplainer {
	color: var(--on-dark-emphasis-medium);
	margin: 0;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.divider {
	display: none;
	border: none;
	border-top: 2px dotted #607090;
}

@include from($tablet) {
	.divider {
		display: block;
	}
}

.listItems {
	text-align: start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--section-gap);
}

@include from($tablet) {
	.listItems {
		flex-direction: row;
	}

	.listItems > ul {
		width: 50%;
	}
}

@include from($desktop) {
	.listItems {
		flex-direction: column;
	}

	.listItems > ul {
		width: 100%;
	}
}

.listItemBullet {
	height: var(--bullet-list-item-icon-size);
	width: var(--bullet-list-item-icon-size);
	margin-right: var(--spc-1x);
}

.starPoints,
.bulletPoints {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--bullet-list-item-gap);
}

.starPoints > li,
.bulletPoints > li {
	display: flex;
	align-items: center;
}

@include until($tablet) {
	.removeOnMobile {
		display: none;
	}
}
