.quoteCardContainerLi {
	display: block;
}

.quoteCardContainer {
	display: flex;
	flex-direction: column;
	gap: var(--quote-spacing);
	padding: var(--quote-spacing);
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: var(--slate-800);
	transition: background var(--color-transition-time)
		var(--color-transition-ease);
	border-radius: var(--quote-corner-radius);
}

// Top right corner quote
.quoteCardContainer::after {
	content: " ";
	position: absolute;
	height: var(--quote-marks-height_contained);
	aspect-ratio: var(--quote-mark-aspect-ratio);
	background-image: url("../icons/big_quotation_mark.svg");
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
	opacity: var(--quote-mark-opacity);
	top: calc(0px - var(--quote-mark-offset));
	right: calc(0px - var(--quote-mark-offset));
}

.quoteText {
	margin: 0;
}

.personDetailsContainer picture {
	height: var(--quote-avatar-size);
	width: var(--quote-avatar-size);
}

.personAvatar {
	height: var(--quote-avatar-size);
	width: var(--quote-avatar-size);
	border-radius: var(--corner-radius-circular);
}

.personDetailsContainer {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--spc-2x);
	align-items: center;
}

.personTextContainer {
}

.personName {
	margin: 0;
	text-decoration-line: underline !important;
	text-decoration-color: var(--quote-arrow-link-color) !important;
	text-decoration-thickness: 1.5px !important;
	position: relative;
	width: fit-content;
	color: var(--on-dark-emphasis-high);
}

.personName::before {
	content: " ";
	position: absolute;
	right: calc(-4px - 0.5rem);
	top: 50%;
	transform: translateY(-50%);
	height: 0.5rem;
	width: 0.5rem;
	background-image: url("../icons/link_arrow.svg");
	background-repeat: no-repeat;
}

.personTitle {
	margin: 0;
	color: var(--on-dark-emphasis-medium);
}
