@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.quotesContainer {
	column-count: 1;
	column-gap: var(--quote-grid-gap);
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 5rem;
}

.quotesContainer > * {
	break-inside: avoid;
	margin-bottom: var(--quote-grid-gap);
}

@include from($tablet) {
	.quotesContainer {
		column-count: 2;
	}
}

@include from($desktop) {
	.quotesContainer {
		column-count: 3;
	}
}

.quotesAndButtonsContainer {
	position: relative;
	display: flex;
	flex-direction: column;
}

.showMoreLessContainer {
	order: -1;
	flex-grow: 0;
	position: sticky;
	z-index: 2;
	top: 100vh;
	pointer-events: none;
}

.fullHeightSizer {
	position: absolute;
	top: -100vh;
	left: 0;
	height: 100vh;
	width: 100%;
	pointer-events: none;
}

.showMoreButton,
.showLessButton {
	position: absolute !important;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: all;
}

.quotesScrim {
	background: var(--section-background);
	transition: background var(--color-transition-time)
		var(--color-transition-ease);
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 1;
	mask-image: linear-gradient(0deg, black 0%, transparent 50%);
	-webkit-mask-image: linear-gradient(0deg, black 0%, transparent 50%);
	pointer-events: none;
}
