@use "../tokens/utils";
@use "../tokens/breakpoints.scss";

.divider {
	margin: 0;
	height: 1px;
	width: 100%;
	background: var(--outline);
	border: none;
	border-radius: var(--corner-radius-circular);
}

.topTextContainer {
	margin: 0;
	margin-bottom: 48px;
}

.sponsorContainer {
	width: 100%;
	margin: 48px auto;
}

@include from($tablet) {
	.sponsorContainer {
		width: 50%;
	}
}

.sponsorTitle {
	margin: 0;
	margin-bottom: var(--spc-2x);
}

.sponsorDescription {
	margin: 0;
	margin-bottom: var(--spc-4x);
	color: var(--on-dark-emphasis-medium);
}

.whyFreeContainer {
	margin-top: 48px;
}

.bottomText {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 24px;
	color: var(--on-dark-emphasis-medium);
}

.transformative {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}
