@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.metricsContainer {
	display: grid;
	gap: var(--section-gap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);

	@include from($desktop) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.metricNumber,
.metricNumberInfinityContainer {
	position: relative;
	display: inline-block;
	height: 1.75rem;
	@include from($desktop) {
		height: 2.75rem;
	}
}

.metricNumberInfinityContainer {
	width: 100%;
}

.metricNumber,
.metricNumberInfinity {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
	display: inline-block;
	overflow: hidden;
}

.metricNumberInfinity {
	position: absolute;
	top: calc(50% + -0.5rem);
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Plus Jakarta Sans", "Plus Jakarta Sans-fallback",
		"Plus Jakarta Sans-fallback2", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 1;
	// This solves a weird issue where the infinity symbol has a weird line off to the right on Safari
	letter-spacing: 0.1px;

	@include from($desktop) {
		font-size: 4.5rem;
	}
}

.metricName {
	margin: 0;
}
