@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.container {
	padding: 48px;
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.transformative {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

.handwrittenContainer {
	position: relative;
}

.handwrittenLines {
	position: absolute;
	top: calc(var(--base) * 0.5);
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		transparent,
		transparent calc(4rex - 2px),
		var(--slate-600) calc(4rex - 1px),
		var(--slate-600) calc(4rex + 0px)
	);
}

.handwritten {
	line-height: 4rex;
	font-size: 1.25rem;
	margin: 4rex 0;
	font-family: "Playpen Sans", sans-serif;
}
