@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.container {
	padding: 48px;
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.transformative {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

.handwrittenContainer {
	position: relative;
}

.handwrittenLines {
	--base: calc(1rem + 1rex);
	position: absolute;
	top: calc(var(--base) * 0.5);
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		transparent,
		transparent calc(4rex - 2px),
		#9198e5 calc(4rex - 1px),
		#9198e5 calc(4rex + 0px)
	);
}

.handwritten {
	line-height: calc(1rem + 1rex);
	margin: 1rex 0;
	font-family: "Playpen Sans", sans-serif;
}
