---
import styles from "./your-guide-text-container-front.module.scss";
---

<p class={`text-style-body-medium`}>
	With more than 8 years of web development experience and after getting to
	know these frameworks from the inside out, the 'Framework Field Guide'
	consists of knowledge I wish I had access to when I first started out.
	<br />
	<br />
	The series will take you through all the necessary stages, no matter your level
	of proficiency. My goal is to provide access to learning tools and support
	for everyone, so they can go and build their vision.
</p>
