:root {
	--popup_padding: var(--spc-2x);

	--popup_corner-radius: var(--corner-radius_m);
	--popup_background-color: var(--background_primary);
	--popup_border_width: var(--border-width_s);
	--popup_border_color: var(--background_disabled);

	--popup_item_padding: var(--spc-2x);
	--popup_item_label_padding: var(--spc-1x);
	--popup_item_min-height: var(--min-target-size_m);
	--popup_item_corner-radius: calc(
		var(--popup_corner-radius) - var(--popup_padding)
	);
	--popup_item_icon-size: var(--icon-size_default);

	--popup_item_background-color_hovered: var(--surface_primary_emphasis-medium);
	--popup_item_background-color_pressed: var(--surface_primary_emphasis-high);
	--popup_item_background-color_selected: var(--surface_primary_emphasis-low);
	--popup_item_background-color_focused: var(--background_focus);

	--popup_item_label_color: var(--foreground_emphasis-high);
	--popup_item_start-icon_color: var(--foreground_disabled);
	--popup_item_check-icon_color: var(--foreground_emphasis-high);

	--popup_top_offset: var(--spc-2x);

	--popup_inner_padding: var(--spc-2x);
}
