@import "src/tokens/index";

:root {
	--popup_padding: var(--spc-2x);
	--popup_min-width: 192px;
	--popup_corner-radius: var(--corner-radius_m);
	--popup_background-color: var(--background_primary);
	--popup_border_width: var(--border-width_s);
	--popup_border_color: var(--background_disabled);

	--popup_item_padding: var(--spc-2x);
	--popup_item_label_padding: var(--spc-1x);
	--popup_item_min-height: var(--min-target-size_m);
	--popup_item_corner-radius: calc(
		var(--popup_corner-radius) - var(--popup_padding)
	);
	--popup_item_icon-size: var(--icon-size_dense);

	--popup_item_background-color_hovered: var(--surface_primary_emphasis-medium);
	--popup_item_background-color_pressed: var(--surface_primary_emphasis-high);
	--popup_item_background-color_selected: var(--surface_primary_emphasis-low);
	--popup_item_background-color_focused: var(--background_focus);

	--popup_item_label_color: var(--foreground_emphasis-high);
	--popup_item_start-icon_color: var(--foreground_disabled);
	--popup_item_check-icon_color: var(--foreground_emphasis-high);

	--search-page_filter_list_controls_label-color: var(
		--foreground_emphasis-medium
	);
}

.transparentBackground:not(:hover):not(:active) {
	background: transparent !important;
}

.selectedWithLabel {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.visibleLabel {
	color: var(--search-page_filter_list_controls_label);
}

.downSpan {
	transform-origin: center center;
	display: block;
	transition: transform 300ms ease-in-out;
}

.downSpan,
.downSpan svg {
	height: 100%;
	width: 100%;
}

.option {
	background: unset;
	border: unset;
	outline: none;
	display: flex;
	gap: var(--popup_item_gap);
	align-items: center;
	padding: var(--popup_item_padding);
	min-height: var(--popup_item_min-height);
	border-radius: var(--popup_item_corner-radius);
	min-width: var(--popup_min-width);

	@include transition(background-color);
}

.option[data-focus-visible="true"] {
	background-color: var(--popup_item_background-color_focused);
	outline: var(--border-width_focus) solid var(--focus-outline_primary);
}

.option.selected {
	background-color: var(--popup_item_background-color_selected);
}

.option:hover {
	background-color: var(--popup_item_background-color_hovered);
}

.option:active {
	background-color: var(--popup_item_background-color_pressed);
}

.checkmark,
.checkmark svg {
	height: var(--popup_item_icon-size);
	width: var(--popup_item_icon-size);
	fill: var(--popup_item_check-icon_color);
}

.underlay {
	position: fixed;
	inset: 0;
}

.optionText {
	margin-right: auto;
}

.optionsList {
	list-style: none;
	margin: 0;
	border-radius: var(--popup_corner-radius);
	padding: var(--popup_padding);
	background: var(--popup_background-color);
	box-shadow: var(--shadow_popup);
	border: var(--border-width_s) solid var(--background_disabled);
}
