.back-btn {
	border-radius: 50% !important;
	height: 40px;
	width: 40px;
	padding: 0 !important;
}

.back-btn svg {
	height: 30px;
	width: 30px;
}

.header {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 15px;
	width: calc(100% - 30px);
	justify-content: space-between;
}

.listViewContent,
.postViewContent {
	position: absolute;
}

.horizCenter {
	margin-left: auto;
	margin-right: auto;
}
