:root {
    /* Some obvious colors are duplicated to provide dark mode */
    --darkPrimary: #153E67;
    --primary: #127DB3;
    --black: black;
    --white: white;
    --darkGrey: rgba(0, 0, 0, 0.64);
    --highImpactBlack: rgba(0, 0, 0, 0.87);
    --midImpactBlack: rgba(0, 0, 0, 0.64);
    --backgroundColor: #E4F4FF;
    --cardActiveBackground: rgb(235, 246, 252);
    --cardActiveBoxShadow: 0px 2px 4px rgba(11, 37, 104, 0.27), inset 0px 1px 0px #FFFFFF;
    --animSpeed: 200ms;
    --animStyle: ease-in-out;
    --cardRadius: 8px;
    --cardOutlineStyle: 1px solid var(--primary);
    --filterBarIconSize: 22px;
    --filterBarFontSize: 20px;
    --listViewPadding: 10px;
}

@media screen and (min-width: 600px) {
    :root {
        --listViewPadding: 20px;
    }
}

.listViewContent {
    margin: 0 auto;
    max-width: 1272px;
    padding: 0 var(--listViewPadding)
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Archivo', sans-serif;
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
    position:static;
    width:auto; height:auto;
}


.filterDropdown {
    transform-origin: 26px 26px;
    transition: transform 300ms var(--animStyle);
}

.expandedIcon .filterDropdown {
    transform: rotate(180deg);
}
