:root {
    /* Some obvious colors are duplicated to provide dark mode */
    --darkPrimary: #153E67;
    --primary: #127DB3;
    --black: black;
    --white: white;
    --darkGrey: rgba(0, 0, 0, 0.64);
    --backgroundColor: #E4F4FF;
    --cardActiveBackground: rgba(250, 250, 250, 0.5);
    --animSpeed: 200ms;
    --animStyle: ease-in-out;
    --cardRadius: 8px;
    --cardOutlineStyle: 1px solid var(--primary);
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Archivo', sans-serif;
}
