.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
 }

.inputLabel {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.inputInput {
  color: #132a58;
  padding: 1rem 0.5rem;
  flex-grow: 1;
  display: block;
  border: 1px solid rgba(0, 51, 153, 0.2);
  border-radius: 8px;
  background: transparent;
}

.hiddenMessage.hideTheMessage {
  opacity: 0;
  height: 0;
}

.hiddenMessage {
  animation: shake 2s ease-in-out;
  animation-iteration-count:infinite;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .hiddenMessage {
    animation: none;
    transition: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, -2px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}