.seriesNav {
	margin: 2rem 0;

	& > * {
		display: inline-flex !important;
	}

	& > *:last-child {
		float: right;
		margin-left: 1rem;
	}

	&::after {
		clear: both;
		display: block;
		content: " ";
	}

	& > a > img {
		all: unset !important;
	}
}
