@import "src/tokens/index";

.seriesTableOfContent {
	margin-bottom: 16px;

	@include from($desktop) {
		margin-bottom: 24px;
	}

	.seriesHeader {
		color: var(--darkPrimary);
		margin-bottom: 16px;
		margin-top: 0;
	}

	ol {
		padding: 0;
		list-style: none;
		margin: 0;
	}

	li {
		position: relative;
		padding-left: 40px;
	}

	li {
		margin-top: 16px;
	}

	li > button {
		background: none;
		border: none;
		color: var(--darkPrimary);
		font-size: inherit;
		text-decoration: underline;
		cursor: pointer;
	}

	li::before {
		position: absolute;
		height: 8px;
		width: 8px;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
		content: " ";
		box-sizing: border-box;
	}

	li:not(.isActive)::before {
		border: 1.2px solid var(--darkPrimary);
	}

	li.isActive::before {
		background: var(--darkPrimary);
	}

	.displayNone {
		display: none;
	}
}
