---
import styles from "./series-toc.module.scss";
import { ExtendedPostInfo } from "types/index";
import { getShortTitle } from "./base";

interface SeriesToCListItem {
	post: ExtendedPostInfo;
	isActive: boolean;
	className?: string;
	inMiddle?: boolean;
}

const { post, isActive, className, inMiddle } =
	Astro.props as SeriesToCListItem;

const liClass = isActive ? styles.isActive : "";
---

<li
	class={`${liClass || ""} ${className || ""}`}
	role="listitem"
	data-in-middle={inMiddle}
	style={inMiddle ? "display: none" : ""}
>
	<a href={`/posts/${post.slug}`}>
		Part {post.order}: {getShortTitle(post)}
	</a>
</li>
