@use "src/styles/text-styles.scss";

:root {
	--tooltip_padding-vertical: var(--spc-3x);
	--tooltip_padding-start: var(--spc-3x);
	--tooltip_padding-end: var(--spc-5x);
	--tooltip_icon-size: var(--icon-size_default);
	--tooltip_icon-margin: var(--spc-2x);
	--tooltip_icon-color: var(--primary_default);

	--tooltip_desc-padding-vertical: var(--spc-1x);
	--tooltip_desc-gap: var(--spc-1x);

	--tooltip_corner-radius: var(--corner-radius_m);

	--tooltip_background-color: var(--surface_primary_emphasis-none);
	--tooltip_foreground-color: var(--foreground_emphasis-high);
}

.tooltip {
	background-color: var(--tooltip_background-color);
	color: var(--tooltip_foreground-color);

	border-radius: var(--tooltip_corner-radius);

	margin: var(--site-spacing) 0 !important;
	padding: var(--tooltip_padding-vertical) 0;
	padding-left: var(--tooltip_padding-start);
	padding-right: var(--tooltip_padding-end);
}

.title {
	display: flex;
	align-items: center;
	gap: var(--tooltip_icon-margin);

	& > svg {
		width: var(--tooltip_icon-size);
		height: var(--tooltip_icon-size);
		color: var(--tooltip_icon-color);
		flex-shrink: 0;
	}

	& > p {
		@extend .text-style-body-medium-bold;
		margin: 0 !important;
	}
}

.content {
	padding-left: calc(var(--tooltip_icon-size) + var(--tooltip_icon-margin));
	margin-top: var(--tooltip_desc-gap);

	& > * {
		@extend .text-style-body-small !optional;
	}

	& > *:first-child {
		margin-top: 0 !important;
	}

	& > *:last-child {
		margin-bottom: 0 !important;
	}
}
