---
const props = Astro.props as astroHTML.JSX.ButtonHTMLAttributes;
---

<style>
	.big-filled-button {
		padding: var(--btn-ver-padding_large) var(--btn-hor-padding_large);
		background: var(--btn-background_filled);
		color: var(--btn-foreground_filled);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width-large);
		border-color: var(--btn-background_filled);
		border-style: solid;
	}
</style>
<button {...props} class="text-style-button big-filled-button">
	<slot />
</button>
