---
const { class: className, ...props } =
	Astro.props as astroHTML.JSX.LinkHTMLAttributes;
---

<style>
	.big-outlined-button {
		display: inline-block;
		padding: var(--btn-ver-padding_large) var(--btn-hor-padding_large);
		background: transparent;
		color: var(--btn-foreground_outlined);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width_large);
		border-color: var(--btn-border);
		border-style: solid;
		position: relative;
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
	}

	.big-outlined-button:hover {
		background: var(--btn-state-hovered_outlined);
	}

	.big-outlined-button:active {
		background: var(--btn-state-pressed_outlined);
	}
</style>
<a
	{...props}
	tabindex="0"
	class={`text-style-button big-outlined-button ${className ? className : ""}`}
>
	<slot />
</a>
