---
const props = Astro.props as astroHTML.JSX.ButtonHTMLAttributes;
---

<style>
	.big-outlined-button {
		padding: var(--btn-ver-padding-large) var(--btn-hor-padding-large);
		background: transparent;
		color: var(--btn-foreground_outlined);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width-large);
		border-color: var(--btn-border);
		border-style: solid;
	}
</style>
<button {...props} class="text-style-button big-outlined-button">
	<slot />
</button>
