---
const { class: className, ...props } =
	Astro.props as astroHTML.JSX.ButtonHTMLAttributes;
---

<style>
	.big-filled-button {
		padding: var(--btn-ver-padding_large) var(--btn-hor-padding_large);
		background: var(--btn-background_filled);
		color: var(--btn-foreground_filled);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width_large);
		border-color: transparent;
		border-style: solid;
		position: relative;
		outline: none;
	}

	.big-filled-button:hover {
		background: var(--btn-state-hovered_filled);
	}

	.big-filled-button:active {
		background: var(--btn-state-pressed_filled);
	}
</style>
<button
	{...props}
	class={`text-style-button big-filled-button ${className ? className : ""}`}
>
	<slot />
</button>
