<div class="data-no-max-width bookCoverContainer">
	<slot />
</div>

<style>
	.bookCoverContainer {
		max-height: min(var(--max-width_small), 100vw);
		height: 100vh;
		position: relative;
		/* Just to be safe */
		margin-bottom: -4px;
	}
</style>
