---
import "./shared-section-styling.scss";
---

<div
	class="class-book-1 book-section"
	style="background: var(--section-background);"
>
	<h3 class={`text-style-display-1 book-title`}>Fundamentals</h3>
	<p class={`text-style-headline-4 book-subtitle`}>
		Learn how to build apps using these frameworks
	</p>
	<p class={`text-style-body-large book-bio`}>
		React, Angular, and Vue have exploded in popularity within the past few
		years, but to use these frameworks you need to understand a collection of
		core concepts and framework-specific syntax.<br /><br />This book introduces
		these core concepts and prepares you to write original code using these
		frameworks.
	</p>
	<div class="book-ctas">
		<button>Read now</button>
		<button>Learn more</button>
	</div>
	<p class={`text-style-body-large-bold book-coming-soon`}>
		Coming soon — in early access now!
	</p>
	<div>
		<div>
			<p>40K <span>words</span></p>
		</div>
		<div>
			<p>18 <span>*</span><span>chapters</span></p>
		</div>
	</div>
</div>
