@import "../../../../styles/utils";
@import "../tokens/breakpoints";

.pricingCardContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);
	border-radius: var(--pricing-container-radius);
	background: var(--pricing-container_default);
	text-align: center;
	position: relative;
}

.pricingCardContainer.highlighted {
	background: var(--pricing-container_highlighted);
}

@include from($desktop) {
	.pricingCardContainer {
		width: calc(100% / 3 - var(--pricing-container-radius));
	}
	.pricingCardContainer.highlighted {
		width: calc(100% / 3);
	}
}

.topTextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--section-gap);
}

@include from($tablet) {
	.topTextContainer {
		flex-direction: row;
	}

	.topTextContainer > div {
		width: 50%;
	}

	.topTextContainer > div:first-child {
		text-align: start;
	}

	.topTextContainer > div:last-child {
		text-align: end;
	}
}

@include from($desktop) {
	.topTextContainer {
		flex-direction: column;
	}

	.topTextContainer > div {
		width: 100%;
	}

	.topTextContainer > div:first-child,
	.topTextContainer > div:last-child {
		text-align: center;
	}
}

.saleTag {
	position: absolute;
	height: var(--sale-badge-size);
	width: var(--sale-badge-size);
	top: var(--sale-badge-offset);
	right: var(--sale-badge-offset);
	transform: rotate(var(--sale-badge-rotation));
}

.pricingTitle {
	color: var(--on-dark-emphasis-high);
	margin: 0;
	margin-bottom: var(--spc-1x);
}

.pricingDescription {
	color: var(--on-dark-emphasis-medium);
	margin: 0;
}

.pricingPrice {
	color: var(--on-dark-emphasis-high);
	margin: 0;
	margin-bottom: var(--spc-1x);
}

.enterpriseToggleContainer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.enterpriseToggleText {
	margin: 0;
	color: var(--slate-300);
	padding: 0 0.5rem;
}

.enterpriseToggleText {
	text-align: right;
}

.enterpriseToggleText + .enterpriseToggleText {
	text-align: left;
}

.enterpriseToggle:not(:checked) + .enterpriseToggleText {
	color: var(--slate-050);
}

.enterpriseToggle:checked + .enterpriseToggleText + .enterpriseToggleText {
	color: var(--slate-050);
}

.individualText {
	order: -1;
}


input[type="checkbox"].enterpriseToggle {
	--thumbSize: 20px;
	--checkboxPadding: 6px;
	appearance: none;
	width: 56px;
	height: calc(var(--thumbSize) + (var(--checkboxPadding) * 2));
	position: relative;
	border-radius: 50px;
	box-sizing: content-box;
	cursor: pointer;
	transition: background 150ms ease-in-out;
	background: var(--slate-500);
}

/* Thumb */
input[type="checkbox"].enterpriseToggle::after {
	top: 50%;
	left: var(--checkboxPadding);
	transform: translateY(-50%);
	transition: left 150ms ease-in-out, background-color 150ms ease-in-out;
	content: " ";
	width: var(--thumbSize);
	height: var(--thumbSize);
	background: var(--slate-200);
	position: absolute;
	border-radius: 50px;
}

input[type="checkbox"].enterpriseToggle:checked {
	background: var(--slate-500);
}

input[type="checkbox"].enterpriseToggle:checked::after {
	left: calc(100% - var(--thumbSize) - var(--checkboxPadding));
	background: var(--slate-200);
}

.pricingEnterpriseExplainer {
	color: var(--on-dark-emphasis-medium);
	margin: 0;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.divider {
	border: none;
	border-top: 2px dotted #607090;
}

.listItems {
	text-align: start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--section-gap);
}

@include from($tablet) {
	.listItems {
		flex-direction: row;
	}

	.listItems > ul {
		width: 50%;
	}
}

@include from($desktop) {
	.listItems {
		flex-direction: column;
	}

	.listItems > ul {
		width: 100%;
	}
}

.listItemBullet {
	height: var(--bullet-list-item-icon-size);
	width: var(--bullet-list-item-icon-size);
	margin-right: var(--spc-1x);
}

.starPoints,
.bulletPoints {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--bullet-list-item-gap);
}

@include until($tablet) {
	.removeOnMobile {
		display: none;
	}
}
