---
interface SectionMetricProps {
	numberStr: string;
	asterisk: boolean;
	subtitle: string;
	ariaLabel: string;
}

const { numberStr, subtitle, asterisk, ariaLabel } =
	Astro.props as SectionMetricProps;
---

<div class="section-metric-container" aria-label={ariaLabel}>
	<p class="section-metric-text text-style-display-2">
		<span class="text-style-main-text">
			<span class="text-style-main-text-only">{numberStr}</span>
			{
				asterisk && (
					<span class="text-style-headline-1 section-metric-asterisk">*</span>
				)
			}
		</span><span class="text-style-headline-4 section-metric-subtitle">
			{" "}{subtitle}</span
		>
	</p>
</div>
