---
const { class: className, ...props } =
	Astro.props as astroHTML.JSX.ButtonHTMLAttributes;
---

<style>
	.small-filled-button {
		padding: var(--btn-ver-padding_small) var(--btn-hor-padding_small);
		background: var(--btn-background_filled);
		color: var(--btn-foreground_filled);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width_small);
		border-color: var(--btn-background_filled);
		border-style: solid;
		position: relative;
	}
</style>
<button
	{...props}
	class={`text-style-button small-filled-button ${className ? className : ""}`}
>
	<slot />
</button>
