---
const { class: className, ...props } =
	Astro.props as astroHTML.JSX.ButtonHTMLAttributes;
---

<style>
	.small-outlined-button {
		padding: var(--btn-ver-padding_small) var(--btn-hor-padding_small);
		background: transparent;
		color: var(--btn-foreground_outlined);
		border-radius: var(--btn-corner-radius);
		border-width: var(--btn-border-width_small);
		border-color: var(--btn-border);
		border-style: solid;
		position: relative;
	}
</style>
<button
	{...props}
	class={`text-style-button small-outlined-button ${
		className ? className : ""
	}`}
>
	<slot />
</button>
