/* index.css */
[role="tablist"] {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.25rem;
}

[role="tab"] {
    display: inline-block;
    padding: 1rem;
    border: solid black;
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0;
}

[role="tab"]:hover {
    background: #d3d3d3;
}

[role="tab"]:active {
    background: #878787;
}

[role="tab"][aria-selected="true"] {
    background: black;
    color: white;
}

[role="tabpanel"] {
    border: solid black;
    border-width: 2px;
    padding: 1rem;
    border-radius: 0 1rem 1rem 1rem;
}
