@use "../../tokens/index" as *;

:root {
	--contributor_background-color: var(--surface_primary_emphasis-none);
	--contributor_corner-radius: var(--corner-radius_l);
	--contributor_name-color: var(--foreground_emphasis-high);
	--contributor_role-color: var(--foreground_emphasis-medium);
	--contributor_avatar_size: 64px;
	--contributor_avatar_border_color: var(--background_primary);
	--contributor_avatar_border_width: var(--border-width_xl);

	--contributor_padding-horizontal: var(--spc-4x);
	--contributor_padding-bottom: var(--spc-4x);
	--contributor_gap: var(--spc-4x);
	--contributor_container-offset: calc(var(--contributor_avatar_size) / 2);
	--contributor_min-width: var(--min-width_xxs);

	@include from($tabletSmall) {
		--contributor_padding-horizontal: var(--spc-6x);
		--contributor_padding-bottom: var(--spc-6x);
		--contributor_gap: var(--spc-6x);
		--contributor_container-offset: var(--spc-8x);
		--contributor_btn_margin-top: var(--spc-4x);
		--contributor_btn_margin-end: var(--spc-4x);
	}
}

.card {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--contributor_gap);
	position: relative;

	background-color: var(--contributor_background-color);
	border-radius: var(--contributor_corner-radius);
	padding: 0 var(--contributor_padding-horizontal);
	padding-bottom: var(--contributor_padding-bottom);

	margin-top: var(--contributor_container-offset);

	picture {
		display: flex;
		height: calc(
			var(--contributor_avatar_size) + var(--contributor_avatar_border_width) - var(
					--contributor_container-offset
				)
		);
		position: relative;
	}

	@include from($tabletSmall) {
		grid-template-columns: 1fr auto;

		.avatar {
			height: calc(
				100% + var(--contributor_container-offset) +
					var(--contributor_avatar_border_width)
			) !important;
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}

		.info {
			grid-column: 1 / span 2;
		}

		.button {
			grid-row: 1;
			grid-column: 2;
			margin-top: var(--contributor_btn_margin-top);
			margin-right: calc(
				var(--contributor_btn_margin-end) - var(
						--contributor_padding-horizontal
					)
			);
		}

		picture {
			height: 100%;
		}
	}
}

.avatar {
	height: calc(
		var(--contributor_avatar_size) + 2 * var(--contributor_avatar_border_width)
	) !important;
	width: auto;

	border: var(--contributor_avatar_border_width) solid
		var(--contributor_avatar_border_color);
	border-radius: 50%;

	position: absolute;
	top: calc(-1 * var(--contributor_container-offset));
	left: calc(-1 * var(--contributor_avatar_border_width));
}

.name {
	color: var(--contributor_name-color);
	display: block;
	margin-bottom: var(--spc-1x);
}

.roles {
	list-style: none;
	padding: 0;
	margin: 0 !important;

	color: var(--contributor_role-color);
	line-height: 1;
	min-height: 1em;

	li {
		display: inline;
	}
}

.partnerLabel {
	margin: 0;
	margin-left: var(--spc-2x);
	background: var(--surface_primary_emphasis-low);
	border-radius: var(--corner-radius_s);
	padding: var(--spc-1x) var(--spc-3x) var(--spc-1x) var(--spc-2x);
	display: inline-flex;
	align-items: center;
}

.partnerLabel img {
	margin-right: var(--spc-2x);
}
