@import "src/styles/vars";
@import "src/styles/utils";

.card {
	border: map-get($borderWidth, xl) solid theme-var(--surface_primary_emphasis-low);
	border-radius: map-get($cornerRadius, xl);

	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);

	padding: $spacing * 6;
}

.card.l {
	border-width: map-get($borderWidth, l);
	border-radius: map-get($cornerRadius, l);
	padding: $spacing * 6;
}

.card.m {
	border-width: map-get($borderWidth, m);
	border-radius: map-get($cornerRadius, m);
	padding: $spacing * 4;
}

.card.s {
	border-width: map-get($borderWidth, s);
	border-radius: map-get($cornerRadius, s);
	padding: $spacing ($spacing * 2);
}

.card.inline {
	border-width: 0;
	background-color: theme-var(--surface_primary_emphasis-none);
}

.card.interactive {
	cursor: pointer;

	&:hover {
		background-color: theme-var(--surface_primary_emphasis-low);
		border-color: transparent;
	}

	&:active {
		background-color: theme-var(--surface_primary_emphasis-low);
		border-color: theme-var(--surface_primary_emphasis-high);
	}

	&:focus {
		background-color: theme-var(--background_focus);
		border-color: theme-var(--focus-outline_primary);
	}
}
