@import "src/tokens/index";

.card {
	border: get-var(--border-width_xl) solid get-var(--surface_primary_emphasis-low);
	border-radius: get-var(--color-radius_xl);

	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);

	padding: get-var(--spc-6x);
}

.card.l {
	border-width: get-var(--border-width_l);
	border-radius: get-var(--color-radius_l);
	padding: get-var(--spc-4x);
}

.card.m {
	border-width: get-var(--border-width_m);
	border-radius: get-var(--color-radius_m);
	padding: get-var(--spc-4x);
}

.card.s {
	border-width: get-var(--border-width_s);
	border-radius: get-var(--color-radius_s);
	padding: get-var(--spc-1x) get-var(--spc-2x);
}

.card.inline {
	border-width: 0;
	background-color: get-var(--surface_primary_emphasis-none);
}

.card.solid {
	border-width: 0;
	background-color: get-var(--surface_primary_emphasis-low);
}

.card.interactive {
	cursor: pointer;

	&:hover {
		background-color: get-var(--surface_primary_emphasis-low);
		border-color: transparent;
	}

	&:active {
		background-color: get-var(--surface_primary_emphasis-low);
		border-color: get-var(--surface_primary_emphasis-high);
	}

	&:focus {
		background-color: get-var(--background_focus);
		border-color: get-var(--focus-outline_primary);
	}
}
