:root {
  --sky: #D8E2FF;
  --buildings: #B6C8F2;
  --floor: #2D5CAC;
  --title: #02377A;

  --outline: #CCDCFF;
  --outline_focused: black;
  --state-overlay: 129, 170, 255;

  --cta-foreground: white;
  --cta-background: var(--title);
  --cta-background_hovered: #4583ed;
  --cta-background_pressed: #4172c5;
}
