:root {
	--sky: #d8e2ff;
	--buildings: #b6c8f2;
	--floor: #2d5cac;
	--title: #02377a;

	--outline: #ccdcff;
	--outline_focused: black;
	--state-overlay: 129, 170, 255;

	--cta-foreground: white;
	--cta-background: var(--title);
	--cta-background_hovered: #4583ed;
	--cta-background_pressed: #4172c5;
}
