---
import Document from "../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import sadUnicorn from "assets/sad_unicorn_2048.png";
import { Picture } from "@astrojs/image/components";

const locale = "en";
---

<Document lang={locale}>
	<SEO slot="head" title="404: Not Found" />

	<main class="listViewContent">
		<Picture
			class="sadUnicorn"
			src={sadUnicorn}
			loading="eager"
			sizes="500px"
			widths={[500]}
			formats={["avif", "webp", "png"]}
			width={500}
			height={500}
			alt="Unicorn Utterances 404 image"
		/>

		<h1>We're Sorry, We Don't Understand</h1>

		<p>
			We don't quite understand where you're trying to go! We're really sorry
			about this!
			<br />
			Maybe the URL has a typo in it or we've configured something wrong!
			<br />
			<a href="https://github.com/unicorn-utterances/unicorn-utterances/issues">
				If you really think it might be something we did, let us know!
			</a>
		</p>
	</main>
</Document>

<style lang="scss">
	.sadUnicorn {
		display: block;
		margin: 0 auto;
		max-width: 80%;
		height: auto;
	}

	main {
		h1,
		p {
			text-align: center;
		}
	}
</style>
