---
import Document from "../layouts/document.astro";
import SEO from "components/seo/seo.astro";

const locale = "en";
---

<Document lang={locale}>
	<SEO title="Confirm Your Email" slot="head" />

	<main class="listViewContent">
		<h1>Just one more thing...</h1>

		<p>
			Thank you for subscribing. You will need to check your inbox and confirm
			your subscription.
		</p>
	</main>
</Document>

<style lang="scss">
	.helloUnicorn {
		display: block;
		margin: 0 auto;
		max-width: 80%;
		height: auto;

		background-color: var(--primary);
		border-radius: 50%;
		overflow: hidden;
	}

	main {
		h1,
		p {
			text-align: center;
		}
	}
</style>
