---
import * as api from "../utils/api";
import style from "../views/get-involved/get-involved.module.scss";
import Document from "../layouts/document.astro";
import GetInvolvedHeader from "../views/get-involved/get-involved-header.astro";
import SEO from "components/seo/seo.astro";
import { translate } from "../utils";
import ContributorCard from "../views/get-involved/contributor-card.astro";
import WhyGetInvolved from "../views/get-involved/why-get-involved.astro";
import WelcomeToEveryone from "../views/get-involved/welcome-to-everyone.astro";

const unicorns = api.getUnicornsByLang("en");
---

<Document>
	<SEO
		title={"Get Involved"}
		description={`Get involved with the community and help us make learning programming more accessible.`}
		slot="head"
	/>
	<GetInvolvedHeader />

	<WhyGetInvolved />
	<WelcomeToEveryone />

	<h2 id="contributors">
		<span>{translate(Astro, "title.contributors")}</span>
	</h2>
	<ul class={style.unicorns} role="list" aria-labelledby="contributors">
		{unicorns.map((unicornInfo) => <ContributorCard unicorn={unicornInfo} />)}
	</ul>
</Document>
