---
import style from "../views/get-involved/get-involved.module.scss";
import Document from "../layouts/document.astro";
import GetInvolvedHeader from "../views/get-involved/get-involved-header.astro";
import SEO from "components/seo/seo.astro";
import WhyGetInvolved from "../views/get-involved/why-get-involved.astro";
import WelcomeToEveryone from "../views/get-involved/welcome-to-everyone.astro";
import ReadyToLevelUp from "../views/get-involved/ready-to-level-up.astro";
import SupportUs from "../views/get-involved/support-us.astro";
import ContributorsAndPartners from "../views/get-involved/contributors-and-partners.astro";
import Hr from "../views/get-involved/hr.astro";
---

<Document>
	<SEO
		title={"Get Involved"}
		description={`Get involved with the community and help us make learning programming more accessible.`}
		slot="head"
	/>
	<GetInvolvedHeader />
	<WhyGetInvolved />
	<WelcomeToEveryone />
	<ReadyToLevelUp />
	<div class={style.container}>
		<Hr />
	</div>
	<SupportUs />
	<div class={style.container}>
		<Hr />
	</div>
	<ContributorsAndPartners />
</Document>
