.postsListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
}

@media screen and (min-width: 992px) {
    .postListItem {
        --marginSize: 24px;
        --doubleMargin: calc(var(--marginSize) * 2);
        flex-basis: calc(50% - var(--doubleMargin));
        margin: var(--marginSize);
        flex-grow: 0;
        width: calc(50% - var(--doubleMargin));
        max-width: calc(50% - var(--doubleMargin));
    }
}

    .postListItem {
        --marginSize: 12px;
        margin: calc(var(--marginSize) / 2) var(--marginSize);
    }
