---
import PostListTemplate from '../page-components/post-list/post-list.astro';
import { ListViewPosts } from "utils/fs/api";

const posts = await Astro.glob<ListViewPosts[number]>('../../content/blog/**/*.md')

const sortedPosts = posts
	.map(post => {
		// Split based on `/`, even in Windows
		const directorySplit = post.file.split('/');
		// This is the folder name, AKA how we generate the slug ID
		const slug = directorySplit.at(-2);
		return {
			...post.frontmatter,
			slug
		};
	})
	.sort((a, b) => new Date(b.published) - new Date(a.published));
---

<html lang="en">
	<body>
		<PostListTemplate posts={sortedPosts}/>
	</body>
</html>
