---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { getAllPostsForListView } from "utils/fs/api";

const posts = getAllPostsForListView();
---

<html lang="en">
	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
				<section aria-label="Blog post list">
					{posts.map((p) => <BlogPostPreview post={p} />)}
				</section>
			</main>
		</div>
	</body>
</html>
