---
import Document from "../layouts/document.astro";
import { getAllPostsForListView } from "utils/api";
import { PostInfo } from "types/PostInfo";
import SEO from "components/seo/seo.astro";
import Homepage from "src/views/explore/homepage.astro";

const posts = await Astro.glob<PostInfo>("../../content/blog/**/*.md");

const enPosts = getAllPostsForListView(posts, "en");
const postsToDisplay = enPosts.slice(0, 4);
---

<Document>
	<SEO slot="head" title="Homepage" />
	<div class="container">
		<Homepage posts={postsToDisplay} />
	</div>
</Document>
