---
import Document from "../layouts/document.astro";
import { getPostsByLang } from "utils/api";
import SEO from "components/seo/seo.astro";
import Homepage from "src/views/explore/homepage.astro";
import { collections } from "utils/data";

const enPosts = getPostsByLang("en");
const postsToDisplay = enPosts.slice(0, 4);

const collectionsToDisplay = [...collections].slice(0, 3);
---

<Document>
	<SEO slot="head" title="Homepage" />
	<div class="container">
		<Homepage posts={postsToDisplay} collections={collectionsToDisplay} />
	</div>
</Document>
