---
import BlogPostPreview from '../components/post-card.astro';
import { ListViewPosts } from "utils/fs/api";

const posts = await Astro.glob<ListViewPosts[number]>('../../content/blog/**/*.md')

const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.published) - new Date(a.frontmatter.published));
---

<html lang="en">
	<body>
		<div class="wrapper">
			<main class="content">
				<section aria-label="Blog post list">
					{sortedPosts.map((p) => <BlogPostPreview post={p.frontmatter} />)}
				</section>
			</main>
		</div>
	</body>
</html>
