---
import Document from "../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import proudUnicorn from "assets/proud_2048.png";
import { Picture } from "@astrojs/image/components";

const locale = "en";
---

<Document lang={locale}>
	<SEO title="Thank You!" />

	<main>
		<Picture
			class="proudUnicorn"
			src={proudUnicorn}
			sizes="450px"
			widths={[450]}
			formats={["avif", "webp", "png"]}
			loading="eager"
			width="450"
			height="450"
			alt="A proud unicorn"
		/>

		<h1>Thank you for subscribing.</h1>

		<p>
			Your subscription is now confirmed. You can expect to receive emails as we
			create new content.
		</p>
	</main>
</Document>

<style lang="scss">
	.proudUnicorn {
		display: block;
		margin: 0 auto;
		max-width: 80%;
		height: auto;

		background-color: var(--primary);
		border-radius: 50%;
		overflow: hidden;
	}

	main {
		h1,
		p {
			text-align: center;
		}
	}
</style>
