---
import { Icon } from "astro-icon";
import { Button } from "components/base";
---

<Button
	tag="button"
	id="theme-toggle-button"
	aria-pressed="false"
	aria-label={"Is dark mode enabled?"}
>
	<Icon name="dark" height="24" width="24" id="dark-icon" />
	<Icon
		name="light"
		height="24"
		width="24"
		id="light-icon"
		style="display: none;"
	/>
</Button>

<script>
	import { themeToggle } from "./theme-toggle";
	themeToggle();
</script>
