---
import { Icon } from "astro-icon";
import btnStyles from "./dark-light-button.module.scss";
---

<button
	class={`${btnStyles.darkLightBtn} baseBtn`}
	id="theme-toggle-button"
	aria-pressed="false"
	aria-label={"Is dark mode enabled?"}
>
	<Icon
		name="dark"
		height="36"
		width="36"
		id="dark-icon"
		style="display: none;"
	/>
	<Icon
		name="light"
		height="36"
		width="36"
		id="light-icon"
		style="display: none;"
	/>
</button>

<script>
	import { themeToggle } from "./theme-toggle";
	themeToggle();
</script>
