.dark-light-btn {
	border-radius: 50% !important;
	height: 40px;
	width: 40px;
	padding: 0 !important;
	margin-left: auto; //make sure the button stays on the far right even on the homepage
}

.dark-light-btn svg {
	height: 30px;
	width: 30px;
}
