@import "src/tokens/index";

:root {
  --page-card_container_corner-radius: calc(#{get-var(--site-spacing)} * 2);
  --page-card_container_padding: calc(#{get-var(--site-spacing)} * 2);
  --page-card_container_compound-padding: calc(var(--page-card_image_border_width) + var(--page-card_container_padding));
  --page-card_description_padding-top: #{get-var(--spc-4x)};

  --page-card_image_size: 240px;
  --page-card_image_border_width: 16px;
  --page-card_image_inset: #{get-var(--spc-12x)};
  --page_card_image_corner-radius: 48px;

  --page-card_button-gap: #{get-var(--site-spacing)};

  --page-card_image_border_color: #{get-var(--background_primary)};
  --page-card_container_background-color: #{get-var(--surface_primary_emphasis-none)};

  --page-card_title_color: #{get-var(--foreground_emphasis-high)};
  --page-card_supporting-text_color: #{get-var(--foreground_emphasis-medium)};

  @include from($tabletSmall) {
    --page-card_container_padding: #{get-var(--spc-10x)};
    --page-card_image_size: 240px;
  }

  @include from($tablet) {
    --page-card_container_padding: #{get-var(--spc-12x)};
    --page-card_image_size: 320px;
  }

  @include from($desktopSmall) {
    --page-card_container_padding: #{get-var(--spc-12x)};
    --page-card_image_inset: #{get-var(--spc-16x)};
    --page-card_image_size: 360px;
  }
}

.pageCardContainer {
  background: var(--page-card_container_background-color);
  max-width: get-var(--max-width_m);
  display: grid;
  border-radius: var(--page-card_container_corner-radius);

  @include from($tabletSmall) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: var(--page-card_container_padding);
    grid-column-gap: var(--page-card_container_padding);
    padding: var(--page-card_container_padding) var(--page-card_container_compound-padding) var(--page-card_container_compound-padding) var(--page-card_container_compound-padding);
  }

  @include from($tablet) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto var(--page-card_container_padding) auto;
    grid-row-gap: unset;
    grid-column-gap: var(--page-card_container_padding);
    padding: var(--page-card_container_padding) var(--page-card_container_compound-padding);
  }

  @include from($desktopSmall) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: var(--page-card_container_padding);
    grid-row-gap: var(--page-card_description_padding-top);
    padding: var(--page-card_container_padding) var(--page-card_container_compound-padding) var(--page-card_container_padding) 0;
  }
}

.imageContainer {
  display: inline-block;


  @include from($tabletSmall) {
    grid-row: 1/1;
    grid-column: 1/1;
    margin-top: calc(0px - var(--page-card_image_inset) - var(--page-card_container_padding));
  }

  @include from($tablet) {
    grid-row: 1/3;
    grid-column: 1/1;
    margin-top: calc(0px - var(--page-card_image_inset) - var(--page-card_container_padding));
  }

  @include from($desktopSmall) {
    grid-row: 1/5;
    grid-column: unset;
    margin-top: unset;
    margin-left: calc(0px - var(--page-card_image_inset));
  }
}

.image {
  height: var(--page-card_image_size);
  width: var(--page-card_image_size);
  border-style: solid;
  border-radius: var(--page_card_image_corner-radius);
  border-width: var(--page-card_image_border_width);
  border-color: var(--page-card_image_border_color);
  overflow: hidden;
}

.title {
  margin: 0;
  color: get-var(--foreground_emphasis-high);

  @include from($tabletSmall) {
    display: flex;
    align-items: center;
    padding-bottom: var(--page-card_container_padding);
  }

  @include from($tablet) {
    display: unset;
    padding-bottom: unset;
    margin-bottom: var(--page-card_description_padding-top);
  }

  @include from($desktopSmall) {
    margin-bottom: unset;
    margin-top: calc(var(--page-card_container_compound-padding) - var(--page-card_container_padding));
  }
}

.description {
  margin: 0;
  color: get-var(--foreground_emphasis-medium);

  @include from($tabletSmall) {
    grid-column: 1/3;
    padding: 0 calc(var(--page-card_container_compound-padding) - var(--page-card_container_padding));
  }

  @include from($tablet) {
    grid-column: unset;
  }
}

.pageCardSpacer {
  @include from($tabletSmall) {
    display: none;
  }

  @include from($tablet) {
    all: unset;
  }
}

.buttonsContainer {
  display: flex;

  @include from($tabletSmall) {
    grid-column: 1/3;
    padding: 0 calc(var(--page-card_container_compound-padding) - var(--page-card_container_padding));
    gap: var(--page-card_button-gap);
  }

  @include from($desktopSmall) {
    grid-column: unset;
    justify-content: space-between;
    margin-bottom: calc(var(--page-card_container_compound-padding) - var(--page-card_container_padding));
  }
}

.buttonsContainer > * {
  @include from($tabletSmall) {
    flex-basis: 50%;
  }

  @include from($desktopSmall) {
    flex-basis: unset;
  }
}
