@import "../../../styles/vars";
@import "../../../styles/utils";

.tag {
	height: 32px;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	padding: $spacing ($spacing * 2);

	color: theme-var(--neutral-foreground-emphasis_high);
	text-decoration: none;

	border: calc($spacing / 2) solid theme-var(--primary-brand-variant);
	border-radius: 16px;

	&:hover {
		text-decoration: underline;
	}
}
