@import "../../../styles/vars";
@import "../../../styles/utils";

.tag {
	height: 32px;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	padding: $spacing ($spacing * 2);

	color: theme-var(--neutral-foreground-emphasis_high);
	text-decoration: none;

	border: calc($spacing / 2) solid theme-var(--primary-brand-variant);
	border-radius: 16px;

	@include transition(color background-color border-color);

	@include darkTheme() {
		background-color: theme-var(--primary-surface-emphasis_low);
		border-color: transparent;
	}

	&:hover {
		text-decoration: underline;
	}
}
