@import "../../styles/vars";
@import "../../styles/utils";

.tag {
	display: inline-block;
	white-space: nowrap;
	padding: $spacing ($spacing * 2);
	font-size: pxToRem(14);

	color: theme-var(--neutral-foreground-emphasis_high);
	text-decoration: none;

	border: calc($spacing / 2) solid theme-var(--primary-brand-variant);
	border-radius: pxToRem(7);

	&:hover {
		text-decoration: underline;
	}
}
