---
import Barebones from "src/layouts/barebones.astro";

import SEO from "src/components/seo/seo.astro";
import Header from "src/views/collections/framework-field-guide/segments/header.astro";
import Hero from "../../../views/collections/accessibility-almanac/segments/hero.astro";
import { getPersonById } from "../../../utils/api";
import { getPostsByCollection } from "../../../utils/api";

import "../../../views/collections/framework-field-guide/fonts/plus-jakarta-sans.css";
import "../../../views/collections/framework-field-guide/fonts/changa-one.css";
import "../../../views/collections/framework-field-guide/tokens/buttons.scss";
import "../../../views/collections/framework-field-guide/tokens/book-sections.scss";
import "../../../views/collections/framework-field-guide/tokens/dimensions.scss";
import "../../../views/collections/framework-field-guide/tokens/text-styles.scss";
import "../../../views/collections/framework-field-guide/styles/buttons.css";
import "../../../views/collections/framework-field-guide/styles/focus.css";
import "../../../views/collections/framework-field-guide/styles/svg-layers.css";
import "../../../views/collections/framework-field-guide/tokens/forms.scss";
import "../../../views/collections/framework-field-guide/tokens/sign-up.scss";

import "../../../views/collections/accessibility-almanac/tokens/colors.scss";
import "../../../views/collections/accessibility-almanac/styles/global-a11y.css";
import Rest from "../../../views/collections/accessibility-almanac/segments/rest.astro";
import CollectionTableOfContents from "../../../views/collections/framework-field-guide-fundamentals/components/collection-table-of-contents-fundamentals.astro";

const chapterList = getPostsByCollection("accessibility-almanac", "en");
---

<Barebones>
	<SEO
		slot="head"
		title={"The Accessibility Almanac"}
		description={"Learn accessibility for modern web applications."}
		peopleData={[getPersonById("crutchcorn", "en")]}
		publishedTime={"2025-01-01T13:45:00.284Z"}
		type={"book"}
		shareImage={"/custom-content/collections/accessibility-almanac/accessibility_almanac_social.png"}
	/>
	<Header />
	<main>
		<Hero />
		<Rest>
			<CollectionTableOfContents posts={chapterList} />
		</Rest>
	</main>
</Barebones>
<script>
	import { enableParallaxScrolling } from "../../../views/collections/framework-field-guide/scripts/parallax-scrolling";
	enableParallaxScrolling();
</script>
