---
import "../../framework-field-guide/components/shared-section-styling.scss";
import SignupForm from "../../framework-field-guide/components/signup-form.astro";
import EcosystemBookCover from "../../framework-field-guide/segments/ecosystem-book-cover.astro";
import styles from "./ecosystem-fundamentals.module.scss";
---

<section data-change-color-to="ecos">
	<div class="class-book-2">
		<div class="book-section" style="background: var(--section-background);">
			<h2 id="ecosystem-title" class={`text-style-display-1 book-title`}>
				Ready for next step?
			</h2>
			<p class={`text-style-headline-6 book-subtitle`}>
				Are you familiar with the fundamentals, and want to learn more?
				<br />
				Then it's time for <strong>Ecosystem</strong>, the next part of the <strong
					>Framework Field Guide</strong
				>.
			</p>
		</div>
	</div>
	<EcosystemBookCover />
	<div class="class-book-2">
		<div class="book-section" style="background: var(--section-background);">
			<p class={`text-style-headline-4 book-title`}>
				Ecosystem is still under development
			</p>
			<p class={`text-style-headline-6 book-subtitle`}>
				An early 2024 release is expected. In the meantime, sign up to get
				updates on the book!
			</p>
			<div class={styles.signUpContainer}>
				<SignupForm />
			</div>
			<p class={`text-style-body-medium book-subtitle`}>
				All of the emails sent out will be strictly about important updates
				regarding the progress of the books.
			</p>
		</div>
	</div>
</section>
