@import "../../../../styles/utils";
@import "../../framework-field-guide/tokens/breakpoints.scss";

:root {
    --article-link-padding-ver: var(--spc-1x);
    --article-link-padding-start: var(--spc-1x);
    --article-link-padding-end: var(--spc-2x);
    --article-link-icon-size: 24px;

    --step-num-size: calc((56px / 16) * 1rem);
    --step-num-offset: calc(var(--step-num-size)/2);
    --spc-step-card: var(--spc-2x);
    --detail-item-padding-ver: var(--spc-1x);
    --detail-item-padding-start: var(--spc-1x);
    --detail-item-padding-end: var(--spc-2x);
    --detail-item-chevron-size: 24px;

    @include from($desktop) {
        --spc-step-card: var(--spc-3x);
    }
}

.adventureContinuesContainer {
    max-width: var(--max-width_small);
    display: flex;
    gap: 1rem;
    padding: var(--section-ver-padding) var(--section-hor-padding);

    @include until($endSmallScreenSize) {
        flex-direction: column;
        min-height: auto;
    }
}

.divPadding{
    padding-right: var(--section-hor-padding);
}

.titleContainer {
    position:relative;
    padding: 1rem;
    border-style: solid;
    border-color: var(--outline);
    border-width: var(--grid-item-border-width);
    border-radius: var(--grid-item-corner-radius);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    width: calc(100% - 2rem);
    text-align: center;
    color: var(--on-dark-emphasis-high);
}

.subtitle {
    color: var(--on-dark-emphasis-medium);
}

.helpfulContainer {
    text-align: start !important;
    display: flex;
    flex-direction:column;
    align-items:start;
    grid-template-columns: repeat(1, 1fr);
    padding-top: var(--spc-2x);
}

.subtitle::before {
    content: url("../../framework-field-guide/icons/link.svg");
    padding-right: var(--spc-2x);
    padding-left: var(--spc-1x);
    color: var(--on-dark-emphasis-medium);
    fill: var(--on-dark-emphasis-medium) !important;
    visibility: hidden
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.titleContainer svg {
    position: absolute;
    left: 50%;
    background: var(--section-background);
    transition: background var(--color-transition-time) var(--color-transition-ease);
    padding-left: var(--grid-icon-padding);
    padding-right: var(--grid-icon-padding);
    height: var(--grid-icon-size) !important;
    width: var(--grid-icon-size) !important;
    transform: translateX(-50%);
    top: calc(0px - (var(--grid-icon-size) / 2));
}


.titleContainer svg * {
    fill: var(--on-dark-emphasis-high) !important;
}

.gridItem::before {
    content: url("../../framework-field-guide/icons/link.svg");
    padding-right: var(--spc-2x);
    padding-left: var(--spc-1x);
    color: var(--on-dark-emphasis-medium);
    fill: var(--on-dark-emphasis-medium) !important;
}

.gridItem {
    color: var(--on-dark-emphasis-high);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--on-dark-emphasis-medium);
    text-underline-offset: 6px;
}

.sectionTitle {
    padding: var(--grid-item-padding_top) var(--grid-item-padding_horizontal) var(--grid-item-padding_bottom);
}

.stepCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--section-hor-padding);
    @include until($endSmallScreenSize) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.stepCard {
    position: relative;
    border-style: solid;
    border-color: var(--outline);
    border-width: var(--grid-item-border-width);
    border-radius: var(--grid-item-corner-radius);
    padding-top: var(--spc-6x);

}

.descriptionContainer {
    padding-left: var(--spc-6x);
    padding-right: var(--spc-6x);
    text-align: start;
}

.description {
    color: var(--on-dark-emphasis-medium);
    padding-top: var(--spc-step-card);
    padding-bottom: var(--spc-step-card);
}

.stepCardNumber {
    position: absolute;
    top: 0;
    left: -5%;
    color: var(--on-dark-emphasis-high);
    background: var(--section-background);
    transition: background var(--color-transition-time) var(--color-transition-ease);
    @include until($endSmallScreenSize) {
        left: -0.6rem;
    }
}

.stepCardItems {
    margin: 0;
    padding: 0 0 var(--spc-step-card);
    list-style: none;
    text-align: start;
}

.stepCardItems li {
    // padding-top: var(--spc-1x);
    // padding-bottom: var(--spc-1x);
    padding-left: var(--spc-1x);
    padding-right: var(--spc-2x);
}

.stepCardItemBullet {
    color: var(--on-dark-emphasis-high)
}

.stepCardItemBullet::before {
    content: url("../../framework-field-guide/icons/arrow.svg");
    padding-right: var(--spc-2x);
    padding-left: var(--spc-1x);
    color: var(--on-dark-emphasis-medium);
    fill: var(--on-dark-emphasis-medium) !important;
}
