@import "src/tokens/index";

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--site-spacing);

	@include from($tabletLarge) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.expanded {
	grid-row: span 2;
}
