@import "src/tokens/index";

.header {
	display: block;
	text-decoration: none;
	color: get-var(--foreground_emphasis-high);

	& h2 {
		margin: 0;
	}
}

.authors {
	list-style: none;
	padding: 0;
	margin: 0;

	color: get-var(--foreground_emphasis-medium);
}
