@import "src/tokens/index";

.cardExpanded {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-end;
	overflow: hidden;
}

.image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 100%;
	opacity: 0.5;

	z-index: -1;
	mask-image: linear-gradient(to bottom, #000F, #0000);
	-webkit-mask-image: linear-gradient(to bottom, #000F, #0000);
	background-color: #FFF;

	@include darkTheme() {
		filter: invert(1);
		background-color: #000;
	}
}

.meta {
	margin: ($spacing * 4) 0;

	&> * {
		margin: 0;
		line-height: 1;
	}

	.date {
		color: theme-var(--foreground_emphasis-medium);
	}
}

.header {
	display: block;
	text-decoration: none;
	color: theme-var(--foreground_emphasis-high);

	& h2 {
		margin: 0;
	}
}

.excerpt {
	margin: 0;
	margin-bottom: 4 * $spacing;
}
