@import "src/tokens/index";

.cardContainer {
	border: var(--border-width_xl) solid var(--surface_primary_emphasis-low);
	border-radius: var(--corner-radius_xl);

	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);

	padding: var(--spc-6x);

	cursor: pointer;

	&:hover {
		background-color: var(--surface_primary_emphasis-low);
		border-color: transparent;
	}

	&:active {
		background-color: var(--surface_primary_emphasis-low);
		border-color: var(--surface_primary_emphasis-high);
	}

	&:focus {
		background-color: var(--background_focus);
		border-color: var(--focus-outline_primary);
	}
}

.cardExpanded {
	border: var(--border-width_xl) solid var(--surface_primary_emphasis-low);
	border-radius: var(--corner-radius_xl);

	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);

	padding: var(--spc-6x);
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-end;
	overflow: hidden;

	cursor: pointer;

	&:hover {
		background-color: var(--surface_primary_emphasis-low);
		border-color: transparent;
	}

	&:active {
		background-color: var(--surface_primary_emphasis-low);
		border-color: var(--surface_primary_emphasis-high);
	}

	&:focus {
		background-color: var(--background_focus);
		border-color: var(--focus-outline_primary);
	}
}

.image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 100%;
	opacity: 0.5;

	z-index: -1;
	mask-image: linear-gradient(to bottom, #000F, #0000);
	-webkit-mask-image: linear-gradient(to bottom, #000F, #0000);
	background-color: #FFF;

	@include darkTheme() {
		filter: invert(1);
		background-color: #000;
	}
}

.meta {
	margin: var(--spc-4x) 0;

	&> * {
		margin: 0;
		line-height: 1;
	}

	.date {
		color: var(--foreground_emphasis-medium);
	}
}

.header {
	display: block;
	text-decoration: none;
	color: var(--foreground_emphasis-high);

	& h2 {
		margin: 0;
	}
}

.excerpt {
	margin: 0;
	margin-bottom: var(--spc-4x);
}
