.card {
    border: 1px solid var(--primary);
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    color: inherit;
}

.profilePic {
    position: absolute !important;
    left: 12px;
    top: 12px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
}

.cardContents {
    margin-left: 108px;
}

.header {
    margin:0;
    font-size: 32px;
}

.authorSubheader {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.authorSubheader p {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    color: var(--darkGrey)
}

.tag {
    color: var(--darkPrimary);
}

.tag:not(:first-child), .date {
    position: relative;
    margin-left: 12px;
}

.tag:not(:first-child)::before, .date::before, .date::after {
    --height: 20px;
    --halfHeight: calc(var(--height) / 2);
    position: absolute;
    top: 50%;
    margin-top: calc(0px - var(--halfHeight));
    height: var(--height);
    width: 1px;
    background: var(--darkPrimary);
    content: ' ';
}

.tag:not(:first-child)::before, .date::before {
    left: -6px;
}

.date::after {
    right: -6px;
}

.excerpt {
    position: relative;
}

.excerpt::before {
    position: absolute;
    top: 0;
    height: 100%;
    left: -12px;
    width: 2px;
    background: var(--darkPrimary);
    content: ' ';
}
