@import "../../../styles/vars";
@import "../../../styles/utils";
@import "../../../styles/text_styles";

.container {
	display: flex;
	max-width: 768px;
	margin-bottom: 16px;
	flex-wrap: wrap;

	@include from($endSmallScreenSize) {
		margin-bottom: 24px;
		flex-wrap: nowrap;
	}
}

.textDiv {
	@include from($endSmallScreenSize) {
		margin-left: 24px;
	}
}

.belowName > * {
	font-weight: 400;
	display: inline-block;
	margin: 0 24px 0 0;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--lowImpactBlack);
	position: relative;
	@extend %subheader-3;
}

.belowName > *:not(:last-child)::after {
	position: absolute;
	content: " ";
	right: -12px;
	height: 100%;
	width: 2px;
	transition: background var(--animStyle) var(--animSpeed);
	background: var(--darkPrimary);
}

.authorName {
	@extend %subheader-1;
	margin-top: 0;
	margin-bottom: 6px;
}

.authorLink {
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--highImpactBlack);
}

.postMetadataAuthorImagesContainer {
	width: 84px;
	height: 84px;

	@include until($endSmallScreenSize) {
		display: none;
	}
}

.originalLink {
	@extend %caption;

	flex-basis: 100%;

	@include from($endSmallScreenSize) {
		margin-left: auto;
		flex-basis: auto;
	}
}
