@import "../../../styles/vars";
@import "../../../styles/utils";
@import "../../../styles/text_styles";

.container {
	max-width: 768px;
	display: flex;
	flex-direction: column;
}

.tags {
	order: -1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tags > * {
	@extend %overline;
	position: relative;
	display: inline-block;
	color: var(--darkPrimary);
	transition: color var(--animStyle) var(--animSpeed);
	text-transform: uppercase;
	margin: 0 24px 16px 0;

	@include until($endSmallScreenSize) {
		margin: 0 16px 8px 0;
	}
}

.tags > *:not(:last-child)::after {
	position: absolute;
	content: " ";
	right: -12px;
	height: 100%;
	width: 2px;
	transition: background var(--animStyle) var(--animSpeed);
	background: var(--darkPrimary);

	@include until($endSmallScreenSize) {
		right: -8px;
	}
}

.title {
	@extend %headline-1;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--highImpactBlack);
	margin: 0 0 24px 0;

	@include until($endSmallScreenSize) {
		margin-bottom: $baseUnit * 2px;
	}
}

.subtitle {
	@extend %subheader-3;
	margin-bottom: 35px;
}
