@use "src/tokens/index" as *;

.calendar {
	width: 100%;
}

.calendarHeader {
	display: flex;
	align-items: center;
	margin: 0 4px 0.4375rem 4px;
	width: 100%;
}

.calendarHeading {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.gridContainer {
	display: flex;
	overflow: auto;
	justify-content: space-between;
	width: 100%;
	gap: calc(var(--site-spacing) / 2);
}

.grid {
	flex-grow: 1;
}

.arrowButton {
	flex-grow: 0;
}

.innerCalendarCell {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 99px;
}

.calendarCell {
	text-align: center;
	cursor: default;
	outline: none;
	forced-color-adjust: none;

	&[data-outside-month] {
		display: none;
	}

	&[data-selected] .innerCalendarCell {
		background: var(--surface_secondary_emphasis-low);
	}

	&[data-hovered] .innerCalendarCell {
		background: var(--surface_secondary_emphasis-medium);
	}

	&[data-pressed] .innerCalendarCell {
		background: var(--surface_secondary_emphasis-high);
	}

	&[data-focus-visible] {
		outline: 2px solid var(--focus-ring-color);
		outline-offset: 2px;
	}
}
