body {
    margin: 16px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "heading heading heading"
        "content content sidebar"
        "content content sidebar";
    gap: 16px;
    height: 376px;
}

.item-a {
    grid-area: heading;
    background-color: #8194A2;
}

.item-b {
    grid-area: content;
    background-color: #3399D1;
}

.item-c {
    grid-area: sidebar;
    background-color: #C577BB;
}

.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 2rem;
    color: white;
}