@import '../../../vars';

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
  max-width: 768px;
}

.textDiv {
  margin-left: 24px;
}

.authorPic {
  @include until($endSmallScreenSize) {
    $mobilePicSize: 64px;
    height: $mobilePicSize !important;
    width: $mobilePicSize !important;
  }
}

.authorPicContainer {
  position: relative;
  height: 85px;
  width: 85px;

  @include until($endSmallScreenSize) {
    $mobilePicSize: 64px;
    height: $mobilePicSize;
    width: $mobilePicSize;
  }
}

.belowName > * {
  font-weight: 400;
  display: inline-block;
  margin: 0 24px 0 0;
  transition: color var(--animStyle) var(--animSpeed);
  color: var(--lowImpactBlack);
  font-size: 36px;
  position: relative;

  @include until($endSmallScreenSize) {
    font-size: 24px;
  }
}

.belowName > *:not(:last-child)::after {
  position: absolute;
  content: ' ';
  right: -12px;
  height: 100%;
  width: 2px;
  transition: background var(--animStyle) var(--animSpeed);
  background: var(--darkPrimary);
}

.authorName {
  font-size: 36px;
  margin: 0;

  @include until($endSmallScreenSize) {
    font-size: 32px;
  }
}

.authorLink {
  transition: color var(--animStyle) var(--animSpeed);
  color: var(--highImpactBlack);
}

.profilePicLink {
  position: absolute;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;

  $desktopSingleSize: 85px;
  height: $desktopSingleSize;
  width: $desktopSingleSize;

  @include until($endSmallScreenSize) {
    $mobilePicSize: 64px;
    height: $mobilePicSize;
    width: $mobilePicSize;
  }

  &.twoAuthor {
    $desktopTwoSize: 70px;
    width: $desktopTwoSize;
    height: $desktopTwoSize;

    @include until($endSmallScreenSize) {
      $mobilePicSize: 55px;
      height: $mobilePicSize;
      width: $mobilePicSize;
    }
  }
}

.twoAuthorPicSize {
  width: 70px !important;
  height: 70px !important;


  @include until($endSmallScreenSize) {
    $mobilePicSize: 55px;
    height: $mobilePicSize !important;
    width: $mobilePicSize !important;
  }
}
