:root {
	--primary-hue: 245;
	--secondary-hue: 340;
	--positive-hue: 155;
	--error-hue: 20;

	--chroma: 1.0;

	--pfp-font-family-brand: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-body: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-code: "Roboto Mono", monospace;
}
