:root {
	--pfp-hue-primary: 245;
	--pfp-hue-secondary: 340;
	--pfp-hue-positive: 155;
	--pfp-hue-error: 20;

	--pfp-font-family-brand: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-body: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-code: "Roboto Mono", monospace;

	--hue-primary: var(--pfp-hue-primary);
	--hue-secondary: var(--pfp-hue-secondary);
	--hue-positive: var(--pfp-hue-positive);
	--hue-error: var(--pfp-hue-error);
}
