:root,
// https://stackoverflow.com/questions/58818299/css-variables-not-working-in-dialogbackdrop
::backdrop {

	--chroma-factor: 1.0;
	--chroma-factor-semantic: 1.0;

	--lightness-10: 22%;
	--lightness-15: 27%;
	--lightness-20: 32%;
	--lightness-30: 40%;
	--lightness-40: 48%;
	--lightness-50: 57%;
	--lightness-60: 66%;
	--lightness-70: 75%;
	--lightness-80: 83%;
	--lightness-90: 92%;
	--lightness-95: 97%;
	--lightness-99: 98%;

	--chroma-10: 0.04;
	--chroma-15: 0.05;
	--chroma-20: 0.06;
	--chroma-30: 0.07;
	--chroma-40: 0.08;
	--chroma-50: 0.09;
	--chroma-60: 0.1;
	--chroma-70: 0.11;
	--chroma-80: 0.12;
	--chroma-90: 0.05;
	--chroma-95: 0.0275;
	--chroma-99: 0.0175;

	/* Dynamic chroma is used to control the theme saturation */

	--dynamic-chroma-10: calc(var(--chroma-10) * var(--chroma-factor));
	--dynamic-chroma-15: calc(var(--chroma-15) * var(--chroma-factor));
	--dynamic-chroma-20: calc(var(--chroma-20) * var(--chroma-factor));
	--dynamic-chroma-30: calc(var(--chroma-30) * var(--chroma-factor));
	--dynamic-chroma-40: calc(var(--chroma-40) * var(--chroma-factor));
	--dynamic-chroma-50: calc(var(--chroma-50) * var(--chroma-factor));
	--dynamic-chroma-60: calc(var(--chroma-60) * var(--chroma-factor));
	--dynamic-chroma-70: calc(var(--chroma-70) * var(--chroma-factor));
	--dynamic-chroma-80: calc(var(--chroma-80) * var(--chroma-factor));
	--dynamic-chroma-90: calc(var(--chroma-90) * var(--chroma-factor));
	--dynamic-chroma-95: calc(var(--chroma-95) * var(--chroma-factor));
	--dynamic-chroma-99: calc(var(--chroma-99) * var(--chroma-factor));

	/* Semantic chroma is used for colors that need to maintain their signature hue & saturation */
	--semantic-chroma: max(var(--chroma-factor), var(--chroma-factor-semantic));

	--semantic-chroma-10: calc(var(--chroma-10) * var(--semantic-chroma));
	--semantic-chroma-15: calc(var(--chroma-15) * var(--semantic-chroma));
	--semantic-chroma-20: calc(var(--chroma-20) * var(--semantic-chroma));
	--semantic-chroma-30: calc(var(--chroma-30) * var(--semantic-chroma));
	--semantic-chroma-40: calc(var(--chroma-40) * var(--semantic-chroma));
	--semantic-chroma-50: calc(var(--chroma-50) * var(--semantic-chroma));
	--semantic-chroma-60: calc(var(--chroma-60) * var(--semantic-chroma));
	--semantic-chroma-70: calc(var(--chroma-70) * var(--semantic-chroma));
	--semantic-chroma-80: calc(var(--chroma-80) * var(--semantic-chroma));
	--semantic-chroma-90: calc(var(--chroma-90) * var(--semantic-chroma));
	--semantic-chroma-95: calc(var(--chroma-95) * var(--semantic-chroma));
	--semantic-chroma-99: calc(var(--chroma-99) * var(--semantic-chroma));


	/* Primary, the most prominent brand color */

	--primary10: oklch(var(--lightness-10) var(--dynamic-chroma-10) var(--hue-primary));
	--primary15: oklch(var(--lightness-15) var(--dynamic-chroma-15) var(--hue-primary));
	--primary20: oklch(var(--lightness-20) var(--dynamic-chroma-20) var(--hue-primary));
	--primary30: oklch(var(--lightness-30) var(--dynamic-chroma-30) var(--hue-primary));
	--primary40: oklch(var(--lightness-40) var(--dynamic-chroma-40) var(--hue-primary));
	--primary50: oklch(var(--lightness-50) var(--dynamic-chroma-50) var(--hue-primary));
	--primary60: oklch(var(--lightness-60) var(--dynamic-chroma-60) var(--hue-primary));
	--primary70: oklch(var(--lightness-70) var(--dynamic-chroma-70) var(--hue-primary));
	--primary80: oklch(var(--lightness-80) var(--dynamic-chroma-80) var(--hue-primary));
	--primary90: oklch(var(--lightness-90) var(--dynamic-chroma-90) var(--hue-primary));
	--primary95: oklch(var(--lightness-95) var(--dynamic-chroma-95) var(--hue-primary));
	--primary99: oklch(var(--lightness-99) var(--dynamic-chroma-99) var(--hue-primary));


	/* Secondary color that is complementary to the primary color */

	--secondary10: oklch(var(--lightness-10) var(--dynamic-chroma-10) var(--hue-secondary));
	--secondary15: oklch(var(--lightness-15) var(--dynamic-chroma-15) var(--hue-secondary));
	--secondary20: oklch(var(--lightness-20) var(--dynamic-chroma-20) var(--hue-secondary));
	--secondary30: oklch(var(--lightness-30) var(--dynamic-chroma-30) var(--hue-secondary));
	--secondary40: oklch(var(--lightness-40) var(--dynamic-chroma-40) var(--hue-secondary));
	--secondary50: oklch(var(--lightness-50) var(--dynamic-chroma-50) var(--hue-secondary));
	--secondary60: oklch(var(--lightness-60) var(--dynamic-chroma-60) var(--hue-secondary));
	--secondary70: oklch(var(--lightness-70) var(--dynamic-chroma-70) var(--hue-secondary));
	--secondary80: oklch(var(--lightness-80) var(--dynamic-chroma-80) var(--hue-secondary));
	--secondary90: oklch(var(--lightness-90) var(--dynamic-chroma-90) var(--hue-secondary));
	--secondary95: oklch(var(--lightness-95) var(--dynamic-chroma-95) var(--hue-secondary));
	--secondary99: oklch(var(--lightness-99) var(--dynamic-chroma-99) var(--hue-secondary));


	/* Positive color that indicates success or a favorable outcome */

	--positive10: oklch(var(--lightness-10) var(--semantic-chroma-10) var(--hue-positive));
	--positive15: oklch(var(--lightness-15) var(--semantic-chroma-15) var(--hue-positive));
	--positive20: oklch(var(--lightness-20) var(--semantic-chroma-20) var(--hue-positive));
	--positive30: oklch(var(--lightness-30) var(--semantic-chroma-30) var(--hue-positive));
	--positive40: oklch(var(--lightness-40) var(--semantic-chroma-40) var(--hue-positive));
	--positive50: oklch(var(--lightness-50) var(--semantic-chroma-50) var(--hue-positive));
	--positive60: oklch(var(--lightness-60) var(--semantic-chroma-60) var(--hue-positive));
	--positive70: oklch(var(--lightness-70) var(--semantic-chroma-70) var(--hue-positive));
	--positive80: oklch(var(--lightness-80) var(--semantic-chroma-80) var(--hue-positive));
	--positive90: oklch(var(--lightness-90) var(--semantic-chroma-90) var(--hue-positive));
	--positive95: oklch(var(--lightness-95) var(--semantic-chroma-95) var(--hue-positive));
	--positive99: oklch(var(--lightness-99) var(--semantic-chroma-99) var(--hue-positive));


	/* Error color that indicates an error or a negative outcome */
	--error10: oklch(var(--lightness-10) var(--semantic-chroma-10) var(--hue-error));
	--error15: oklch(var(--lightness-15) var(--semantic-chroma-15) var(--hue-error));
	--error20: oklch(var(--lightness-20) var(--semantic-chroma-20) var(--hue-error));
	--error30: oklch(var(--lightness-30) var(--semantic-chroma-30) var(--hue-error));
	--error40: oklch(var(--lightness-40) var(--semantic-chroma-40) var(--hue-error));
	--error50: oklch(var(--lightness-50) var(--semantic-chroma-50) var(--hue-error));
	--error60: oklch(var(--lightness-60) var(--semantic-chroma-60) var(--hue-error));
	--error70: oklch(var(--lightness-70) var(--semantic-chroma-70) var(--hue-error));
	--error80: oklch(var(--lightness-80) var(--semantic-chroma-80) var(--hue-error));
	--error90: oklch(var(--lightness-90) var(--semantic-chroma-90) var(--hue-error));
	--error95: oklch(var(--lightness-95) var(--semantic-chroma-95) var(--hue-error));
	--error99: oklch(var(--lightness-99) var(--semantic-chroma-99) var(--hue-error));

	--error90: oklch(
		var(--lightness-90) var(--semantic-chroma-90) var(--hue-error)
	);
	--error95: oklch(
		var(--lightness-95) var(--semantic-chroma-95) var(--hue-error)
	);
	--error99: oklch(
		var(--lightness-99) var(--semantic-chroma-99) var(--hue-error)
	);

	/* Neutrals, used for text and disabled states */

	--neutral10: oklch(var(--lightness-10) 0.05 var(--hue-primary));
	--neutral20: oklch(var(--lightness-20) 0.04 var(--hue-primary));
	--neutral30: oklch(var(--lightness-30) 0.03 var(--hue-primary));
	--neutral40: oklch(var(--lightness-40) 0.02 var(--hue-primary));
	--neutral50: oklch(var(--lightness-50) 0.02 var(--hue-primary));
	--neutral60: oklch(var(--lightness-60) 0.02 var(--hue-primary));
	--neutral70: oklch(var(--lightness-70) 0.02 var(--hue-primary));
	--neutral80: oklch(var(--lightness-80) 0.02 var(--hue-primary));
	--neutral90: oklch(var(--lightness-90) 0.02 var(--hue-primary));
	--neutral95: oklch(var(--lightness-95) 0.02 var(--hue-primary));

	--opacity-primary-medium: 0.64;
	--opacity-primary-low: 0.32;
	--opacity-primary-none: 0.16;

	--opacity-against-primary-medium: 0.72;
	--opacity-against-primary-low: 0.4;
	--opacity-against-primary-none: 0.24;

	--opacity-neutral-medium: 0.75;
	--opacity-neutral-low: 0.5;
	--opacity-neutral-none: 0.25;

	@media (prefers-contrast: more) {
		--opacity-neutral-medium: 1;
		--opacity-neutral-low: 0.75;
	}

	--white: oklch(100% 0 0);
	--black: oklch(0% 0 0);
	--transparent: transparent;
}
