:root{
  --font_uniwidth: "Asap", "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
  --font_display: "Work Sans", "Work Sans-fallback", "Work Sans-fallback2", sans-serif;
  --font_body: "Archivo", "Archivo-fallback", "Archivo-fallback2", sans-serif;
  --font_mono: "Roboto Mono", monospace;
}
