@mixin moreContrastLightTheme {
	--background_primary: var(--primary99);
	--background_secondary: var(--secondary99);
	--background_positive: var(--positive99);
	--background_error: var(--error99);

	--foreground_high: var(--neutral10);

	--primary_low: var(--primary_medium);
	--primary_low_semantic: var(--primary_medium_semantic);
	--primary_on-low: var(--primary_on-medium);

	--secondary_low: var(--secondary_medium);
	--secondary_low_semantic: var(--secondary_medium_semantic);
	--secondary_on-low: var(--secondary_on-medium);

	--positive_low: var(--positive_medium);
	--positive_low_semantic: var(--positive_medium_semantic);
	--positive_on-low: var(--positive_on-medium);

	--error_low: var(--error_medium);
	--error_low_semantic: var(--error_medium_semantic);
	--error_on-low: var(--error_on-medium);

	--primary_container: var(--primary40);
	--primary_container_hover: var(--primary30);
	--primary_container_pressed: var(--primary20);
	--primary_on-container: var(--primary99);

	--secondary_container: var(--secondary40);
	--secondary_container_hover: var(--secondary30);
	--secondary_container_pressed: var(--secondary20);
	--secondary_on-container: var(--secondary99);

	--positive_container: var(--positive40);
	--positive_container_hover: var(--positive30);
	--positive_container_pressed: var(--positive20);
	--positive_on-container: var(--positive99);

	--error_container: var(--error40);
	--error_container_hover: var(--error30);
	--error_container_pressed: var(--error20);
	--error_on-container: var(--error99);
}

@mixin moreContrastDarkTheme {
	--foreground_high: var(--neutral95);

	--primary_low: var(--primary_medium);
	--primary_low_semantic: var(--primary_medium_semantic);
	--primary_on-low: var(--primary_on-medium);

	--secondary_low: var(--secondary_medium);
	--secondary_low_semantic: var(--secondary_medium_semantic);
	--secondary_on-low: var(--secondary_on-medium);

	--positive_low: var(--positive_medium);
	--positive_low_semantic: var(--positive_medium_semantic);
	--positive_on-low: var(--positive_on-medium);

	--error_low: var(--error_medium);
	--error_low_semantic: var(--error_medium_semantic);
	--error_on-low: var(--error_on-medium);

	--primary_container: var(--primary70);
	--primary_container_hover: var(--primary80);
	--primary_container_pressed: var(--primary90);
	--primary_on-container: var(--primary10);

	--secondary_container: var(--secondary70);
	--secondary_container_hover: var(--secondary80);
	--secondary_container_pressed: var(--secondary90);
	--secondary_on-container: var(--secondary10);

	--positive_container: var(--positive70);
	--positive_container_hover: var(--positive80);
	--positive_container_pressed: var(--positive90);
	--positive_on-container: var(--positive10);

	--error_container: var(--error70);
	--error_container_hover: var(--error80);
	--error_container_pressed: var(--error90);
	--error_on-container: var(--error10);
}

// Light theme
:root,
// https://stackoverflow.com/questions/58818299/css-variables-not-working-in-dialogbackdrop
::backdrop {
	/* Primary */

	--primary_high: var(--primary20);
	--primary_high_hovered: var(--primary30);
	--primary_high_pressed: var(--primary40);
	--primary_on-high: var(--primary99);

	--primary_medium: var(--primary40);
	--primary_medium_semantic: oklch(
		from var(--primary40) l var(--semantic-chroma-40) h
	);
	--primary_on-medium: var(--primary99);

	--primary_low: var(--primary80);
	--primary_low_semantic: oklch(
		from var(--primary80) l var(--semantic-chroma-80) h
	);
	--primary_on-low: var(--primary10);

	/* Secondary */

	--secondary_high: var(--secondary20);
	--secondary_high_hovered: var(--secondary30);
	--secondary_high_pressed: var(--secondary40);
	--secondary_on-high: var(--secondary99);

	--secondary_medium: var(--secondary40);
	--secondary_medium_semantic: oklch(
		from var(--secondary40) l var(--semantic-chroma-40) h
	);
	--secondary_on-medium: var(--secondary99);

	--secondary_low: var(--secondary80);
	--secondary_low_semantic: oklch(
		from var(--secondary80) l var(--semantic-chroma-80) h
	);
	--secondary_on-low: var(--secondary10);

	/* Error */

	--error_high: var(--error20);
	--error_high_hovered: var(--error30);
	--error_high_pressed: var(--error40);
	--error_on-high: var(--error99);

	--error_medium: var(--error40);
	--error_medium_semantic: oklch(
		from var(--error40) l var(--semantic-chroma-40) h
	);
	--error_on-medium: var(--error99);

	--error_low: var(--error80);
	--error_low_semantic: oklch(
		from var(--error80) l var(--semantic-chroma-80) h
	);
	--error_on-low: var(--error10);

	/* Positive */

	--positive_high: var(--positive20);
	--positive_high_hovered: var(--positive30);
	--positive_high_pressed: var(--positive40);
	--positive_on-high: var(--positive99);

	--positive_medium: var(--positive40);
	--positive_medium_semantic: oklch(
		from var(--positive40) l var(--semantic-chroma-40) h
	);
	--positive_on-medium: var(--positive99);

	--positive_low: var(--positive80);
	--positive_low_semantic: oklch(
		from var(--positive80) l var(--semantic-chroma-80) h
	);
	--positive_on-low: var(--positive10);

	/* Tints */

	--tint_primary_high: var(--primary_low);
	--tint_primary_medium: oklch(
		from var(--primary_low) l c h / var(--opacity-primary-medium)
	);
	--tint_primary_low: oklch(
		from var(--primary_low) l c h / var(--opacity-primary-low)
	);
	--tint_primary_none: oklch(
		from var(--primary_low) l c h / var(--opacity-primary-none)
	);

	--tint_secondary_high: var(--secondary_low);
	--tint_secondary_medium: oklch(
		from var(--secondary_low) l c h / var(--opacity-against-primary-medium)
	);
	--tint_secondary_low: oklch(
		from var(--secondary_low) l c h / var(--opacity-against-primary-low)
	);
	--tint_secondary_none: oklch(
		from var(--secondary_low) l c h / var(--opacity-against-primary-none)
	);

	--tint_positive_high: var(--positive_low);
	--tint_positive_medium: oklch(
		from var(--positive_low) l c h / var(--opacity-against-primary-medium)
	);
	--tint_positive_low: oklch(
		from var(--positive_low) l c h / var(--opacity-against-primary-low)
	);
	--tint_positive_none: oklch(
		from var(--positive_low) l c h / var(--opacity-against-primary-none)
	);

	--tint_error_high: var(--error_low);
	--tint_error_medium: oklch(
		from var(--error_low) l c h / var(--opacity-against-primary-medium)
	);
	--tint_error_low: oklch(
		from var(--error_low) l c h / var(--opacity-against-primary-low)
	);
	--tint_error_none: oklch(
		from var(--error_low) l c h / var(--opacity-against-primary-none)
	);

	/* Containers */

	--primary_container: var(--tint_primary_low);
	--primary_container_hover: var(--tint_primary_medium);
	--primary_container_pressed: var(--tint_primary_high);
	--primary_on-container: var(--primary10);

	--secondary_container: var(--tint_secondary_low);
	--secondary_container_hover: var(--tint_secondary_medium);
	--secondary_container_pressed: var(--tint_secondary_high);
	--secondary_on-container: var(--secondary10);

	--positive_container: var(--tint_positive_low);
	--positive_container_hover: var(--tint_positive_medium);
	--positive_container_pressed: var(--tint_positive_high);
	--positive_on-container: var(--positive10);

	--error_container: var(--tint_error_low);
	--error_container_hover: var(--tint_error_medium);
	--error_container_pressed: var(--tint_error_high);
	--error_on-container: var(--error10);

	/* Backgrounds */

	--background_primary: var(--primary95);
	--background_primary-bright: var(--primary99);

	--background_secondary: var(--secondary95);
	--background_secondary-bright: var(--secondary99);

	--background_positive: var(--positive95);
	--background_positive-bright: var(--positive99);

	--background_error: var(--error95);
	--background_error-bright: var(--error99);

	--background_focus: var(--white);
	--background_disabled: oklch(
		from var(--neutral20) l c h / var(--opacity-neutral-none)
	);

	/* Foregrounds */

	--foreground_high: var(--neutral20);
	--foreground_medium: oklch(
		from var(--foreground_high) l c h / var(--opacity-neutral-medium)
	);
	--foreground_disabled: oklch(
		from var(--foreground_high) l c h / var(--opacity-neutral-low)
	);

	/* Focus */

	--focus-outline_primary: var(--primary_medium_semantic);
	--focus-outline_secondary: var(--secondary_medium_semantic);
	--focus-outline_positive: var(--positive_medium_semantic);
	--focus-outline_error: var(--error_medium_semantic);
}

:root:where(.contrast-more),
:root:where(.contrast-more) ::backdrop {
	@include moreContrastLightTheme;
}

@media (prefers-contrast: more) {
	:root:where(:not(.contrast-less)),
	:root:where(:not(.contrast-less)) ::backdrop {
		@include moreContrastLightTheme;
	}
}

html.dark,
body.dark,
.darkTheme {
	&,
	& ::backdrop {
		/* Primary */

		--primary_high: var(--primary90);
		--primary_high_hovered: var(--primary80);
		--primary_high_pressed: var(--primary70);
		--primary_on-high: var(--primary10);

		--primary_medium: var(--primary80);
		--primary_medium_semantic: oklch(
			from var(--primary80) l var(--semantic-chroma-80) h
		);
		--primary_on-medium: var(--primary10);

		--primary_low: var(--primary40);
		--primary_low_semantic: oklch(
			from var(--primary40) l var(--semantic-chroma-40) h
		);
		--primary_on-low: var(--primary99);

		/* Secondary */

		--secondary_high: var(--secondary90);
		--secondary_high_hovered: var(--secondary80);
		--secondary_high_pressed: var(--secondary70);
		--secondary_on-high: var(--secondary10);

		--secondary_medium: var(--secondary80);
		--secondary_medium_semantic: oklch(
			from var(--secondary80) l var(--semantic-chroma-80) h
		);
		--secondary_on-medium: var(--secondary10);

		--secondary_low: var(--secondary40);
		--secondary_low_semantic: oklch(
			from var(--secondary40) l var(--semantic-chroma-40) h
		);
		--secondary_on-low: var(--secondary99);

		/* Error */

		--error_high: var(--error90);
		--error_high_hovered: var(--error80);
		--error_high_pressed: var(--error70);
		--error_on-high: var(--error10);

		--error_medium: var(--error80);
		--error_medium_semantic: oklch(
			from var(--error80) l var(--semantic-chroma-80) h
		);
		--error_on-medium: var(--error10);

		--error_low: var(--error40);
		--error_low_semantic: oklch(
			from var(--error40) l var(--semantic-chroma-40) h
		);
		--error_on-low: var(--error99);

		/* Positive */

		--positive_high: var(--positive90);
		--positive_high_hovered: var(--positive80);
		--positive_high_pressed: var(--positive70);
		--positive_on-high: var(--positive10);

		--positive_medium: var(--positive80);
		--positive_medium_semantic: oklch(
			from var(--positive80) l var(--semantic-chroma-80) h
		);
		--positive_on-medium: var(--positive10);

		--positive_low: var(--positive40);
		--positive_low_semantic: oklch(
			from var(--positive40) l var(--semantic-chroma-40) h
		);
		--positive_on-low: var(--positive99);

		/* Containers */

		--primary_on-container: var(--primary99);
		--secondary_on-container: var(--secondary99);
		--positive_on-container: var(--positive99);
		--error_on-container: var(--error99);

		/* Backgrounds */

		--background_primary: var(--primary10);
		--background_primary-bright: var(--primary15);

		--background_secondary: var(--secondary10);
		--background_secondary-bright: var(--secondary15);

		--background_positive: var(--positive10);
		--background_positive-bright: var(--positive15);

		--background_error: var(--error10);
		--background_error-bright: var(--error15);

		--background_focus: var(--black);
		--background_disabled: oklch(
			from var(--neutral90) l c h / var(--opacity-neutral-none)
		);

		/* Foregrounds */

		--foreground_high: var(--neutral90);

		/* Focus */

		--focus-outline_primary: var(--primary_medium_semantic);
		--focus-outline_secondary: var(--secondary_medium_semantic);
		--focus-outline_positive: var(--positive_medium_semantic);
		--focus-outline_error: var(--error_medium_semantic);
	}
}

:root.dark:where(.contrast-more),
:root.darkTheme:where(.contrast-more),
:root:where(.contrast-more) body.dark,
:root:where(.contrast-more) .darkTheme {
	&,
	& ::backdrop {
		@include moreContrastDarkTheme;
	}
}

@media (prefers-contrast: more) {
	:root.dark:where(:not(.contrast-less)),
	:root.darkTheme:where(:not(.contrast-less)),
	:root:where(:not(.contrast-less)) body.dark,
	:root:where(:not(.contrast-less)) .darkTheme {
		&,
		& ::backdrop {
			@include moreContrastDarkTheme;
		}
	}
}
