@import "src/tokens/index";

.header {
	display: block;

	.name {
		margin: 0;
		margin-bottom: var(--spc-1x);
	}

	.bio {
		margin: 0;
	}

	--pictureSize: 40px;

	& .picture {
		float: left;
		margin-right: var(--spc-4x);

		min-width: var(--pictureSize);
		height: var(--pictureSize);
	}

	.headerContent {
		margin-bottom: var(--spc-4x);
	}

	.headerContent {
		margin-left: calc(var(--pictureSize) + (var(--spc-4x)));
	}

	.socials {
		gap: var(--spc-2x);
	}

	@include from($tabletSmall) {
		--pictureSize: 96px;

		@include until($desktopSmall) {
			.socials {
				display: block;
				margin-left: calc(var(--pictureSize) + (var(--spc-4x)));
			}
		}
	}

	@include from($desktopSmall) {
		flex-direction: column;
		--pictureSize: 128px;

		.headerContent {
			margin-top: var(--spc-2x);
			margin-left: 0;
		}

		.socials {
			margin-left: 0;
		}

		& .picture {
			float: none;
		}
	}
}

.roles {
	gap: var(--spc-2x);
	margin-top: var(--spc-4x);
}

.role {
	height: 40px;
	padding: var(--spc-2x) var(--spc-1x);

	display: flex;
	align-items: center;

	color: var(--foreground_emphasis-medium);

	& picture {
		margin-right: var(--spc-2x);
	}
}
