@import "src/tokens/index";

.header {
	display: block;

	.name {
		margin: 0;
		margin-bottom: $spacing;
	}

	.bio {
		margin: 0;
	}

	--pictureSize: 40px;

	& .picture {
		float: left;
		margin-right: $spacing * 4;

		min-width: var(--pictureSize);
		height: var(--pictureSize);
	}

	.headerContent {
		margin-bottom: $spacing * 4;
	}

	.headerContent {
		margin-left: calc(var(--pictureSize) + ($spacing * 4));
	}

	.socials {
		gap: $spacing * 2;
	}

	@include from($tabletSmall) {
		--pictureSize: 96px;

		@include until($desktopSmall) {
			.socials {
				display: block;
				margin-left: calc(var(--pictureSize) + ($spacing * 4));
			}
		}
	}

	@include from($desktopSmall) {
		flex-direction: column;
		--pictureSize: 128px;

		.headerContent {
			margin-top: $spacing * 2;
			margin-left: 0;
		}

		.socials {
			margin-left: 0;
		}

		& .picture {
			float: none;
		}
	}
}

.roles {
	gap: $spacing * 2;
	margin-top: $spacing * 4;
}

.role {
	height: 40px;
	padding: ($spacing * 2) $spacing;

	display: flex;
	align-items: center;

	color: get-var(--foreground_emphasis-medium);

	& picture {
		margin-right: $spacing * 2;
	}
}
