@import "src/tokens/index";

.container {
	padding: var(--site-spacing);
	width: 100%;
	/* TODO: Double-check with Ed, this says max-width_l in specs, but it's clearly not */
	max-width: var(--max-width_xl);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 0;

	@include from($desktopSmall) {
		grid-template-columns: auto auto;
		grid-template-rows: 1fr;
		gap: var(--site-spacing);
	}
}

.achivementsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--site-spacing);

	@include from($tabletLarge) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
