---
import { PostCardGrid } from "components/post-card/post-card-grid";
import UnicornLayout from "./unicorn-layout/unicorn-layout.astro";
import { ExtendedPostInfo } from "types/index";
import { UnicornInfo } from "types/UnicornInfo";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import UnicornCardLarge from "./unicorn-card-large.astro";

interface UnicornPageProps {
	unicorn: UnicornInfo;
	posts: ExtendedPostInfo[];
}

const { unicorn, posts } = Astro.props as UnicornPageProps;
const unicornProfilePicMap = await getUnicornProfilePicMap();
---

<UnicornLayout>
	<UnicornCardLarge unicorn={unicorn} slot="sidebar" />

	<h1 class="text-style-headline-5">Blog posts</h1>
	<PostCardGrid
		listAriaLabel={`List of posts written by ${unicorn.name}`}
		postsToDisplay={posts}
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</UnicornLayout>
