---
import "../../framework-field-guide/components/shared-section-styling.scss";
import InternalsBookCover from "../../framework-field-guide/segments/internals-book-cover.astro";
import WhatYouNeed from "../components/what-you-need.astro";
import WhatYoullLearn from "../components/what-youll-learn.astro";
import CollectionTableOfContentsInternals from "../components/collection-table-of-contents-internals.astro";
import { getCollectionBySlug, getPostsByCollection } from "../../../../utils/api";

const collection = getCollectionBySlug("framework-field-guide-internals", "en");

const chapterList = getPostsByCollection(
	"framework-field-guide-internals",
	"en",
);
---

<section data-change-color-to="inter">
	<InternalsBookCover />

	<div class="class-book-3">
		<div
			class={`book-section`}
			style="background: var(--section-background);"
		>
			<WhatYouNeed />
			<CollectionTableOfContentsInternals
				title="Chapters*"
				chaptersToShow={2}
				chapterList={collection!.chapterList}
				posts={chapterList}
			/>
			<WhatYoullLearn />
		</div>
	</div>
</section>
