@use "src/tokens/index" as *;

.embedContainer {
	background: var(--surface_secondary_emphasis-none);
	border-radius: var(--corner-radius_xl);
	padding: calc(var(--site-spacing) * 2);
	overflow: hidden;
	position: relative;
	max-width: 640px;
	margin: 0 auto;
}

.embedContents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fourOFourIllustration {
	width: 160px;
	margin-bottom: calc(var(--site-spacing) * 2);

	@include from($tabletSmall) {
		width: 320px;
	}
}

.title {
	margin: 0 !important;
}

.description {
	margin: 0 !important;
	margin-top: 8px !important;
	color: var(--foreground_emphasis-medium);
}

.button {
	margin: 0 !important;
	margin-top: calc(var(--site-spacing) * 2) !important;
}

.embedImageBg {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.12) 100%
	);
}

.embedImageInnerBg {
	height: 200%;
	width: 150%;
	background-image: url("/patterns/dots-grid.svg");
	background-repeat: repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
