@use "src/tokens/index" as *;

:root {
	--collection-page_banner_corner-radius: var(--corner-radius_l);

	--collection-page_padding: var(--site-spacing);
	--collection-page_gap: var(--site-spacing);

	--collection-page_content_gap: var(--site-spacing);
	--collection-page_content_button-gap: var(--spc-4x);

	--collection-page_title_padding-top: var(--site-spacing);
	--collection-page_title_padding-bottom: var(--spc-2x);

	--collection-page_title_color: var(--foreground_emphasis-high);
	--collection-page_subtitle_color: var(--foreground_emphasis-medium);
	--collection-page_description_color: var(--foreground_emphasis-high);

	@include from($tabletSmall) {
		--collection-page_banner_max-width: 240px;
		--collection-page_title_padding-top: 0px;
	}

	@include from($tabletLarge) {
		--collection-page_banner_max-width: 400px;
	}

	@include from($desktopSmall) {
		--collection-page_banner_corner-radius: var(--corner-radius_xl);
		--collection-page_banner_max-width: 480px;
	}
}

.collectionPageContainer {
	padding: var(--collection-page_padding);
	max-width: var(--max-width_l);
	margin: 0 auto;
}

.collectionPageInnerContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, min-content);

	@include from($tabletSmall) {
		grid-template-columns: min-content 1fr;
		grid-template-rows: repeat(2, min-content);
		grid-column-gap: var(--collection-page_gap);
	}

	@include from($desktopSmall) {
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr;
		grid-column-gap: var(--collection-page_gap);
	}
}

.titleAndDescContainer {
	@include from($tabletSmall) {
		grid-column: 2;
		grid-row: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	@include from($desktopSmall) {
		grid-column: 2;
		grid-row: 1;
		display: unset;
		justify-content: unset;
		flex-direction: unset;
	}
}

.title {
	color: var(--collection-page_title_color);
	margin: 0;
	margin-bottom: var(--collection-page_title_padding-bottom);
	margin-top: var(--collection-page_title_padding-top);
}

.description {
	color: var(--collection-page_subtitle_color);
	margin: 0;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	gap: var(--collection-page_content_gap);
	margin-top: var(--collection-page_content_gap);

	@include from($tabletSmall) {
		grid-column: 1 / 3;
		grid-row: 2;
	}

	@include from($desktopSmall) {
		grid-column: 2;
		grid-row: 2;
	}
}

.content > *:first-child {
	margin-top: 0 !important;
}

.content > *:last-child {
	margin-bottom: 0 !important;
}

.coverImage {
	@include from($tabletSmall) {
		grid-column: 1;
		grid-row: 1;
	}

	@include from($desktopSmall) {
		grid-column: 1;
		grid-row: 1 / 3;
	}
}

.coverImage img {
	max-width: 368px;
	max-height: 552px;
	width: 100%;
	object-fit: cover;

	border-radius: var(--collection-page_banner_corner-radius);

	margin: 0 auto;
	margin-bottom: var(--collection-page_gap);
	display: block;

	@include from($tabletSmall) {
		margin: unset;
		display: unset;
		max-width: unset;
		max-height: unset;
		width: 240px;
		height: 360px;
	}

	@include from($desktopSmall) {
		height: 720px;
		width: 480px;
	}
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	gap: var(--collection-page_content_button-gap);
}

.buttonContainer > * {
	width: 1px;
	flex-grow: 1;
}

.authorsList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.authorContainer {
	margin: 0;
	padding: 0;
}

.authorsList li + li {
	margin-top: var(--spc-4x);
}
