* {
	font-family: Figtree;
	margin: 0;
  }
  
  body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	background-color: #E5F2FF;
  }
  
  .pfp-card {
	display: flex;
	flex-direction: column;
	width: 360px;
	padding: 16px;
	margin: 48px;
	border-radius: 36px;
	border: 3px solid #87CEFF;
	box-sizing: border-box;
	transition: width 0.25s ease;
  
	> p {
	  margin-top: 4px;
	}
  }
  
  .pfp-card > #dog-image {
	aspect-ratio: 1;
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
	margin-bottom: 16px;
  }
  
  button {
	display: flex;
	justify-content: center;
	padding: 12px 20px;
	border: none;
	border-radius: 99px;
	font-weight: 700;
	background-color: rgba(200, 230, 255, 1);
	transition: width 0.25s ease;
  }
  
  button:hover {
	transition-duration: 0.1s;
	background-color: rgba(135, 206, 255, 1);
  }