@import "src/tokens/index";

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.content {
	width: 1px;
	flex-grow: 1;
	max-width: var(--max-width_m);
	padding: var(--site-spacing);
}

.sidebarLeft, .sidebarRight {
	flex-basis: 25%;
	flex-grow: 0;
	flex-shrink: 0;
	max-width: calc(var(--max-width_m) / 2);
	animation: fadeIn 300ms ease-in-out;
}

.sidebarRight {
	@include until($desktopSmall) {
		display: none;
	}
}

.sidebarLeft {
	@include until($tablet) {
		display: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;


	}
	100% {
		opacity: 1;
	}
}
