@import "src/tokens/index";

.container {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--spc-8x);
}

.content {
	max-width: 100%;
	flex-basis: 100%;
	width: 1px;
	flex-grow: 1;
}

.sidebarLeft, .sidebarRight {
	// This means no sidebars on mobile
	display: none;

	top: var(--spc-8x);
	overflow: auto;
	height: 100vh;
	min-width: 272px;
	max-width: 272px;

	@include from($desktop) {
		min-width: 464px;
	}

	position: sticky;
	align-self: flex-start;
	overflow: auto;

	animation: fadeIn 300ms ease-in-out;
}

@include from($tablet) {
	.sidebarLeft {
		display: block;
	}
}

@include from($desktopSmall) {
	.sidebarRight {
		display: block;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
