@import "src/tokens/index";

.unicornLogo {
	margin-right: var(--spc-1x);
	width: 56px;
	height: 56px;

	@include from($desktopSmall) {
		width: 192px;
		height: 192px;
	}
}

.links {
	gap: var(--spc-4x);
	flex-wrap: wrap;
}

.sponsors {
	flex-wrap: wrap;
}

.sponsor {
	display: flex;
	align-items: center;
	width: 300px;
	height: 122px;

	margin: var(--spc-2x);

	background-color: #fff;
	border-radius: var(--corner-radius_s);
	overflow: hidden;
}

.unicorns {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--site-spacing);

	@include from($tabletLarge) {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}
}
