@import "src/tokens/index";

.unicornLogo {
	margin-right: get-var(--spc-1x);
	width: 56px;
	height: 56px;

	@include from($desktopSmall) {
		width: 192px;
		height: 192px;
	}
}

.links {
	gap: get-var(--spc-4x);
	flex-wrap: wrap;
}

.sponsors {
	flex-wrap: wrap;
}

.sponsor {
	display: flex;
	align-items: center;
	width: 300px;
	height: 122px;

	margin: get-var(--spc-2x);

	background-color: #FFF;
	border-radius: get-var(--corner-radius_s);
	overflow: hidden;
}
