@import "../../styles/vars";
@import "../../styles/utils";

.card {
	height: 80px;
	display: flex;
	align-items: center;
	padding: $spacing * 4;
	gap: $spacing * 4;

	background-color: theme-var(--primary-surface-emphasis_none);
	border-radius: map-get($cornerRadius, l);

	picture {
		min-width: 48px;
	}

	& > div {
		flex-grow: 1;
	}
}

.name {
	color: theme-var(--neutral-foreground-emphasis_high);
	display: block;
}

.roles {
	list-style: none;
	padding: 0;
	margin: 0;

	color: theme-var(--neutral-foreground-emphasis_medium);
	line-height: 1;

	li {
		display: inline;
	}
}
