@import "src/tokens/index";

.card {
	height: 80px;
	display: flex;
	align-items: center;
	gap: var(--spc-4x);

	border: var(--border-width_xl) solid var(--surface_primary_emphasis-low);
	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);
	border-radius: var(--corner-radius_l);
	padding: var(--spc-4x);
	border-width: 0;
	background-color: var(--surface_primary_emphasis-none);

	picture {
		display: flex;
		min-width: 48px;
	}

	& > div {
		flex-grow: 1;
	}
}

.name {
	color: var(--foreground_emphasis-high);
	display: block;
}

.roles {
	list-style: none;
	padding: 0;
	margin: 0 !important;

	color: var(--foreground_emphasis-medium);
	line-height: 1;

	li {
		display: inline;
	}
}
