@import "src/tokens/index";

:root {
	--license_padding-horizontal: var(--spc-4x);
	--license_padding-vertical: var(--spc-3x);
	--license_gap: var(--spc-4x);
	--license_icon-size: var(--icon-size_regular);
	--license_background-color: var(--surface_primary_emphasis-none);
	--license_corner-radius: var(--corner-radius_m);
}

.license {
	display: flex;
	align-items: center;
	gap: var(--license_gap);
	padding: var(--license_padding-vertical) var(--license_padding-horizontal);

	background-color: var(--license_background-color);
	border-radius: var(--license_corner-radius);

	.icon {
		max-width: var(--license_icon-size);
		height: var(--license_icon-size);
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		flex-grow: 0;
		filter: var(--shadow_sticker_drop_shadow);
	}

	.info {
		display: flex;
		flex-direction: column;
	}

	.viewButton {
		all: unset;
		color: var(--primary_default);

		&:hover, &:active, &:focus-visible {
			text-decoration: underline;
		}
	}

	@include transition(background-color outline);

	@supports selector(:has(*)) {
		&:has(:focus-visible) {
			background-color: var(--background_focus);
			outline: var(--border-width_focus) solid var(--focus-outline_primary);
		}
	}

	@supports not selector(:has(*)) {
		&:focus-within {
			background-color: var(--background_focus);
			outline: var(--border-width_focus) solid var(--focus-outline_primary);
		}
	}
}

:root {
	--license-modal_header_padding-horizontal: calc(
		var(--site-spacing) + var(--spc-2x)
	);
	--license-modal_header_padding-vertical: calc(
		var(--site-spacing) + var(--spc-2x)
	);
	--license-modal_padding-horizontal: var(--site-spacing);
	--license-modal_padding-bottom: var(--site-spacing);
	--license-modal_gap: var(--site-spacing);
	--license-modal_button-gap: var(--spc-4x);
	--license-modal_corner-radius: var(--corner-radius_l);

	@include from($tabletSmall) {
		--license-modal_corner-radius: calc(var(--site-spacing) * 2);
		--license-modal_header_padding-horizontal: var(--site-spacing);
		--license-modal_header_padding-vertical: var(--site-spacing);
		--license-modal_max-width: var(--max-width_s);
	}
}

.licenseDialog {
	background: var(--background_primary);
	padding: 0;
	border-radius: var(--license-modal_corner-radius);
	max-width: var(--license-modal_max-width);
	width: calc(100% - var(--site-spacing) * 2);
	border: none;

	.form {
		padding: 0 var(--license-modal_padding-horizontal)
			var(--license-modal_padding-bottom);
	}

	.titleContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--spc-4x);

		padding: var(--license-modal_header_padding-vertical)
			calc(
				var(--license-modal_header_padding-horizontal) -
					var(--license-modal_padding-horizontal)
			);
	}

	.title {
		margin: 0;
	}

	.body {
		color: var(--foreground_emphasis-high);
	}
}

.licenseDialog::backdrop {
	background-color: var(--foreground_disabled);
}
