---
import style from "./license.module.scss";
import { getHrefContainerProps } from "utils/href-container-script";
import { Picture } from "@astrojs/image/components";
import { translate } from "utils/translations";

interface LicenseProps {
	name: string;
	image: string;
	url: string;
}

const props = Astro.props as LicenseProps;
const licenseHref = props.url;
---

<div class={style.license} {...getHrefContainerProps(licenseHref)}>
	<img width="24" height="24" src={props.image} loading="lazy" />
	<div class="text-style-button-regular">
		<span>{props.name}</span>
		<a href={licenseHref}>{translate(Astro, "action.view_license")}</a>
	</div>
</div>
