@use "src/tokens/index" as *;

:root {
	--resizeable-panel_separator_background: var(--surface_primary_emphasis-medium);
	--resizeable-panel_separator_background_hovered: var(--surface_primary_emphasis-high);
	--resizeable-panel_separator_background_focused: var(--background_focus);
	--resizeable-panel_separator_outline_color_focused: var(
		--focus-outline_primary
	);
	--resizeable-panel_separator_outline_width_focused: var(--border-width_focus);
	--resizeable-panel_separator_size: var(--spc-6x);

	--resizeable-panel_icon_width: var(--spc-2x);
	--resizeable-panel_icon_height: var(--spc-12x);
	--resizeable-panel_icon_height_active: var(--spc-16x);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: min(calc(var(--resizeable-panels-height) * 2), 70vh);

	@include from($tabletSmall) {
		height: var(--resizeable-panels-height);
		flex-direction: row;
	}
}

.leftPanel {
	@include from($tabletSmall) {
		height: 100% !important;
		width: 50%;
	}

	@include until($tabletSmall) {
		height: 50%;
		width: 100% !important;
	}
}

.rightPanel {
	flex: 1 1;
}

.leftPanel,
.rightPanel {
	min-width: 0;
	@include transition(visibility opacity);

	&[data-hidden="true"] {
		visibility: hidden;
		opacity: 0;
	}
}

.container[data-mouse-down="true"] {
	.leftPanel,
	.rightPanel {
		// iframe can intercept mouse movement if the mouse passes over it while dragging
		pointer-events: none;
	}
}

.separator {
	height: var(--resizeable-panel_separator_size);
	cursor: row-resize;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	outline: none;

	@include from($tabletSmall) {
		height: unset;
		width: var(--resizeable-panel_separator_size);
		cursor: col-resize;
	}

	&__icon {
		margin: auto;
		height: var(--resizeable-panel_icon_width);
		width: var(--resizeable-panel_icon_height);
		border-radius: var(--spc-1x);
		background-color: var(--resizeable-panel_separator_background);
		border: var(--resizeable-panel_separator_border_width_focused) solid
			transparent;
		@include transition(width height background-color);

		@include from($tabletSmall) {
			height: var(--resizeable-panel_icon_height);
			width: var(--resizeable-panel_icon_width);
		}
	}

	&:focus-visible &__icon {
		background-color: var(--resizeable-panel_separator_background_focused);
		outline: var(--resizeable-panel_separator_outline_width_focused) solid
			var(--resizeable-panel_separator_outline_color_focused);
	}
}

.separator:hover .separator__icon,
.container[data-mouse-down="true"] .separator__icon {
	background-color: var(--resizeable-panel_separator_background_hovered);
	@include until($tabletSmall) {
		width: var(--resizeable-panel_icon_height_active);
	}
	@include from($tabletSmall) {
		height: var(--resizeable-panel_icon_height_active);
	}
}
