@import "src/styles/vars";

.tableList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tocLi {
	padding: 6px 0;
	margin-right: 3px;

	border-left: 3px solid var(--minImpactBlack);
}

.tocLi a {
	color: var(--midImpactBlack);
	display: block;
	text-decoration: none;
	outline: none;

	@supports not selector(:focus-visible) {
		&:focus {
			outline: 3px solid var(--black);
		}
	}

	&:focus-visible {
		outline: 3px solid var(--black);
	}

	&:hover {
		text-decoration: underline;
	}
}

.toc-is-active {
	font-weight: bold;

	a {
		color: var(--darkPrimary) !important;
	}
}

.tocLi:global(.toc-is-active) {
	border-color: var(--darkPrimary);

	a {
		font-weight: 700;
		color: var(--darkPrimary) !important;
	}
}

.tocH1 {
	padding-top: 0;
	margin-top: 16px;
	border-left: none;
}

.tocH2,
.tocH3,
.tocH4 {
	a {
		font-style: italic;
	}
}

@for $i from 1 through 4 {
	.tocH#{$i} {
		padding-left: ($i - 1) * 10px;
	}
}
