---
import "../../framework-field-guide/components/shared-section-styling.scss";
import FundamentalsBookCover from "../../framework-field-guide/segments/fundamentals-book-cover.astro";
import WhatYouNeed from "../components/what-you-need.astro";
import WhatYoullLearn from "../components/what-youll-learn.astro";
import CollectionTableOfContents from "../components/collection-table-of-contents-fundamentals.astro";
import { PostInfo } from "../../../../types/PostInfo";
import { unicorns } from "../../../../utils/data";

const posts = await Astro.glob<PostInfo>(
	"../../../../../content/blog/**/index.md",
);

const chapterList = posts
	.map((post) => post.frontmatter)
	.filter((post) => post.collection === "framework-field-guide-fundamentals")
	.sort((postA, postB) => (postA.order > postB.order ? 1 : -1));
---

<section data-change-color-to="fund">
	<FundamentalsBookCover />

	<div class="class-book-1">
		<div class={`book-section`} style="background: var(--section-background);">
			<WhatYouNeed />
			<CollectionTableOfContents posts={chapterList} />
			<WhatYoullLearn />
		</div>
	</div>
</section>
