@import "../../../styles/vars";
@import "../../../styles/utils";

.title {
	margin-top: $spacing * 2;
	margin-bottom: 0;
}

.date {
	margin-left: $spacing * 2;
}

.tags {
	list-style: none;
	padding: ($spacing * 2) 0;
	margin: 0;

	gap: ($spacing * 2);

	margin-left: $spacing * 2;
}
