---
import { getMarkdownHtml } from "../../../../utils/markdown";
import "../../../../styles/shiki.scss";
import "./code-block.scss";
import styles from "./code-block.module.scss";
import { dirname, join } from "path";
import { fileURLToPath } from "url";

const __dirname = dirname(fileURLToPath(import.meta.url));

const { html } = await getMarkdownHtml({
	kind: "post",
	file: join(__dirname, "../code-block/index.md"),
});
---

<section class={styles.blockContainer} aria-labelledby="code-block">
	<h2 id="code-block" class={`text-style-headline-4 ${styles.sectionTitle}`}>
		Don't want to learn all three? No problem!
	</h2>
	<p class={`text-style-body-large ${styles.sectionContent}`}>
		You can easily select a single framework and use this series to learn it
		front-and-back.
	</p>
	<div class="darkTheme dark" set:html={html} />
</section>
