---
import BookCoverContainer from "../components/book-cover-container.astro";
import BookCoverLayer from "../components/book-cover-layer.astro";
import { ForestBackground } from "../cover-layers/ecosystem/forest_background";
import { ForestForeground } from "../cover-layers/ecosystem/forest_foreground";
import { ForestMiddleground } from "../cover-layers/ecosystem/forest_middleground";
---

<style is:global>
	.ecosystem-cover .background-repeat-layer {
		grid-template-columns: 1fr auto 1fr !important;
	}

	.ecosystem-cover {
		background-color: var(--ecos-600);
	}
</style>

<BookCoverContainer class="ecosystem-cover">
	<BookCoverLayer moveOnScrollBy={0.15} name="forest-background">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<ForestBackground client:load />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer moveOnScrollBy={0.1} name="forest-middleground">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<ForestMiddleground client:load />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="forest-foreground">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<ForestForeground client:load />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
</BookCoverContainer>
