@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.pricingContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	max-width: var(--max-width_large);
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--spc-1x);
	/* Specifically for the "Sale" price to avoid overflow */
	overflow: hidden;
}

.pricingTitle {
	color: var(--on-dark-emphasis-high);
	margin: 0;
}

.pricingSubtitle {
	color: var(--on-dark-emphasis-medium);
	margin: 0;
}

.pricingSubsubtitle {
	color: var(--on-dark-emphasis-low);
	margin: 0;
}

.pricingCardContainer {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: var(--spc-3x);
	display: flex;
	flex-direction: column;
	gap: var(--section-hor-padding);
}

.fundamentalsPricingCard {
}

.ecosystemPricingCard {
}

.internalsPricingCard {
}

@include from($desktop) {
	.pricingCardContainer {
		gap: 0;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin-top: var(--spc-6x);
	}

	.fundamentalsPricingCard {
		order: 2;
		z-index: 1;
	}

	.ecosystemPricingCard {
		order: 1;
		margin-right: calc(0px - var(--pricing-container-radius));
		height: fit-content;
	}

	.internalsPricingCard {
		order: 3;
		margin-left: calc(0px - var(--pricing-container-radius));
		height: fit-content;
	}
}
