@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.whyLearnAllThreeContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	text-align: center;
	max-width: var(--max-width_large);
	margin: 0 auto;
}

.headerContainer {
	margin: 0;
}

.whyShouldILearnText {
	display: block;
	margin-bottom: 1rem;
	color: var(--slate-300);
}

.frameworkList {
	color: var(--slate-100);
}

.plus {
	color: var(--slate-300);
}

.whyLearnGrid {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: repeat(1, 1fr);
	max-width: $desktop;
	margin: 0 auto;
	gap: var(--spc-3x);
	list-style: none;
	padding: 0;
	margin-top: var(--spc-6x);

	@include from($desktop) {
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
	}
}

.whyLearnCard {
	background: var(--slate-800);
	border-radius: var(--corner-radius-4x);
	padding: var(--spc-4x) var(--spc-6x);
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardText {
	margin: 0;
	color: var(--slate-100);
}
