@use "../tokens/utils" as *;
@use "../tokens/breakpoints.scss" as *;

.guideContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	max-width: var(--max-width_small);
	width: 100%;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.sectionTitle {
	color: var(--on-dark-emphasis-high);
	margin: 0;
}

.authorIntro {
	color: var(--on-dark-emphasis-high);
	margin: 0;
	margin-bottom: var(--spc-6x);
}

.authorName {
	background: var(--gradient-corbin);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

.seriesName {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

img.guidePicture,
.guidePicture img {
	height: var(--avatar-size_large);
	width: var(--avatar-size_large);
	border-radius: var(--corner-radius-circular);
	margin: var(--spc-6x) auto var(--section-gap);

	@include from($desktop) {
		height: var(--avatar-size_huge);
		width: var(--avatar-size_huge);
	}
}
