@import "../tokens/utils";
@import "../tokens/breakpoints.scss";

.guideContainer {
	padding: var(--section-ver-padding) var(--section-hor-padding);
	max-width: var(--max-width_small);
	width: 100%;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.sectionTitle {
	color: var(--on-dark-emphasis-high);
	margin: 0;
}

.authorIntro {
	color: var(--on-dark-emphasis-high);
	margin: 0;
}

.authorName {
	background: var(--gradient-corbin);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

.seriesName {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
}

img.guidePicture,
.guidePicture img {
	height: var(--avatar-size_large);
	width: var(--avatar-size_large);
	border-radius: var(--corner-radius-circular);
	margin: var(--spc-6x) auto var(--section-gap);

	@include from($desktop) {
		height: var(--avatar-size_huge);
		width: var(--avatar-size_huge);
	}
}

.guideTextContainer {
	position: relative;
	margin: var(--section-ver-padding) 0;
}

.titleText {
	color: var(--on-dark-emphasis-medium);
	background: var(--section-background);
	border-radius: var(--corner-radius-circular);
	border-color: var(--outline);
	border-width: var(--border-1x);
	border-style: solid;
	padding: 0 var(--spc-3x);
	min-height: 2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 0;
	white-space: pre;
}

.titleDivider {
	color: var(--outline);
	margin: 0 var(--spc-1x);
}

.titleLink {
	color: var(--on-dark-emphasis-medium);
	text-decoration: underline !important;
}

.guideText {
	margin: 0;
	color: var(--on-dark-emphasis-high);
	padding-top: calc(1rem + var(--spc-3x));
	padding-bottom: var(--section-ver-padding);
	padding-left: var(--section-ver-padding);
	padding-right: var(--section-ver-padding);
	border-radius: var(--corner-radius-3x);
	border: var(--border-1x) solid var(--outline);

	@include from($desktop) {
		padding-top: var(--section-ver-padding);
	}
}

.metricsContainer {
	display: grid;
	gap: var(--section-gap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);

	@include from($desktop) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.metricNumber,
.metricNumberInfinityContainer {
	position: relative;
	display: inline-block;
	height: 1.75rem;
	@include from($desktop) {
		height: 2.75rem;
	}
}

.metricNumberInfinityContainer {
	width: 100%;
}

.metricNumber,
.metricNumberInfinity {
	background: var(--gradient-ffg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 0;
	display: inline-block;
	overflow: hidden;
}

.metricNumberInfinity {
	position: absolute;
	top: calc(50% + -0.5rem);
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Plus Jakarta Sans", "Plus Jakarta Sans-fallback",
		"Plus Jakarta Sans-fallback2", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 1;
	// This solves a weird issue where the infinity symbol has a weird line off to the right on Safari
	letter-spacing: 0.1px;

	@include from($desktop) {
		font-size: 4.5rem;
	}
}

.metricName {
	margin: 0;
}
