@use "src/tokens/index" as *;

:global(#header-bar) {
	position: static !important;
	border: none !important;

	@include from($tabletLarge) {
		position: sticky !important;
	}
}

.container {
	margin: 0 auto;
	max-width: var(--max-width_l);
}

.titleContainer {
	z-index: 2;
}

@include until($tabletLarge) {
	.titleContainer {
		top: 0 !important;
	}
}

.backgroundTop {
	padding: var(--site-spacing);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--site-spacing);
	justify-content: space-between;
	width: 100%;
	background: var(--background_primary);
}

.eventsTitle {
	margin: 0;
}

.showButtonContainer {
	display: flex;
	gap: var(--site-spacing);
	align-items: center;
}

.showTextContainer {
	display: flex;
	gap: var(--spc-2x);
	align-items: center;
	color: var(--foreground_emphasis-medium);
}

.filterIconContainer {
	display: flex;
	align-items: center;
}

.listsContainer {
	padding: var(--site-spacing);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.eventTypesToShowGroup {
	display: flex;
	gap: 1rem;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.listHeading {
	padding-left: var(--spc-6x);
	padding-right: var(--spc-6x);
	position: relative;
}

.listHeading::before {
	content: " ";
	width: 4px;
	height: 100%;
	background-color: var(--primary_variant);
	position: absolute;
	left: 0;
	top: 0;
}

.calendar,
.calendar * {
	width: fit-content;
	max-width: 100%;
	color: var(--text-color);

	header {
		display: flex;
		align-items: center;
		margin: 0 4px 0.4375rem 4px;

		.react-aria-Heading {
			flex: 1;
			margin: 0;
			text-align: center;
			font-size: 1.203125rem;
		}
	}

	:global(.react-aria-CalendarCell) {
		width: 2.00025rem;
		line-height: 2.00025rem;
		text-align: center;
		border-radius: 6px;
		cursor: default;
		outline: none;
		forced-color-adjust: none;

		&[data-outside-month] {
			display: none;
		}

		&[data-pressed] {
			background: var(--gray-100);
		}

		&[data-focus-visible] {
			outline: 2px solid var(--focus-ring-color);
			outline-offset: 2px;
		}

		&[data-selected] {
			background: var(--highlight-background);
			color: var(--highlight-foreground);
		}

		&[data-disabled] {
			color: var(--text-color-disabled);
		}

		&[data-unavailable] {
			text-decoration: line-through;
			color: var(--invalid-color);
		}

		&[data-invalid] {
			background: var(--invalid-color);
			color: var(--highlight-foreground);
		}
	}
}

.recurringEventCard {
	background: var(--surface_primary_emphasis-none);
	border-radius: var(--corner-radius_xl);
	padding: var(--spc-4x);
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.recurringEventCardTitleLink {
	text-decoration: none;
	color: var(--foreground_emphasis-high);
}

.recurringEventCardTitle {
	margin: 0;
}

.buttonContainer {
	width: fit-content;
}

.cardInnerContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.eventLeftContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-4x);
	padding: var(--spc-2x) var(--spc-2x) 0 var(--spc-2x);
}

.eventDescription {
	color: var(--foreground_emphasis-high);
}

.eventIcon {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.eventDate {
	color: var(--foreground_emphasis-medium);
	display: flex;
	align-items: center;
	gap: var(--spc-1x);
}

.nextEventText {
	color: var(--foreground_emphasis-high);
}
