@use "src/tokens/index" as *;

:global(#header-bar) {
	position: static !important;
	border: none !important;

	@include from($tabletLarge) {
		position: sticky !important;
	}
}

.container {
	margin: 0 auto;
	max-width: var(--max-width_l);
}

.titleContainer {
	z-index: 2;
}

@include until($tabletLarge) {
	.titleContainer {
		top: 0 !important;
	}
}

.backgroundTop {
	padding: var(--site-spacing);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--site-spacing);
	justify-content: space-between;
	width: 100%;
	background: var(--background_primary);
}

.eventsTitle {
	margin: 0;
}

.showButtonContainer {
	display: flex;
	gap: var(--site-spacing);
	align-items: center;
}

.showTextContainer {
	display: flex;
	gap: var(--spc-2x);
	align-items: center;
	color: var(--foreground_emphasis-medium);
}

.filterIconContainer {
	display: flex;
	align-items: center;
}

.listsContainer {
	padding: var(--site-spacing);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.eventTypesToShowGroup {
	display: flex;
	gap: 1rem;
}

.list {
	margin: 0;
	padding: 0;
}

.listHeading {
	padding-left: var(--spc-6x);
	padding-right: var(--spc-6x);
	position: relative;
}

.listHeading::before {
	content: " ";
	width: 4px;
	height: 100%;
	background-color: var(--primary_variant);
	position: absolute;
	left: 0;
	top: 0;
}

.loop_line {
	display: flex;
	width: fit-content;
	animation-name: loop;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 270s;
}

@media (prefers-reduced-motion: reduce) {
	.loop_line {
		animation-play-state: paused;
	}
}

@keyframes loop {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.loopContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: -1px;
}

.longWaveSpan {
	display: contents;
}

.loopFade,
.loopFadeRight {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--site-spacing);
	height: 100%;
	background: linear-gradient(to right, var(--background_primary), transparent);
}

.loopFadeRight {
	left: unset;
	right: 0;
	background: linear-gradient(to left, var(--background_primary), transparent);
}
