@use "src/tokens/index" as *;

:global(#header-bar) {
	position: static !important;
	border: none !important;

	@include from($tabletLarge) {
		position: sticky !important;
	}
}

.container {
	margin: 0 auto;
	max-width: var(--max-width_l);
}

.titleContainer {
	z-index: 2;
}

@include until($tabletLarge) {
	.titleContainer {
		top: 0 !important;
	}
}

.backgroundTop {
	padding: var(--site-spacing);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--site-spacing);
	justify-content: space-between;
	width: 100%;
	background: var(--background_primary);
	@include transition(background);
}

.eventsTitle {
	margin: 0;
}

.showButtonContainer {
	display: flex;
	gap: var(--site-spacing);
	align-items: center;
}

.showTextContainer {
	display: flex;
	gap: var(--spc-2x);
	align-items: center;
	color: var(--foreground_emphasis-medium);
}

.filterIconContainer {
	display: flex;
	align-items: center;
}

.listsContainer {
	padding: var(--site-spacing);
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: var(--site-spacing);
}

.eventTypesToShowGroup {
	display: flex;
	gap: 1rem;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--site-spacing);

	@include from($tabletLarge) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.listHeading {
	padding-left: var(--spc-6x);
	padding-right: var(--spc-6x);
	position: relative;
}

.listHeading::before {
	content: " ";
	width: 4px;
	height: 100%;
	background-color: var(--primary_variant);
	position: absolute;
	left: 0;
	top: 0;
}

.recurringEventCard {
	background: var(--surface_primary_emphasis-none);
	border-radius: var(--corner-radius_xl);
	padding: var(--spc-4x);
	display: flex;
	flex-direction: column;
	gap: var(--spc-6x);
}

.recurringEventCardTitleLink {
	text-decoration: none;
	color: var(--foreground_emphasis-high);
}

.recurringEventCardTitle {
	margin: 0;
}

.buttonContainer {
	width: fit-content;
}

.cardInnerContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--spc-4x);
}

// If cardInnerContainer has two children, make both children flex-basis: 50%
@include from($tabletLarge) {
	.cardInnerContainer {
		flex-direction: row;
	}
	.cardInnerContainer:has(> :nth-child(2)) > * {
		flex-basis: 50%;
		width: 1px;
	}
}

.eventLeftContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-4x);
	padding: var(--spc-2x) var(--spc-2x) 0 var(--spc-2x);
}

.eventDescription {
	color: var(--foreground_emphasis-high);
}

.eventIcon {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.eventDate {
	color: var(--foreground_emphasis-medium);
	display: flex;
	align-items: center;
	gap: var(--spc-2x);
}

.nextEventText {
	color: var(--foreground_emphasis-high);
}

.eventRightContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spc-4x);
	padding-top: var(--spc-4x);
}

.nextEventInnerCard {
	display: flex;
	flex-direction: row;
	gap: var(--spc-3x);
	border-radius: var(--corner-radius_m);
	background: var(--surface_primary_emphasis-none);
	width: 100%;
	padding: var(--spc-2x) var(--spc-4x) var(--spc-2x) var(--spc-2x);
}

.topicCardImage {
	height: 100%;
	object-fit: cover;
	border-radius: var(--corner-radius_s);
}

.topicCardTextContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 1px;
	flex-grow: 1;
}

.topicDesc {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

.topicLink {
	color: var(--primary_default);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
