:root {
	--sky: #fee3b8;
	--floor: #42130d;
	--title: #42130d;

	--outline: #d27c31;
	--outline_focused: black;
	--state-overlay: 158, 61, 28;

	--cta-foreground: white;
	--cta-background: var(--title);
	--cta-background_hovered: #9e3d1c;
	--cta-background_pressed: #6d2413;
}
