@import "./breakpoints";
@import "../../../../styles/utils";

:root {
	// Buttons

	--btn-ver-padding: var(--spc-1x);
	--btn-hor-padding: var(--spc-3x);
	--btn-ver-padding-large: var(--spc-2x);
	--btn-hor-padding-large: var(--spc-4x);
	--btn-border-width: var(--border-1x);
	--btn-border-width-large: var(--border-2x);

	--btn-corner-radius: var(--corner-radius-circular);

	--btn-border: var(--outline);
	--btn-foreground: var(--cta-foreground);
	--btn-background: var(--cta-background);
}

@include from($desktop) {
	:root {
		// Buttons

		--btn-ver-padding: var(--spc-2x);
		--btn-hor-padding: var(--spc-4x);
		--btn-ver-padding-large: var(--spc-3x);
		--btn-hor-padding-large: var(--spc-6x);
		--btn-border-width: var(--border-2x);
		--btn-border-width-large: var(--border-3x);
	}
}
