:root {
	// Fundamentals
	--fund-050: #f2fdff;
	--fund-100: #d2f7ff;
	--fund-200: #b9ebf5;
	--fund-300: #94cedb;
	--fund-400: #74b3c0;
	--fund-500: #5c99a7;
	--fund-600: #45818e;
	--fund-700: #346771;
	--fund-800: #244f58;
	--fund-900: #17383f;

	// Ecosystem
	--ecos-050: #f4ffee;
	--ecos-100: #e2f6da;
	--ecos-200: #cde9c5;
	--ecos-300: #a8cfa3;
	--ecos-400: #84b682;
	--ecos-500: #669e6a;
	--ecos-600: #4c8657;
	--ecos-700: #366e47;
	--ecos-800: #245538;
	--ecos-900: #153d29;

	// Internals
	--inter-050: #fff2ff;
	--inter-100: #f3daf4;
	--inter-200: #e6bee9;
	--inter-300: #cb99d6;
	--inter-400: #a473bb;
	--inter-500: #8154a3;
	--inter-600: #60398d;
	--inter-700: #422474;
	--inter-800: #261456;
	--inter-900: #110a33;
}
