@import "../../../styles/vars";
@import "../../../styles/utils";

.tag {
	height: 32px;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	padding: $spacing ($spacing * 2);

	color: theme-var(--neutral-foreground-emphasis_high);
	text-decoration: none;
	outline: none !important;

	border: calc($spacing / 2) solid theme-var(--primary-brand-variant);
	border-radius: 16px;

	@include transition(color background-color border-color);

	@include darkTheme() {
		background-color: theme-var(--primary-surface-emphasis_low);
		border-color: transparent;
	}

	&:hover {
		text-decoration: underline;
		background-color: theme-var(--primary-surface-emphasis_medium);
		border-color: transparent;
		color: theme-var(--neutral-foreground-emphasis_high);
	}

	&:focus {
		background-color: theme-var(--focus_background);
		border-color: transparent;
		box-shadow: 0 0 0 $spacing theme-var(--primary-focus_outline);
		color: theme-var(--neutral-foreground-emphasis_high);
	}

	&:active {
		background-color: theme-var(--primary-surface-emphasis_high);
		color: theme-var(--neutral-foreground-emphasis_high);
	}
}

.tagWithPicture {
	padding-left: $spacing;
}

.picture {
	width: 24px;
	height: 24px;
	margin-right: $spacing;
}
