@import "src/tokens/index";

.tag {
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	color: var(--foreground_emphasis-high);
	text-decoration: none;
	outline: none !important;

	@include transition(color background-color border-color box-shadow);

	&:hover {
		text-decoration: underline;
	}
}

.tag:has(picture) {
	gap: var(--spc-2x);
}

.tag > svg {
	margin-right: var(--spc-1x);
}

.tagBordered {
	padding: var(--spc-1x) var(--spc-2x);

	border: calc(var(--spc-1x) / 2) solid var(--primary_variant);
	border-radius: 8px;

	@include darkTheme() {
		background-color: var(--surface_primary_emphasis-low);
		border-color: transparent;
	}

	&:hover {
		background-color: var(--surface_primary_emphasis-medium);
		border-color: transparent;
		color: var(--foreground_emphasis-high);
	}

	&:focus-visible {
		background-color: var(--background_focus);
		border-color: transparent;
		box-shadow: 0 0 0 var(--spc-1x) var(--focus-outline_primary);
		color: var(--foreground_emphasis-high);
	}

	&:active {
		background-color: var(--surface_primary_emphasis-high);
		color: var(--foreground_emphasis-high);
	}
}
