:root {
	// FFG

	--gradient-ffg: linear-gradient(90deg, #ffaa00 34.58%, #ffd500 83.8%);

	// Corbin

	--gradient-corbin: linear-gradient(90deg, #8077ee 37.76%, #bf49e9 75.83%);

	// Default
	--slate-050-base: 246, 249, 254;
	--slate-050: rgb(var(--slate-050-base));
	--slate-100-base: 236, 240, 249;
	--slate-100: rgb(var(--slate-100-base));
	--slate-200-base: 217, 225, 242;
	--slate-200: rgb(var(--slate-200-base));
	--slate-300-base: 184, 197, 224;
	--slate-300: rgb(var(--slate-300-base));
	--slate-400-base: 137, 155, 189;
	--slate-400: rgb(var(--slate-400-base));
	--slate-500-base: 96, 112, 144;
	--slate-500: rgb(var(--slate-500-base));
	--slate-600-base: 63, 79, 110;
	--slate-600: rgb(var(--slate-600-base));
	--slate-700-base: 42, 55, 81;
	--slate-700: rgb(var(--slate-700-base));
	--slate-800-base: 27, 36, 55;
	--slate-800: rgb(var(--slate-800-base));
	--slate-900-base: 18, 25, 38;
	--slate-900: rgb(var(--slate-900-base));

	// Fundamentals

	--fund-050-base: 242, 253, 255;
	--fund-050: rgb(var(--fund-050-base));
	--fund-100-base: 210, 247, 255;
	--fund-100: rgb(var(--fund-100-base));
	--fund-200-base: 185, 235, 245;
	--fund-200: rgb(var(--fund-200-base));
	--fund-300-base: 148, 206, 219;
	--fund-300: rgb(var(--fund-300-base));
	--fund-400-base: 116, 179, 192;
	--fund-400: rgb(var(--fund-400-base));
	--fund-500-base: 92, 153, 167;
	--fund-500: rgb(var(--fund-500-base));
	--fund-600-base: 69, 129, 142;
	--fund-600: rgb(var(--fund-600-base));
	--fund-700-base: 52, 103, 113;
	--fund-700: rgb(var(--fund-700-base));
	--fund-800-base: 36, 79, 88;
	--fund-800: rgb(var(--fund-800-base));
	--fund-900-base: 23, 56, 63;
	--fund-900: rgb(var(--fund-900-base));

	// Ecosystem

	--ecos-050-base: 244, 255, 238;
	--ecos-050: rgb(var(--ecos-050-base));
	--ecos-100-base: 226, 246, 218;
	--ecos-100: rgb(var(--ecos-100-base));
	--ecos-200-base: 205, 233, 197;
	--ecos-200: rgb(var(--ecos-200-base));
	--ecos-300-base: 168, 207, 163;
	--ecos-300: rgb(var(--ecos-300-base));
	--ecos-400-base: 132, 182, 130;
	--ecos-400: rgb(var(--ecos-400-base));
	--ecos-500-base: 102, 158, 106;
	--ecos-500: rgb(var(--ecos-500-base));
	--ecos-600-base: 76, 134, 87;
	--ecos-600: rgb(var(--ecos-600-base));
	--ecos-700-base: 54, 110, 71;
	--ecos-700: rgb(var(--ecos-700-base));
	--ecos-800-base: 36, 85, 56;
	--ecos-800: rgb(var(--ecos-800-base));
	--ecos-900-base: 21, 61, 41;
	--ecos-900: rgb(var(--ecos-900-base));

	// Internals

	--inter-050-base: 255, 242, 255;
	--inter-050: rgb(var(--inter-050-base));
	--inter-100-base: 243, 218, 244;
	--inter-100: rgb(var(--inter-100-base));
	--inter-200-base: 230, 190, 233;
	--inter-200: rgb(var(--inter-200-base));
	--inter-300-base: 203, 153, 214;
	--inter-300: rgb(var(--inter-300-base));
	--inter-400-base: 164, 115, 187;
	--inter-400: rgb(var(--inter-400-base));
	--inter-500-base: 129, 84, 163;
	--inter-500: rgb(var(--inter-500-base));
	--inter-600-base: 96, 57, 141;
	--inter-600: rgb(var(--inter-600-base));
	--inter-700-base: 66, 36, 116;
	--inter-700: rgb(var(--inter-700-base));
	--inter-800-base: 38, 20, 86;
	--inter-800: rgb(var(--inter-800-base));
	--inter-900-base: 17, 10, 51;
	--inter-900: rgb(var(--inter-900-base));
}
