:root {
	--text-gradient: linear-gradient(180deg, white, #fefefe);
	--chip-foreground: var(--title);
	--chip-background: white;
	--color-transition-time: 500ms;
	--color-transition-ease: ease-in-out;
    --section-background: var(--floor);
}
