@import "./breakpoints";
@import "./utils";

:root {
	--code-block-corner-radius_outer: var(--corner-radius-2x);
	--code-block-corner-radius_inner: calc(
		var(--code-block-corner-radius_outer) - var(--code-block-padding)
	);
	--code-block-padding: 4px;

	--code-block-tab-min-size: var(--spc-6x);
	--code-block-tab-inative_hovered: rgba(var(--state-overlay), 0.12);
	--code-block-tab-inactive_pressed: rgba(var(--state-overlay), 0.24);

	--code-block-spacing: var(--spc-2x);

	--code-block-text_primary: var(--on-dark-emphasis-high);
	--code-block-text_secondary: var(--on-dark-emphasis-medium);

	--code-block-container_outer: var(--slate-800);
	--code-block-container_inner: var(--slate-700);
}

@include from($desktop) {
	:root {
		--code-block-spacing: var(--spc-3x);
	}
}
