@import "./breakpoints";
@import "./utils";

:root,
.book-section {
	--quote-grid-gap: var(--spc-3x);

	--quote-mark-opacity: 0.12;
	--quote-mark-offset: 8px;
	--quote-mark-offset_prominent: 48px;

	--quote-mark-aspect-ratio: 200 / 160;
	--quote-marks-height_contained: 80px;
	--quote-marks-height_prominent: 80px;

	--quote-spacing: var(--spc-3x);
	--quote-corner-radius: var(--corner-radius-3x);
	--quote-avatar-size: var(--avatar-size_medium);

	--quote-avatar-size_prominent: var(--avatar-size_large);

	--quote-arrow-link-color: var(--outline_focused);
}

@include from($tablet) {
	:root,
	.book-section {
		--quote-grid-gap: var(--spc-6x);
	}
}

@include from($desktop) {
	:root,
	.book-section {
		--quote-grid-gap: var(--spc-6x);

		--quote-mark-offset: 32px;
		--quote-mark-offset_prominent: 96px;

		--quote-marks-height_contained: 120px;
		--quote-marks-height_prominent: 160px;

		--quote-spacing: var(--spc-4x);
		--quote-corner-radius: var(--corner-radius-4x);

		--quote-avatar-size_prominent: var(--avatar-size_huge);
	}
}
