@import "./breakpoints";
@import "./utils";

$plusJakartaSans: "Plus Jakarta Sans", "Plus Jakarta Sans-fallback",
	"Plus Jakarta Sans-fallback2", sans-serif;
$changaOne: "Changa One", "Changa One-fallback", "Changa One-fallback2",
	sans-serif;

.text-style-display-1 {
	font-size: 2.75rem;
	font-family: $plusJakartaSans;
	font-weight: 800;
	font-style: normal;
	line-height: 100%;
	text-decoration: none;
	text-transform: none;
}
.text-style-display-2 {
	font-size: 4rem;
	font-family: $changaOne;
	font-weight: 400;
	font-style: normal;
	line-height: 3.5rem;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-1 {
	font-size: 2.25rem;
	font-family: $plusJakartaSans;
	font-weight: 800;
	font-style: normal;
	line-height: 2.5rem;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-2 {
	font-size: 2rem;
	font-family: $plusJakartaSans;
	font-weight: 800;
	font-style: normal;
	line-height: 2.5rem;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-3 {
	font-size: 1.75rem;
	font-family: $plusJakartaSans;
	font-weight: 800;
	font-style: normal;
	line-height: 2.25rem;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-4 {
	font-size: 1.5rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.75rem;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-5 {
	font-size: 1.25rem;
	font-family: $plusJakartaSans;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5rem;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.text-style-headline-6 {
	font-size: 1.125rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.5rem;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: none;
}
.text-style-button {
	font-size: 0.875rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.5rem;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-large {
	font-size: 1rem;
	font-family: $plusJakartaSans;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-large-bold {
	font-size: 1rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.5rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-medium {
	font-size: 0.875rem;
	font-family: $plusJakartaSans;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-medium-bold {
	font-size: 0.875rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-small {
	font-size: 0.75rem;
	font-family: $plusJakartaSans;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body-small-bold {
	font-size: 0.75rem;
	font-family: $plusJakartaSans;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25rem;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-code {
	font-size: 0.75rem;
	font-family: "Fira Code";
	line-height: 1rem;
	text-decoration: none;
	text-transform: none;
}

@include from($desktop) {
	.text-style-display-1 {
		font-size: 7rem;
		font-family: $plusJakartaSans;
		font-weight: 800;
		font-style: normal;
		line-height: 7rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-display-2 {
		font-size: 9rem;
		font-family: $changaOne;
		font-weight: 400;
		font-style: normal;
		line-height: 8rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-1 {
		font-size: 4.5rem;
		font-family: $plusJakartaSans;
		font-weight: 800;
		font-style: normal;
		line-height: 4.5rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-2 {
		font-size: 3.5rem;
		font-family: $plusJakartaSans;
		font-weight: 800;
		font-style: normal;
		line-height: 4rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-3 {
		font-size: 2.75rem;
		font-family: $plusJakartaSans;
		font-weight: 800;
		font-style: normal;
		line-height: 3.5rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-4 {
		font-size: 2.25rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 2.75rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-5 {
		font-size: 1.75rem;
		font-family: $plusJakartaSans;
		font-weight: 600;
		font-style: normal;
		line-height: 2.25rem;
		letter-spacing: 0.01em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-headline-6 {
		font-size: 1.25rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 1.75rem;
		letter-spacing: 0.03em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-button {
		font-size: 1.125rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 1.5rem;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-large {
		font-size: 1.125rem;
		font-family: $plusJakartaSans;
		font-weight: 500;
		font-style: normal;
		line-height: 1.75rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-large-bold {
		font-size: 1.125rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 1.75rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-medium {
		font-size: 1rem;
		font-family: $plusJakartaSans;
		font-weight: 500;
		font-style: normal;
		line-height: 1.5rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-medium-bold {
		font-size: 1rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 1.5rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-small {
		font-size: 0.875rem;
		font-family: $plusJakartaSans;
		font-weight: 400;
		font-style: normal;
		line-height: 1.25rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-body-small-bold {
		font-size: 0.875rem;
		font-family: $plusJakartaSans;
		font-weight: 700;
		font-style: normal;
		line-height: 1.25rem;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: none;
	}
	.text-style-code {
		font-size: 1rem;
		font-family: "Fira Code", monospace;
		line-height: 1.5rem;
		text-decoration: none;
		text-transform: none;
	}
}
