:root {
	--section-background: var(--slate-900);

	--on-light-emphasis-high: var(--slate-900);
	--on-light-emphasis-medium: var(--slate-700);
	--on-light-emphasis-low: var(--slate-500);

	--on-dark-emphasis-high: var(--slate-050);
	--on-dark-emphasis-medium: var(--slate-300);
	--on-dark-emphasis-low: var(--slate-500);

	--outline: var(--slate-500);
	--outline_focused: var(--slate-300);
	--state-overlay: var(--slate-500-base);

	--text-gradient-start: var(--slate-050);
	--text-gradient-end: var(--slate-200);

	--cta-foreground: var(--slate-900);
	--cta-background: var(--slate-050);
	--cta-background_hovered: var(--slate-200);
	--cta-background_pressed: var(--slate-400);
}

.class-book-1 {
	--section-background: var(--fund-900);

	--on-light-emphasis-high: var(--fund-900);
	--on-light-emphasis-medium: var(--fund-700);
	--on-light-emphasis-low: var(--fund-500);

	--on-dark-emphasis-high: var(--fund-050);
	--on-dark-emphasis-medium: var(--fund-300);
	--on-dark-emphasis-low: var(--fund-500);

	--outline: var(--fund-500);
	--outline_focused: var(--fund-300);
	--state-overlay: var(--fund-500-base);

	--text-gradient-start: var(--fund-050);
	--text-gradient-end: var(--fund-200);

	--cta-foreground: var(--fund-900);
	--cta-background: var(--fund-050);

	--chip-foreground: var(--fund-100);
	--chip-background: var(--fund-800);
	--cta-background_hovered: var(--fund-200);
	--cta-background_pressed: var(--fund-400);
}

.class-book-hero {
	--outline: var(--fund-500);
	--outline_focused: var(--fund-700);
	--state-overlay: var(--fund-500-base);

	--cta-foreground: var(--fund-050);
	--cta-background: var(--fund-900);
	--cta-background_hovered: var(--fund-800);
	--cta-background_pressed: var(--fund-700);

	.book-section {
		--btn-foreground_outlined: var(--on-light-emphasis-high);
	}
}

.class-book-2 {
	--section-background: var(--ecos-900);

	--on-light-emphasis-high: var(--ecos-900);
	--on-light-emphasis-medium: var(--ecos-700);
	--on-light-emphasis-low: var(--ecos-500);

	--on-dark-emphasis-high: var(--ecos-050);
	--on-dark-emphasis-medium: var(--ecos-300);
	--on-dark-emphasis-low: var(--ecos-500);

	--outline: var(--ecos-500);
	--outline_focused: var(--ecos-300);
	--state-overlay: var(--ecos-500-base);

	--text-gradient-start: var(--ecos-050);
	--text-gradient-end: var(--ecos-200);

	--cta-foreground: var(--ecos-900);
	--cta-background: var(--ecos-050);
	--cta-background_hovered: var(--ecos-200);
	--cta-background_pressed: var(--ecos-400);

	--chip-foreground: var(--ecos-100);
	--chip-background: var(--ecos-800);
}

.class-book-3 {
	--section-background: var(--inter-900);

	--on-light-emphasis-high: var(--inter-900);
	--on-light-emphasis-medium: var(--inter-700);
	--on-light-emphasis-low: var(--inter-500);

	--on-dark-emphasis-high: var(--inter-050);
	--on-dark-emphasis-medium: var(--inter-300);
	--on-dark-emphasis-low: var(--inter-500);

	--outline: var(--inter-500);
	--outline_focused: var(--inter-300);
	--state-overlay: var(--inter-500-base);

	--text-gradient-start: var(--inter-050);
	--text-gradient-end: var(--inter-200);

	--cta-foreground: var(--inter-900);
	--cta-background: var(--inter-050);
	--cta-background_hovered: var(--inter-200);
	--cta-background_pressed: var(--inter-400);

	--chip-foreground: var(--inter-100);
	--chip-background: var(--inter-800);
}

.book-section {
	--text-gradient: linear-gradient(
		180deg,
		var(--text-gradient-start),
		var(--text-gradient-end)
	);
}
