@import "../../vars";

.iconContainer {
	display: flex;
	flex-wrap: wrap;
}

.iconContainer > * {
	flex-basis: 100%;
}

@include from($startMediumScreenSize) {
	.iconContainer {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.iconContainer > * {
		flex-basis: 33%;
		width: 33%;
		flex-shrink: 0;
	}
}

@include until($endSmallScreenSize) {
	.midContainer {
		order: 1;
		margin: 0 0 8px;
		flex-basis: 100%;
	}

	.searchField,
	.filterField {
		flex-basis: calc(50% - 8px);
		max-width: calc(50% - 8px);
	}
	.searchField {
		margin-right: 4px;
	}
	.filterField {
		margin-left: 4px;
	}
}

@include until($endSmallScreenSize) {
	.searchField,
	.filterField {
		flex-basis: 100%;
		max-width: 100%;
	}
	.searchField {
		margin-right: 0;
	}
	.filterField {
		margin-left: 0;
	}
}

.midContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
