* {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5em;
}

.grid-container {
    width: clamp(640px, 100vw, 960px);
    display: grid;
    grid-template-areas: "content content"
        "tags tags";
    grid-template-columns: 1fr 1fr;
    gap: 0px 32px;
    padding: 32px;
    background-color: #E5F2FF;
    box-sizing: border-box;
}

.article {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: content / chips;
    padding: 24px;
    border: 8px solid rgba(135, 206, 255, 0.32);
    border-radius: 32px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    grid-area: content;
    height: fit-content;
    gap: 8px;
    padding-bottom: 16px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    grid-area: tags;
    gap: 8px;
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px 12px;
    border: 4px solid #87CEFF;
    border-radius: 12px;
    font-weight: 700;
    box-sizing: border-box;
}