---
import BookCoverContainer from "../../framework-field-guide/components/book-cover-container.astro";
import BookCoverLayer from "../../framework-field-guide/components/book-cover-layer.astro";
import { Cityscape } from "../cover-layers/cityscape";
import {PeopleAndCafe } from "../cover-layers/people-and-cafe";
import SafeArea from "../cover-layers/safe-area.astro";
---

<style is:global>
    .accessibility-book-cover .background-repeat-layer {
        grid-template-columns: 1fr auto 1fr !important;
    }
</style>

<BookCoverContainer class="accessibility-book-cover">
	<BookCoverLayer moveOnScrollBy={0.2} name="cityscape" class="background-repeat-layer">
		<div slot="left"></div>
		<div slot="center" style="height: 100%; width: 100vw !important">
			<Cityscape client:load />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="left-repeat" class="background-repeat-layer">
		<div slot="left"></div>
		<div
			slot="center"
			style="max-width: min(var(--max-width_small),100vw,100vh); width: 100vw;"
		>
			<SafeArea />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
	<BookCoverLayer name="people-and-cafe">
		<div slot="left"></div>
		<div slot="center">
			<PeopleAndCafe />
		</div>
		<div slot="right"></div>
	</BookCoverLayer>
</BookCoverContainer>
