@import "src/tokens/index";

.text {
	margin: 0 !important;
	margin-left: var(--spc-2x) !important;
}

.card {
	display: flex;
	align-items: center;
	justify-content: inherit;
	border: var(--border-width_xl) solid var(--surface_primary_emphasis-low);

	overflow-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
	@include transition(background-color border-color);

	border-radius: var(--corner-radius_m);
	padding: var(--spc-4x);

	border-width: 0;
	background-color: var(--surface_primary_emphasis-none);
}
