:root {
	--primary-hue: 240;
	--secondary-hue: 342;
	--positive-hue: 155;
	--error-hue: 380;

	--pfp-font-family-brand: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-body: "Figtree", "Arial", "Roboto", sans-serif;
	--pfp-font-family-code: "Roboto Mono", monospace;
}
