$cornerRadius: (
        --corner-radius_s: 8px,
        --corner-radius_m: 16px,
        --corner-radius_l: 24px,
        --corner-radius_xl: 32px,
        --corner-radius_circular: 9999px,
);

// Mixin for all of the CSS variables used to reference the theme values
@mixin register-vars-corner-radius() {
  @each $key, $value in $cornerRadius {
    #{$key}: #{$value};
  }
}

// Reference a specific themed variable (and check to ensure it exists)
@function validate-var-corner-radius($key) {
  // ensure that the variable is defined in all themes
  @if not map-has-key($cornerRadius, $key) {
    @return null;
  }

  @return var($key);
}
