$maxWidths: (
  --max-width_s: 480px,
  --max-width_m: 960px,
  --max-width_l: 1280px,
  --max-width_xl: 1920px,
);

// Mixin for all of the CSS variables used to reference the theme values
@mixin register-vars-max-width() {
  @each $key, $value in $maxWidths {
    #{$key}: #{$value};
  }
}

// Reference a specific themed variable (and check to ensure it exists)
@function validate-var-max-width($key) {
  // ensure that the variable is defined in all themes
  @if not map-has-key($maxWidths, $key) {
    @return null;
  }

  @return var($key);
}
