@import "./colors";
@import "./themes";
@import "./breakpoints";
@import "./fonts";

@function pxToRem($pxNum) {
	@return #{calc($pxNum / 16)}rem;
}

@mixin until($breakpoint) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin from($breakpoint) {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin transition($properties) {
	$transitions: ();
	@each $prop in $properties {
		$transitions: append($transitions, $prop $animStyle $animSpeed, comma);
	}
	transition: $transitions;
}

@mixin darkTheme() {
	:global(html.dark) &, :global(body.dark) &, :global(.darkTheme) & {
		@content;
	}
}


// Mixin for all of the CSS variables used to reference the theme values
@mixin register-vars($theme) {
	@include register-vars-color();
	@include register-vars-theme($theme);
	@include register-vars-breakpoint();
	@include register-vars-font();
}

// Reference a specific themed variable (and check to ensure it exists)
@function get-var($key) {
	@if validate-var-color($key) {
		@return var($key);
	}

	@if validate-var-theme($key) {
		@return var($key);
	}

	@if validate-var-breakpoint($key) {
		@return var($key);
	}

	@if validate-var-font($key) {
		@return var($key);
	}

	@error "Theme variable #{$key} is not defined in $themes.#{$theme}.";
}
