---
import styles from "./about-us-translations-header.module.scss";
import { Languages } from "types/index";
import { languages } from "constants/index";

interface TranslationsHeaderProps {
	locales: Languages[];
}

const { locales } = Astro.props as TranslationsHeaderProps;
---

<div class={styles.translationContainer}>
	Translated by our community into:{" "}
	{
		locales.map((currLang, i, arr) => {
			const href = currLang === "en" ? "/about/" : `/${currLang}/about/`;
			return (
				<>
					<a href={href}>{languages[currLang]}</a>
					{i !== arr.length - 1 ? <span>, </span> : null}
				</>
			);
		})
	}
</div>
