@use "src/tokens/index" as *;

:root {
	--toc-mobile-header_background-color: var(--background_primary);
	--toc-mobile_header_padding-top: var(--site-spacing);
	--toc-mobile_header_padding-horizontal:  var(--site-spacing);
	--toc-mobile_header_padding-vertical: calc(var(--site-spacing) - var(--spc-2x));


	--toc-mobile_header_padding-bottom: var(--spc-4x);
	--toc-mobile_header_gap: var(--site-spacing);

	--toc-mobile_list_padding-vertival: var(--site-spacing);
	--toc-mobile_list_padding-horizontal: var(--spc-4x);

	--toc-mobile_item_min-height: var(--min-target-size_m);
	--toc-mobile_item_padding-start: var(--spc-4x);
	--toc-mobile_item_padding-end: var(--spc-4x);
	--toc-mobile_item_padding-vertical: var(--spc-2x);

	--toc-mobile_sub-item_padding-start: var(--spc-3x);
	--toc-mobile_sub-item_dot_margin-end: var(--spc-3x);
	--toc-mobile_sub-item_dot_size: 1rem;

	--toc-mobile_label_color: var(--foreground_emphasis-medium);
	--toc-mobile_label_color_selected: var(--foreground_emphasis-high);

	--toc-mobile_item_background-color_hovered: var(--surface_primary_emphasis-medium);
	--toc-mobile_item_background-color_pressed: var(--surface_primary_emphasis-high);
	--toc-mobile_item_background-color_selected: var(--surface_primary_emphasis-low);
	--toc-mobile_item_background-color_focused: var(--background_focus);

	--toc-mobile_subheading-dot_color: var(--primary_default);

	--toc-mobile_focus-outline_color: var(--focus-outline_primary);
	--toc-mobile_focus-outline_width: var(--border-width_focus);

	--toc-mobile_divider_width: var(--border-width_s);
	// --background_disabled applied to background
	--toc-mobile_divider_color: #cddbe7;

	--toc-mobile_arrow_color: var(--foreground_emphasis-high);
	--toc-mobile_arrow_color_selected: var(--primary);

	@include until($tabletLarge) {
		--toc-mobile_list_padding-horizontal: var(--spc-2x);
	}

	
	@include until($mobile) {
		--toc-mobile_list_padding-horizontal: 0px;

		--toc-mobile_header_padding-top: 0px;

		--toc-mobile_header_padding-horizontal: var(--site-spacing);
		--toc-mobile_header_padding-bottom: 0px;
	}

}


.tocMobileOpenMainBody {
	overflow: hidden;
}

.mobileTocContainer {

	@include darkTheme() {
		--toc-mobile_divider_color: #253e4c;
	}

	top: 0;
	max-height: calc(100vh - ((var(--header_logo_size) + var(--header_padding-vertical) *2 ) ) );

	.tocTitle {

	
		width: 100%;
		background-color: var(--toc-mobile-header_background-color);
		margin: 0;
		padding: 0 var(--toc-mobile_header_padding-horizontal);
		border: 1px solid var(--background_disabled);
		border-width: 1px 0 1px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h4 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 90%;
		}

		button {
			.mobileTocOpenIcon { display: none; }
			.mobileTocCloseIcon { display: inline;  }
		}
	
	}
	
	.tableList {
	
		background-color: var(--toc-mobile-header_background-color);
		list-style: none;
		margin: 0;
		padding: var(--toc-mobile_list_padding-vertival) var(--toc-mobile_list_padding-horizontal);
		height: calc(100vh - ((var(--header_logo_size) + var(--header_padding-vertical) *2 ) ) - ( 1.5rem + (16.0 * 2px)));
		overflow: auto;
		transition: height 0.50s;
	
	}

	&.tocMobileMenuCollapsed {

		.tocTitle {
			button {
				.mobileTocOpenIcon { display: inline; }
				.mobileTocCloseIcon { display: none;  }
			}
		}

		.tableList {
			height: 0px;
			padding: 0;
		}
	}
	
	.tableListItem > a {
		display: flex;
		align-items: center;
		text-decoration: none;
		min-height: var(--min-target-size_m);
		border-radius: var(--corner-radius_l);
		padding-top: var(--toc-mobile_item_padding-vertical);
		padding-bottom: var(--toc-mobile_item_padding-vertical);
		padding-right: var(--toc-mobile_item_padding-end);
	
		@include transition(color background-color);
	}
	
	.tableListItem > a:focus-visible {
		outline: 4px solid var(--toc-mobile_focus-outline_color);
		background: var(--toc-mobile_item_background-color_focused);
	}
	
	.tableListItem:not(.depth2) > a {
		padding: var(--toc-mobile_item_padding-vertical) var(--toc-mobile_item_padding-end)
			var(--toc-mobile_item_padding-vertical) var(--toc-mobile_item_padding-start);
	}
	
	.tableListItem:hover > a {
		background: var(--toc-mobile_item_background-color_hovered);
	}
	
	.tableListItem:active > a {
		background: var(--toc-mobile_item_background-color_pressed);
	}
	
	.tableListItemLinkInner {
		color: var(--foreground_emphasis-medium);
		pointer-events: none;
	}
	
	.tableListItem:hover > a > *,
	:global(.toc-is-active) .tableListItemLinkInner {
		color: var(--foreground_emphasis-high);
	}
	
	.depth1 {
	}
	
	.depth2 > a > * {
		margin-left: calc(
			var(--toc-mobile_sub-item_dot_size) + var(--toc-mobile_sub-item_dot_margin-end) +
				var(--toc-mobile_sub-item_padding-start)
		);
		position: relative;
	}
	
	/* Line */
	.depth2 > a:focus > *::before {
		border: none !important;
	}
	
	.depth2:not(:global(.toc-is-active)):not(:hover):not(:active)
		> a:not(:focus-visible)
		> *::before {
		content: " ";
		background: var(--toc-mobile_divider_color);
		height: 100%;
		width: 2px;
		position: absolute;
		left: calc(
			-2px - var(--toc-mobile_sub-item_padding-start) - calc(
					var(--toc-mobile_sub-item_dot_size) / 2
				)
		);
		top: 0;
	}
	
	/* Extended line */
	@supports selector(:has(*)) {
		.depth2:not(:global(.toc-is-active)):not(:hover):not(:active):not(
				:has(:focus-visible)
			)
			+ .depth2:not(:global(.toc-is-active)):not(:hover):not(:active):not(
				:has(:focus-visible)
			)
			> a
			> *::before {
			content: " ";
			background: var(--toc-mobile_divider_color);
			height: calc(100% + var(--toc-mobile_item_min-height));
			width: 2px;
			position: absolute;
			left: calc(
				-2px - var(--toc-mobile_sub-item_padding-start) - calc(
						var(--toc-mobile_sub-item_dot_size) / 2
					)
			);
			bottom: 0;
			top: unset;
		}
	}
	@supports not selector(:has(*)) {
		.depth2:not(:global(.toc-is-active)):not(:hover):not(:active):not(
				:focus-within
			)
			+ .depth2:not(:global(.toc-is-active)):not(:hover):not(:active):not(
				:focus-within
			)
			> a
			> *::before {
			content: " ";
			background: var(--toc-mobile_divider_color);
			height: calc(100% + var(--toc-mobile_item_min-height));
			width: 2px;
			position: absolute;
			left: calc(
				-2px - var(--toc-mobile_sub-item_padding-start) - calc(
						var(--toc-mobile_sub-item_dot_size) / 2
					)
			);
			bottom: 0;
			top: unset;
		}
	}
	
	/* Arrow */
	.depth2:global(.toc-is-active):not(:hover) > a > *::before {
		content: " ";
		/* Mask applied to use the background color on */
		background-color: var(--toc-mobile_subheading-dot_color);
		mask: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Arrow"><path id="Vector 31" d="M5 8H15M15 8L11 4M15 8L11 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: var(--toc-mobile_sub-item_dot_size);
		height: 100%;
		width: var(--toc-mobile_sub-item_dot_size);
		position: absolute;
		left: calc(
			0px - var(--toc-mobile_sub-item_padding-start) - calc(var(--toc-mobile_sub-item_dot_size))
		);
		top: 0;
	}
	
	/* Dot */
	.depth2:hover > a > *::before {
		content: " ";
		/* Mask applied to use the background color on */
		background-color: var(--toc-mobile_subheading-dot_color);
		mask: url('data:image/svg+xml;utf8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><circle id="Dot" cx="2" cy="2" r="2" fill="black"/></svg>');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 0.25rem;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		width: var(--toc-mobile_sub-item_dot_size);
		position: absolute;
		left: calc(
			0px - var(--toc-mobile_sub-item_padding-start) - calc(var(--toc-mobile_sub-item_dot_size))
		);
		top: 0;
	}
	
	:global(.toc-is-active) > a {
		background: var(--surface_primary_emphasis-low);
	}
	

}


