---
import { Icon } from "astro-icon";
import style from "./search-bar-lite.module.scss";
import { IconOnlyButton } from "components/base";
import { translate } from "utils/translations";
---

<form class={`d-flex ${style.bar}`} method="get" action="/search">
	<Icon width="24" height="24" name="mdi:search" />

	<input
		name="q"
		class="text-style-body-medium"
		type="search"
		placeholder="Query"
	/>

	<IconOnlyButton tag="button" aria-label={translate(Astro, "title.search")}>
		<Icon height="100%" width="100%" name="forward" />
	</IconOnlyButton>
</form>
