.translationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--site-spacing);

	svg {
		color: var(--primary_default);
	}

	.title {
		display: flex;
		align-items: center;
		gap: var(--spc-2x);
	}

	.locales {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--spc-2x);
	}
}
