@use "src/tokens/index" as *;

:root {
	--quiz-option_unselected_background-color_default: var(--transparent);
	--quiz-option_unselected_background-color_hovered: var(
		--surface_primary_emphasis-medium
	);
	--quiz-option_unselected_background-color_pressed: var(
		--surface_primary_emphasis-high
	);
	--quiz-option_unselected_background-color_focused: var(--background_focus);
	--quiz-option_unselected_foreground-color_default: var(
		--foreground_emphasis-medium
	);
	--quiz-option_unselected_foreground-color_interaction: var(
		--foreground_emphasis-high
	);

	--quiz-option_selected_background-color_default: var(
		--surface_primary_emphasis-low
	);
	--quiz-option_selected_background-color_hovered: var(
		--surface_primary_emphasis-medium
	);
	--quiz-option_selected_background-color_pressed: var(
		--surface_primary_emphasis-high
	);
	--quiz-option_selected_background-color_focused: var(--background_focus);
	--quiz-option_selected_foreground-color: var(--primary_on-variant);
	--quiz-option_selected_icon-color: var(--primary_default);

	--quiz-option_correct_background-color: var(--primary_variant);
	--quiz-option_correct_text-color: var(--primary_on-variant);

	// Radio button color overrides
	--quiz-option_correct_icon-color: var(--primary_on-default);
	--quiz-option_correct_icon-bg-color: var(--primary_default);

	--quiz-option_incorrect_background-color: var(
		--surface_secondary_emphasis-medium
	);
	--quiz-option_incorrect_text-color: var(--secondary_on-variant);

	// Radio button color overrides
	--quiz-option_incorrect_icon-color: var(--secondary_on-default);
	--quiz-option_incorrect_icon-bg-color: var(--secondary_default);

	--quiz-option_focus-outline_width: var(--border-width_focus);
	--quiz-option_focus-outline_color: var(--focus-outline_primary);
	--quiz-option_corner-radius: var(--corner-radius_m);
	--quiz-option_icon_size: var(--icon-size_regular);

	--quiz-option_padding-vertical: var(--spc-3x);
	--quiz-option_padding-left: var(--spc-3x);
	--quiz-option_padding-right: var(--spc-6x);
	--quiz-option_gap: var(--spc-3x);
	--quiz-option_row_padding-horizontal: var(--spc-3x);

	--quiz_background-color: var(--surface_primary_emphasis-none);
	--quiz_corner-radius: var(--corner-radius_xl);

	// Error handling
	--quiz_error_background-color: var(--surface_error_emphasis-low);
	--quiz_error_foreground-color: var(--error_on-variant);
	--quiz_error_corner-radius: var(--corner-radius_l);
}

.quizOptionContainer {
	background-color: var(--quiz_background-color);
	border-radius: var(--quiz_corner-radius);
	width: fit-content;
	max-width: 100%;
	margin: var(--site-spacing) 0;
}

.quizOptionContainer > fieldset {
	all: unset;
}

.quizNum {
	display: block;
	padding: var(--spc-8x) var(--spc-6x) var(--spc-2x) var(--spc-6x);
}

.quizOptionTitle {
	display: block;
	padding: 0 var(--spc-6x) var(--spc-2x) var(--spc-6x);
	margin: 0 !important;
}

.quizPrompt {
	display: block;
	padding: 0 var(--spc-6x) var(--spc-4x) var(--spc-6x);
	color: var(--primary_default);
}

.quizOptionBottomContainer {
	padding: var(--spc-3x);
}

.quizOptionButtonRowContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--spc-3x);
	padding: var(--spc-3x);
}

.quizOptionButtonContainer,
.quizOptionVotes {
	display: flex;
	align-items: center;
}

.quizOptionVotes {
	margin: 0 !important;
}

.quizOptionOptionsContainer {
	display: flex;
	flex-direction: column;
	padding-left: var(--quiz-option_row_padding-horizontal);
	padding-right: var(--quiz-option_row_padding-horizontal);
}

.quizOptionOptionInnerContainer {
	width: fit-content;
	padding: var(--quiz-option_padding-vertical) var(--quiz-option_padding-right)
		var(--quiz-option_padding-vertical) var(--quiz-option_padding-left);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-radius: var(--quiz-option_corner-radius);
	@include transition(color background-color);
}

/**
 * Checked state
 */
.quizOptionOptionInnerContainer[data-selected] {
	color: var(--quiz-option_selected_foreground-color);
	background-color: var(--quiz-option_selected_background-color_default);

	&[data-hovered]:not([data-disabled]) {
		background-color: var(--quiz-option_selected_background-color_hovered);
	}

	&[data-pressed]:not([data-disabled]) {
		background-color: var(--quiz-option_selected_background-color_pressed);
	}

	&[data-focus-visible] {
		background-color: var(--quiz-option_selected_background-color_focused);
		outline: var(--quiz-option_focus-outline_width) solid
			var(--quiz-option_focus-outline_color);
	}

	.icon {
		color: var(--quiz-option_selected_icon-color);
	}
}


/**
 * Unselected state
 */
.quizOptionOptionInnerContainer:not([data-selected]) {
	color: var(--quiz-option_unselected_foreground-color_default);
	background-color: var(--quiz-option_unselected_background-color_default);

	&[data-hovered]:not([data-disabled]) {
		background-color: var(--quiz-option_unselected_background-color_hovered);
	}

	&[data-pressed]:not([data-disabled]) {
		background-color: var(--quiz-option_unselected_background-color_pressed);
	}

	&[data-focus-visible] {
		background-color: var(--quiz-option_unselected_background-color_focused);
		outline: var(--quiz-option_focus-outline_width) solid
			var(--quiz-option_focus-outline_color);
	}
}

/**
 * General purpose SVG logic
 */
.icon {
	flex-shrink: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--quiz-option_icon_size);
	height: var(--quiz-option_icon_size);
	// TODO: Double-check with Ed?
	margin-right: var(--quiz-option_gap);
	border-radius: 50%;
	@include transition(color);
}

/**
 * Incorrect option state should:
 * - Show close icon
 * - Hide checkmark
 * - Hide dot
 */
.quizOptionOptionIncorrect .quizOptionOptionInnerContainer {
	background-color: var(--quiz-option_incorrect_background-color) !important;
	color: var(--quiz-option_incorrect_text-color) !important;
}

.quizOptionOptionIncorrect .quizOptionOptionCheckboxSvgContainer {
	background-color: var(--quiz-option_incorrect_icon-bg-color);
	border-color: var(--quiz-option_incorrect_icon-bg-color);
	color: var(--quiz-option_incorrect_icon-color);
}

.quizOptionOptionIncorrect {
	.quizOptionOptionCheckboxCloseSvgContainer {
		display: block !important;
	}
	.quizOptionOptionCheckboxCheckmarkSvgContainer {
		display: none !important;
	}
	.quizOptionOptionCheckboxDotSvgContainer {
		display: none !important;;
	}
}

.quizOptionOptionCorrect .quizOptionOptionInnerContainer {
	background-color: var(--quiz-option_correct_background-color) !important;
	color: var(--quiz-option_correct_text-color) !important;
}

.quizOptionOptionCorrect .quizOptionOptionCheckboxSvgContainer {
	background-color: var(--quiz-option_correct_icon-bg-color);
	border-color: var(--quiz-option_correct_icon-bg-color);
	color: var(--quiz-option_correct_icon-color);
}

.quizOptionOptionCorrect {
	.quizOptionOptionCheckboxCloseSvgContainer {
		display: none !important;
	}
	.quizOptionOptionCheckboxCheckmarkSvgContainer {
		display: block !important;
	}
	.quizOptionOptionCheckboxDotSvgContainer {
		display: none !important;;
	}
}


.quizOptionOptionInput {
	all: unset;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.quizOptionErrorCode {
	margin: 0 !important;
	background-color: var(--quiz_error_background-color);
	color: var(--quiz_error_foreground-color);
	border-radius: var(--quiz_error_corner-radius);
	padding: var(--spc-3x) var(--spc-4x);
}
