$baseUnit: 8;

$rootFontSize: #{$baseUnit * 2}px;
$startMediumScreenSize: 768px;
$endMobileScreenSize: $startMediumScreenSize - 1px;

@function pxToRem($pxNum) {
  $remSize: $pxNum / $rootFontSize;
  @return #{$remSize}rem;
}
