$baseUnit: 8;

$rootFontSize: #{$baseUnit * 2}px;
$startMediumScreenSize: 768px;
$endSmallScreenSize: $startMediumScreenSize - 1px;
$startSmallScreenSize: 440px;
$endSuperSmallScreenSize: $startSmallScreenSize - 1px;
$startSuperSmallScreenSize: 348px;

@function pxToRem($pxNum) {
	$remSize: $pxNum / $rootFontSize;
	@return #{$remSize}rem;
}

@mixin until($breakpoint) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin from($breakpoint) {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}
