@use "sass:math";
@import "./styles/vars";
@import "./styles/utils";
@import "./styles/text-styles";
@import "./styles/grid";

html.dark,
body.dark,
.darkTheme {
	@include theme-vars(dark);
}

:root {
	font-size: $rootFontSize;
	scrollbar-color: theme-var(--primary-focus_outline) theme-var(--primary-background);
	transition: scrollbar-color $animStyle $animSpeed;

	@include theme-vars(light);

	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	code[class*="language-"] {
		font-size: inherit;
	}
}

:focus {
	outline-color: theme-var(--primary-focus_outline);
}

//without this all <button>s have bad outline colors in firefox
:focus::-moz-focus-inner {
	padding: 0; //prevent weirdness just in case
	border-color: theme-var(--primary-focus_outline);
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: theme-var(--primary-background);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: theme-var(--primary-focus_outline);
}

body {
	background-color: theme-var(--primary-background);
	margin: 0;
	padding: 0;
	color: theme-var(--neutral-foreground-emphasis_high);
	transition: color $animStyle $animSpeed,
		background-color $animStyle $animSpeed;
}

.medium-zoom-overlay {
	background: theme-var(--primary-background) !important;
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
	position: static;
	width: auto;
	height: auto;
}

img.circleImg, .circleImg img {
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 50%;
}

.dark .hide-on-dark {
	display: none;
}

.light .show-on-dark {
	display: none;
}
