code[class*="language-"],
pre[class*="language-"] {
	font-family: "Roboto Mono", monospace;
	font-size: 0.875rem;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	color: var(--textColor);
	background: var(--codeBackgroundColor);
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: var(--selectionColor);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: var(--selectionColor);
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	background: var(--white);
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--commentColor);
}

.token.punctuation {
	color: var(--punctuationColor);
}

.token.namespace {
	opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
	color: var(--operatorColor);
}

.token.function {
	color: var(--functionColor);
}

.token.property {
	color: var(--propColor);
}

.token.tag {
	color: var(--varColor);
}

.token.string {
	color: var(--stringColor);
}

.token.selector {
	color: var(--selectorColor);
}

.token.attr-name {
	color: var(--operatorColor);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--urlColor);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: var(--keywordColor);
}

.token.constant {
	color: var(--constantColor);
}

.token.statement,
.token.regex,
.token.atrule {
	color: var(--stringColor);
}

.token.placeholder,
.token.variable {
	color: var(--varColor);
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted var(--insertedUnderlineColor);
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: var(--highlightColor);
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: 0.4em solid var(--highlightColor);
	outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
	border-right-color: var(--selectionColor);
}

.line-numbers-rows > span:before {
	color: var(--lineNumbersColor);
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
	background: var(--lineHighlightColor);
	background: -webkit-linear-gradient(
		left,
		var(--lineHighlightColor) 70%,
		var(--lineHighlightFadeColor)
	);
	background: linear-gradient(
		to right,
		var(--lineHighlightColor) 70%,
		var(--lineHighlightFadeColor)
	);
}

blockquote {
	position: relative;
	margin-left: 1em;
	color: var(--midImpactBlack);

	&::before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 3px;
		background: var(--darkPrimary);
		left: -1em;
	}

	/*a {
    color: rgba(0, 10, 125, 0.6);
  }*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	code[class*="language-"] {
		font-size: inherit;
	}
}

blockquote.bigBlock {
	&,
	& * {
		font-size: 1.5rem;
	}
}
