@import "src/tokens/index";
.unicorns {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--site-spacing);

	list-style-type: none;
	box-sizing: border-box;
	padding: var(--site-spacing);

	@include from($tabletSmall) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: var(--spc-2x) var(--site-spacing);
	}
}
