@import "src/tokens/index";

.illustrationList {
	display: flex;
	list-style: none;
	padding: 0 var(--site-spacing);
	gap: calc(var(--site-spacing) * 2);
	flex-wrap: wrap;
	max-width: var(--max-width_m);
	margin: 0 auto;
	margin-top: var(--site-spacing);
	justify-content: center;
}

.illustrationListItem {
	width: 1px;
	flex-grow: 1;

	@include until($tabletSmall) {
		width: 100%;
	}
}

.illustration {
	background: var(--primary_variant);
	height: 144px;
	width: 100%;
	border-radius: var(--corner-radius_xl);
}

.illustrationTextContainer {
	display: flex;
}

.illustrationText {
	margin: 0;
	margin-top: var(--spc-4x);
	display: inline-block;
	width: 1px;
	flex-grow: 1;
	color: var(--primary_default);
	text-align: center;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
