---
import SacramentoBootcampPage from "../../views/sacramento-bootcamp/sacramento-bootcamp.astro";
import Document from "../../layouts/document.astro";
import SEO from "../../components/seo/seo.astro";
---

<Document lang={"en"} size="l" disableDiscord>
	<!-- TODO: Add description -->
	<SEO title="Playful Sacramento — Code Bootcamp" description="" slot="head" />
	<main>
		<SacramentoBootcampPage />
	</main>
</Document>
