@import "src/tokens/index";

.headerBorder {
	border-bottom: 1px solid get-var(--foreground_emphasis-none);
	margin-top: get-var(--spc-4x) !important;
	margin-bottom: get-var(--spc-4x) !important;
}

.header {
	height: 80px;
}

.logo {
	margin: 0 get-var(--spc-4x);
	text-decoration: none;

	span {
		margin-left: get-var(--spc-1x);
		line-height: 125%;

		color: get-var(--primary_default);
	}
}

.nav {
	gap: get-var(--spc-2x);
	padding: 0 get-var(--spc-4x);

	@include until($tablet) {
		display: none;
	}
}

.icons {
	gap: get-var(--spc-4x);
	flex-grow: 1;
	justify-content: flex-end;
}
