@use "src/tokens/index" as *;

:root {
	--anchored-tooltip_padding_start: var(--spc-2x);
	--anchored-tooltip_padding_end: var(--spc-3x);
	--anchored-tooltip_padding_vertical: var(--spc-2x);
	--anchored-tooltip_offset: var(--corner-radius_m);
	--anchored-tooltip_icon-size: var(--icon-size_dense);

	--anchored-tooltip_gap: var(--spc-1x);
	--anchored-tooltip_height: var(--min-target-size_s);
	--anchored-tooltip_corner-radius: var(--corner-radius_circular);

	--anchored-tooltip_focus-outline_width: var(--border-width_focus);
	--anchored-tooltip_focus-outline_gap: var(--border-width_focus);
	--anchored-tooltip_focus-outline_color: var(--focus-outline_primary);
}

.anchored-tooltip--zoom {
	--anchored-tooltip_background-color: var(--background_primary);
	--anchored-tooltip_foreground-color: var(--foreground_emphasis-high);
	--anchored-tooltip_border-width: var(--border-width_m);
	--anchored-tooltip_border-color: var(--primary_variant);

	--anchored-tooltip_content_border-width: 0;
	--anchored-tooltip_content_border-color: transparent;
}

.anchored-tooltip--link {
	--anchored-tooltip_background-color: var(--primary_on-variant);
	--anchored-tooltip_foreground-color: var(--background_primary);
	--anchored-tooltip_border-width: var(--border-width_l);
	--anchored-tooltip_border-color: var(--background_primary);

	--anchored-tooltip_content_border-width: var(--border-width_l);
	--anchored-tooltip_content_border-color: var(--primary_on-variant);
}

.anchored-tooltip {
	display: block;
	position: relative;
	padding-top: calc(var(--anchored-tooltip_height)/2);
	margin: var(--site-spacing) 0;

	picture {
		display: flex;
		border-radius: var(--corner-radius_m);
		overflow: hidden;
		background-color: #fff;
		will-change: background-color;
		@include transition(background-color);

		border: var(--anchored-tooltip_content_border-width) solid var(--anchored-tooltip_content_border-color);

		img {
			border-radius: 0 !important;
			mix-blend-mode: multiply;
		}
	}
}

.anchored-tooltip__label {
	position: absolute;
	z-index: 1;
	top: calc(var(--anchored-tooltip_height)/2);
	left: var(--anchored-tooltip_offset);
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	gap: var(--anchored-tooltip_gap);
	padding-left: var(--anchored-tooltip_padding_start);
	padding-right: var(--anchored-tooltip_padding_end);
	padding-top: var(--anchored-tooltip_padding_vertical);
	padding-bottom: var(--anchored-tooltip_padding_vertical);

	background-color: var(--anchored-tooltip_background-color);
	color: var(--anchored-tooltip_foreground-color);

	min-height: var(--anchored-tooltip_height);
	max-width: 80%;
	border: var(--anchored-tooltip_border-width) solid var(--anchored-tooltip_border-color);
	border-radius: var(--anchored-tooltip_corner-radius);

	&> svg {
		width: var(--anchored-tooltip_icon-size);
		height: var(--anchored-tooltip_icon-size);
		flex-shrink: 0;
	}

	&> span {
		min-width: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.anchored-tooltip:hover {
	.anchored-tooltip__label {
		text-decoration: underline;
	}

	picture {
		background-color: var(--primary_variant);
	}
}

.anchored-tooltip:focus-visible {
	outline: none;

	picture {
		outline: var(--anchored-tooltip_focus-outline_width) solid var(--anchored-tooltip_focus-outline_color);
		outline-offset: var(--anchored-tooltip_focus-outline_gap);
	}
}
