@import "src/tokens/index";

:root {
	--list_padding-start: var(--spc-1x);

	--list_item_padding-start: var(--spc-3x);
	--list_item_padding-vertical: var(--spc-1x);

	// should match public/icons/list-bowtie-*.svg
	--list_bowtie_size: 16px;
	--list_bowtie_top: calc(
		(var(--list_item_padding-vertical) / 2) +
			((var(--p_medium_line-height) - var(--list_bowtie_size)) / 2)
	);
}

.post-body ul:not([class]) {
	list-style-type: none;
	margin: var(--site-spacing) 0;
	padding: calc(var(--list_item_padding-vertical) / 2) 0;
	padding-left: var(--list_padding-start);

	& > li {
		background: url("/icons/list-bowtie-light.svg") no-repeat 0
			var(--list_bowtie_top);
		padding: calc(var(--list_item_padding-vertical) / 2) 0;
		padding-left: calc(
			var(--list_bowtie_size) + var(--list_item_padding-start)
		);

		@include darkTheme {
			background: url("/icons/list-bowtie-dark.svg") no-repeat 0
				var(--list_bowtie_top);
		}

		& > *:first-child {
			margin-top: 0;
		}

		&> ul {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
