@import "src/tokens/index";

:root {
	--list_item_padding-vertical: var(--spc-1x);
}

.post-body ul:not([class]),
.post-body ol:not([class]) {
	margin: var(--site-spacing) 0;

	& > li {
		@extend .text-style-body-large;

		padding-top: calc(var(--list_item_padding-vertical) / 2);
		padding-bottom: calc(var(--list_item_padding-vertical) / 2);

		& > *:first-child {
			margin-top: 0;
		}
	}
}
