@import "../../../styles/vars";
@import "../../../styles/utils";

.button {
	padding: ($spacing * 2) ($spacing * 4);

	background-color: theme-var(--surface_primary_emphasis-low);
	color: theme-var(--foreground_emphasis-high);

	$height: 40px;
	height: $height;
	border-radius: calc($height / 2);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: $spacing * 2;

	white-space: nowrap;
	text-decoration: none;
	border: none;
	outline: none !important;
	cursor: pointer;

	@include transition(color background-color box-shadow);

	&:global(.selected) {
		background-color: theme-var(--primary_default);
		color: theme-var(--primary_on-default);
		box-shadow: 0 0 0 $spacing theme-var(--primary_variant);
	}

	&:hover {
		text-decoration: underline;
		background-color: theme-var(--surface_primary_emphasis-medium);
		color: theme-var(--foreground_emphasis-high);
	}

	&:focus-visible {
		background-color: theme-var(--background_focus);
		box-shadow: 0 0 0 $spacing theme-var(--focus-outline_primary);
		color: theme-var(--foreground_emphasis-high);
	}

	&:active {
		background-color: theme-var(--surface_primary_emphasis-high);
		color: theme-var(--foreground_emphasis-high);
	}

	&[disabled] {
		background-color: theme-var(--background_disabled);
		color: theme-var(--foreground_disabled);
		text-decoration: none;
		pointer-events: none;
	}
}

.large {
	$height: 56px;
	height: $height;
	border-radius: calc($height / 2);

	padding: ($spacing * 4) ($spacing * 6);
}

.primary {
	background-color: theme-var(--primary-brand-highlight);
	color: theme-var(--primary-brand-on_highlight);
}

.borderless {
	background: none;
}

.icon {
	$height: 48px;
	height: $height;
	min-width: $height;
	border-radius: calc($height / 2);
	padding: 0;
}
