@import "src/tokens/index";

.button {
	padding: get-var(--spc-2x) get-var(--spc-4x);

	background-color: get-var(--surface_primary_emphasis-low);
	color: get-var(--foreground_emphasis-high);

	$height: 40px;
	height: $height;
	border-radius: calc($height / 2);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: get-var(--spc-2x);

	white-space: nowrap;
	text-decoration: none;
	border: none;
	outline: none !important;
	cursor: pointer;

	@include transition(color background-color box-shadow);

	&:global(.selected) {
		background-color: get-var(--primary_default);
		color: get-var(--primary_on-default);
		box-shadow: 0 0 0 get-var(--spc-1x) get-var(--primary_variant);
	}

	&:hover {
		text-decoration: underline;
		background-color: get-var(--surface_primary_emphasis-medium);
		color: get-var(--foreground_emphasis-high);
	}

	&:focus-visible {
		background-color: get-var(--background_focus);
		box-shadow: 0 0 0 get-var(--spc-1x) get-var(--focus-outline_primary);
		color: get-var(--foreground_emphasis-high);
	}

	&:active {
		background-color: get-var(--surface_primary_emphasis-high);
		color: get-var(--foreground_emphasis-high);
	}

	&[disabled] {
		background-color: get-var(--background_disabled);
		color: get-var(--foreground_disabled);
		text-decoration: none;
		pointer-events: none;
	}
}

.large {
	$height: 56px;
	height: $height;
	border-radius: calc($height / 2);

	padding: get-var(--spc-4x) get-var(--spc-6x);
}

.primary {
	background-color: get-var(--primary_high-contrast);
	color: get-var(--background_primary);
}

.borderless {
	background: none;
}

.icon {
	$height: 48px;
	height: $height;
	min-width: $height;
	border-radius: calc($height / 2);
	padding: 0;
}
