@import "src/tokens/index";

:global(#header-bar[data-sticky="pinned"]) {
	border-bottom: none !important;
}

.fullPageContainer {
	max-width: var(--max-width_xl);
	margin: 0 auto;

	transition: 300ms grid-template-columns ease-in-out;

	@include from($tabletLarge) {
		display: grid;
		grid-template-columns: var(--search-page_filter_sidebar_width) 1fr;

		&[data-hide-sidebar="true"] {
			grid-template-columns: 0 1fr;
		}
	}
}

.mainContents {
	margin: 0 auto;
	width: 100%;
	max-width: var(--max-width_l);
	display: flex;
	flex-direction: column;
	/* Guestimation */
	min-height: 80vh;
}

.mainContentsInner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 0 var(--site-spacing) var(--site-spacing) var(--site-spacing);
}

.collectionsGrid {
	display: grid;
	gap: var(--site-spacing);
	list-style: none;
	margin: 0;
	padding: 0;

	@include from($tabletLarge) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@keyframes play36 {
	0% {
		background-position: 0px 0px;
	}
	/* 36 frames of animation, 72 frames total (2.4 * 30) */
	50% {
		background-position: -864px 0px;
	}
	100% {
		background-position: -864px 0px;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.passThru {
	display: contents;
}

.loadingAnimationContainer {
	height: 1px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	opacity: 0;
	animation: fadeIn 1s;
	animation-fill-mode: forwards;
}

.loadingText {
	margin: 0;
	margin-top: var(--site-spacing);
	color: var(--foreground_disabled);
}

.loadingAnimation {
	width: 24px;
	height: 24px;
	transform: scale(6);
	margin-bottom: calc(24px * 5);
	margin-right: calc(24px * 5);
	background-image: url("/animations/unicorn_loading_animation_light.svg");
	transform-origin: 0 0;
	background-repeat: no-repeat;
	animation:
		play36 2400ms steps(36) 0s infinite normal forwards,
		fade 2400ms steps(36) 0s infinite normal forwards;

	@include darkTheme() {
		background-image: url("/animations/unicorn_loading_animation_dark.svg");
	}

	@include from($tabletSmall) {
		transform: scale(10);
		margin-bottom: calc(24px * 9);
		margin-right: calc(24px * 9);
	}

	@include from($desktopSmall) {
		transform: scale(12);
		margin-bottom: calc(24px * 11);
		margin-right: calc(24px * 11);
	}
}

@media screen and not (prefers-reduced-motion) {
	:global(#post-list-container) > li, .collectionsGrid > li {
		animation: fadeAndSlideIn .5s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
		opacity: 0;
	}

	@for $i from 1 through 6 {
		:global(#post-list-container) > li:nth-of-type(#{$i}), .collectionsGrid > li:nth-of-type(#{$i}) {
			animation-delay: #{($i - 1) * 0.05s};
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes fadeAndSlideIn {
	from {
		opacity: 0%;
		transform: translateY(12px);
	}
	to {
		opacity: 100%;
		transform: translateY(0);
	}
}
