@import "../../../styles/vars";
@import "../../../styles/utils";
@import "../../../styles/text_styles";

.container {
	margin: 50px auto 58px auto;
	max-width: 1032px;
	display: flex;
	position: relative;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	@include from($endSmallScreenSize) {
		margin-bottom: 24px;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
}

.headerPic {
	$mobileImgSize: 120px;
	max-width: $mobileImgSize;
	max-height: $mobileImgSize;
	margin-right: 0;
	flex-shrink: 0;

	@include from($endSmallScreenSize) {
		$desktopImgSize: 192px;
		max-width: $desktopImgSize;
		max-height: $desktopImgSize;
		margin-right: 48px;
	}
}

.title {
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--highImpactBlack);
	margin: 0;
	@include until($endSmallScreenSize) {
		text-align: center;
	}
}

.mobileTitle {
	@extend %headline-1;
	margin-top: 16px;

	@include from($endSmallScreenSize) {
		display: none;
	}
}

.desktopTitle {
	@extend %headline-2;

	@include until($endSmallScreenSize) {
		display: none;
	}
}

.noMgContainer {
	flex-grow: 1;
}

.subheader {
	@extend %subheader-3;
	margin: 0;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--midImpactBlack);
	white-space: pre-line;

	@include until($endSmallScreenSize) {
		margin: 16px 16px 0;
	}
}

.socialsContainer {
	display: flex;
	flex-direction: row;
	transition: color var(--animStyle) var(--animSpeed);
	color: var(--darkPrimary);
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	margin-top: 16px;

	@include from($endSmallScreenSize) {
		padding: 6px 0;
		margin: 0;
		justify-content: flex-start;
	}
}

.svgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialBtnLink {
	&:not(:last-of-type) {
		margin-right: 32px;

		@include from($endSmallScreenSize) {
			margin-right: 24px;
		}
	}

	.socialText {
		margin-left: 0.5rem;
		@extend %subheader-3;

		// Make it so that the next and prev label text is hidden on mobile
		// but not removed from the aria-reading role
		@include until($endSmallScreenSize) {
			width: 1px;
			height: 1px;
			overflow: hidden;
			opacity: 0;
			display: inline-block;
		}
	}

	& > a {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		$mobileSvgSize: 32px;

		@include until($endSmallScreenSize) {
			height: $mobileSvgSize;
			width: $mobileSvgSize;
		}

		svg {
			$desktopSvgSize: 36px;
			height: $desktopSvgSize;
			width: $desktopSvgSize;
			fill: none;

			@include until($endSmallScreenSize) {
				height: $mobileSvgSize;
				width: $mobileSvgSize;
			}
		}
	}
}
