---
import Document from "../../../layouts/document.astro";
import "../../../page-components/collections/framework-field-guide/fonts/fira-code.css";
import "../../../page-components/collections/framework-field-guide/fonts/plus-jakarta-sans.css";
import "../../../page-components/collections/framework-field-guide/fonts/changa-one.css";
import "../../../page-components/collections/framework-field-guide/tokens/adventure.scss";
import "../../../page-components/collections/framework-field-guide/tokens/buttons.scss";
import "../../../page-components/collections/framework-field-guide/tokens/code-block.scss";
import "../../../page-components/collections/framework-field-guide/tokens/colors.scss";
import "../../../page-components/collections/framework-field-guide/tokens/book-sections.scss";
import "../../../page-components/collections/framework-field-guide/tokens/dimensions.scss";
import "../../../page-components/collections/framework-field-guide/tokens/text-styles.scss";
import "../../../page-components/collections/framework-field-guide/tokens/themes.scss";
import "../../../page-components/collections/framework-field-guide/tokens/pricing.scss";
import "../../../page-components/collections/framework-field-guide/tokens/transition-timer.scss";
import "../../../page-components/collections/framework-field-guide/tokens/quotes.scss";
import SEO from "src/components/seo/seo.astro";
import Hero from "src/page-components/collections/framework-field-guide/segments/hero.astro";
import Fundamentals from "src/page-components/collections/framework-field-guide/segments/fundamentals.astro";
import Ecosystem from "src/page-components/collections/framework-field-guide/segments/ecosystem.astro";
import Internals from "src/page-components/collections/framework-field-guide/segments/internals.astro";
import Quotes from "src/page-components/collections/framework-field-guide/segments/quotes.astro";
import AdventureContinues from "src/page-components/collections/framework-field-guide/segments/adventure-continues.astro";
import YourGuide from "src/page-components/collections/framework-field-guide/segments/your-guide.astro";
import CodeBlock from "src/page-components/collections/framework-field-guide/segments/code-block.astro";
import TheRestContainer from "src/page-components/collections/framework-field-guide/segments/the-rest-container.astro";
import Pricing from "src/page-components/collections/framework-field-guide/segments/pricing.astro";
import { unicorns } from "utils/data";
---

<Document disableThemeToggle={true}>
	<SEO
		slot="head"
		title={"The Framework Field Guide"}
		description={"A practical and free way to teach Angular, React, and Vue all at once, so you can choose the right tool for the job and learn the underlying concepts in depth."}
		unicornsData={[unicorns.find((uni) => uni.id === "crutchcorn")]}
		publishedTime={"2022-12-01T13:45:00.284Z"}
		type={"book"}
		shareImage={"/custom-content/collections/framework-field-guide/framework_field_guide_social.png"}
	/>
	<div slot="post-body">
		<Hero />
		<Fundamentals />
		<Ecosystem />
		<Internals />
		<TheRestContainer>
			<YourGuide />
			<CodeBlock />
			<Quotes />
			<AdventureContinues />
			<Pricing />
		</TheRestContainer>
	</div>
</Document>
<script>
	import { enableColorChangeListeners } from "../../../page-components/collections/framework-field-guide/scripts/color-change-listener";
	enableColorChangeListeners();
</script>
<script>
	import { enableTabs } from "../../../utils/markdown/scripts/tabs";
	enableTabs();
</script>
<script>
	import { enableParallaxScrolling } from "../../../page-components/collections/framework-field-guide/scripts/parallax-scrolling";
	enableParallaxScrolling();
</script>
<style is:global>
	*:focus-visible {
		outline: none;
	}

	*:focus-visible::after {
		content: " ";
		position: absolute;
		box-sizing: content-box;
		height: 100%;
		width: 100%;
		padding: var(--focus-border_gap);
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-width: inherit;
		border-style: solid;
		border-color: transparent;
		border-radius: inherit;
		outline: var(--focus-border_width) solid var(--outline_focused);
		z-index: 9;
	}

	[data-move-on-scroll-by] {
		will-change: transform;
	}

	.repeat-background-container {
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
	}

	.repeat-background-svg-container {
		height: 100%;
		aspect-ratio: var(--svgAspectRatio);
	}

	.repeat-background-svg-container > svg *,
	svg.colorTransitionSVG * {
		transition: fill var(--color-transition-time) var(--color-transition-ease);
		will-change: transition;
	}
</style>
