---
import Document from "../../../layouts/document.astro";
import "./text-styles.scss";
---

<Document>
	<link
		slot="head"
		href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
		rel="stylesheet"
	/>
	<link
		slot="head"
		href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
		rel="stylesheet"
	/>
	<link
		slot="head"
		href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fira+Code&display=swap"
		rel="stylesheet"
	/>
</Document>
<h1 class="text-style-desktop-display-1">Testing</h1>
