name: Fly PR Preview

on:
  # Note: this pull_request_target usage is quite unsafe!
  # Be very careful about making changes to this file!
  # It has been the cause of multiple GHA-related exploits!
  pull_request_target:
    types: [opened, reopened, synchronize, closed]

env:
  DOCKER_TAG: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-review:pr-${{ github.event.pull_request.number }}
  SCRIPT_PREFIX: |
    function retry_loop() {
      retries=$1; while ! bash -c "$2"; do ((--retries)) || return; sleep 10; done
    }

concurrency:
  group: pr-${{ github.event.pull_request.number }}-deploy
  cancel-in-progress: true

jobs:
  # If the PR is from a fork, and changes anything outside of the content folder, it needs to be manually reviewed
  check-pr:
    name: Check PR changes
    if: ${{ github.event.action != 'closed' && github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    outputs:
      unsafe: ${{ steps.changes.outputs.unsafe == 'true' }}
    permissions:
      pull-requests: read
    steps:
      - id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            unsafe:
              - '!(content/**)'

  review-unsafe:
    name: Review for unsafe changes
    needs: [check-pr]
    if: ${{ needs.check-pr.outputs.unsafe }}
    runs-on: ubuntu-latest
    environment: review-unsafe
    steps:
      - name: Wait for approval
        run: echo 'Approved to build and deploy'

  build:
    name: Build image
    needs: [review-unsafe]
    if: ${{ !cancelled() && github.event.action != 'closed' && (needs.review-unsafe.result == 'success' || needs.review-unsafe.result == 'skipped') }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v6
        with:
          # This checks out the PR merge contents, which COULD CONTAIN UNSAFE CODE!
          # It is very important that no secrets are provided to the docker build!
          ref: "${{ github.event.pull_request.head.sha }}"
          persist-credentials: false

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            "GIT_COMMIT_REF=${{ github.head_ref || github.ref_name }}"
            "SITE_URL=https://playfulprogramming.com"
            "MODE=preview"

  deploy_for_review:
    name: Deploy for review
    if: ${{ !cancelled() && github.event_name == 'pull_request_target' }}
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    environment:
      name: review
      url: ${{ steps.deploy.outputs.url }}
    env:
      APP_NAME: pr-${{ github.event.pull_request.number }}-playful-programming-preview-playfulprogramming
      FLY_API_TOKEN: ${{ secrets.FLY_WEB_PR_REVIEW_TOKEN }}

    steps:
      # This checks out the main branch! So everything in this job can be trusted (except for the image being deployed)
      - uses: actions/checkout@v6

      - uses: superfly/flyctl-actions/setup-flyctl@1.5

      - id: status
        name: Retrieve app status
        run: flyctl status --app "$APP_NAME"
        continue-on-error: true

      - name: Destroy app
        if: ${{ github.event.action == 'closed' }}
        run: |
          ${{ env.SCRIPT_PREFIX }}
          retry_loop 3 'flyctl apps destroy "$APP_NAME" -y' || true

      - name: Configure app
        if: ${{ github.event.action != 'closed' && steps.status.outcome == 'failure' }}
        run: |
          ${{ env.SCRIPT_PREFIX }}

          # Backup the original config file since 'flyctl launch' messes up the [build.args] section
          cp fly.toml fly.toml.bak

          retry_loop 3 'flyctl launch --no-deploy --copy-config --name "$APP_NAME"'

          # Restore the original config file
          cp fly.toml.bak fly.toml

      - id: deploy
        name: Deploy app
        if: ${{ github.event.action != 'closed' }}
        run: |
          ${{ env.SCRIPT_PREFIX }}
          retry_loop 3 'flyctl deploy --config "fly.review.toml" --app "$APP_NAME" --image "$DOCKER_TAG" --ha=false'

          # Make the deployment URL available to the GitHub workflow.
          flyctl status --app "$APP_NAME" --json >status.json
          hostname=$(jq -r .Hostname status.json)
          echo "url=https://$hostname" >> $GITHUB_OUTPUT
