name: Fly Deploy

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request_target:
    types: [opened, reopened, synchronize, closed]

env:
  DOCKER_TAG: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ github.event_name == 'pull_request_target' && format('pr-{0}', github.event.pull_request.number) || 'latest' }}

concurrency:
  group: ${{ github.event_name == 'pull_request_target' && format('pr-{0}', github.event.pull_request.number) || 'main' }}-deploy
  cancel-in-progress: true

jobs:
  build:
    name: Build image
    if: ${{ github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            "GIT_COMMIT_REF=${{ github.head_ref || github.ref_name }}"
            "PUBLIC_CLOUDINARY_CLOUD_NAME=dssjarn7f"
            "SITE_URL=https://playfulprogramming.com"
          secrets: |
            "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}"
            "HOOF_AUTH_TOKEN=${{ secrets.HOOF_AUTH_TOKEN }}"

  deploy_for_review:
    name: Deploy for review
    if: ${{ always() && github.event_name == 'pull_request_target' }}
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    environment:
      name: review
      url: ${{ steps.deploy.outputs.url }}
    env:
      APP_NAME: pr-${{ github.event.pull_request.number }}-${{ github.repository_owner }}-${{ github.event.repository.name }}
      FLY_API_TOKEN: ${{ secrets.FLY_WEB_PR_REVIEW_TOKEN }}

    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@1.5

      - id: status
        name: Retrieve app status
        run: flyctl status --app "$APP_NAME"
        continue-on-error: true

      - name: Destroy app
        if: ${{ github.event.action == 'closed' }}
        run: flyctl apps destroy "$APP_NAME" -y || true

      - name: Configure app
        if: ${{ github.event.action != 'closed' && steps.status.outcome == 'failure' }}
        run: |
          # Backup the original config file since 'flyctl launch' messes up the [build.args] section
          cp fly.toml fly.toml.bak

          flyctl launch --no-deploy --copy-config --name "$APP_NAME"

          # Restore the original config file
          cp fly.toml.bak fly.toml

      - id: deploy
        name: Deploy app
        if: ${{ github.event.action != 'closed' }}
        run: |
          flyctl deploy --config "fly.review.toml" --app "$APP_NAME" --image "$DOCKER_TAG" --ha=false

          # Make the deployment URL available to the GitHub workflow.
          flyctl status --app "$APP_NAME" --json >status.json
          hostname=$(jq -r .Hostname status.json)
          echo "url=https://$hostname" >> $GITHUB_OUTPUT

  deploy_for_prod:
    name: Deploy for prod
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    needs: [build]
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://playfulprogramming.com
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_WEB_DEPLOY_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@1.5
      - id: deploy
        name: Deploy app
        run: |
          flyctl deploy --image "$DOCKER_TAG"
