:root {
	--primary95: #E5F2FF;
	--primary90: #C8E6FF;
	--primary80: #87CEFF;
	--primary40: #006590;
	--primary20: #00344D;
  }
  
  * {
	font-family: Figtree;
	margin: 0;
  }
  
  body {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: var(--primary95);
	overflow: hidden;
  }
  
  .side-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex-grow: 1;
	flex-basis: 0;
	gap: 8px;
	padding: 24px;
  }
  
  .sidebar-item {
	display: inline-flex;
	height: fit-content;
	min-width: max-content;
	padding: 12px 16px;
	border-radius: 99px;
	font-weight: 600;
	background-color: var(--primary90);
	color: var(--primary20);
  }
  
  .related-item {
	display: inline-flex;
	flex-direction: column;
	height: fit-content;
	padding: 8px 0px;
	border-radius: 12px;
	color: var(--primary40);
  }
  
  .pfp-article {
	flex-grow: 2;
	flex-basis: 0;
	padding: 24px;
	min-width: 50%;
  }
  
  @media screen and (max-width: 480px) {
	#toc {
	  display: none;
	}
  }
  
  @media screen and (max-width: 768px) {
	#related-articles {
	  display: none;
	}
  }