@import "../../../styles/utils";
@import "../framework-field-guide/tokens/breakpoints.scss";

:root {
	--sign-up-btn-gap: var(--spc-6x);
}

@include from($desktop) {
	:root {
		--sign-up-btn-gap: var(--spc-3x);
	}
}

.signUpContainer {
	text-align: center;
	color: var(--on-dark-emphasis-high);
	max-width: var(--max-width_small);
}