@import "../../../styles/utils";
@import "../framework-field-guide/tokens/breakpoints.scss";

.adventureContinuesContainer {
    padding: var(--section-ver-padding) var(--section-hor-padding);
    text-align: center;
    max-width: var(--max-width_large);
    margin: 0 auto;
}

.gridItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);

    .gridItem:last-child {
        grid-column: span 2
    }

    @include from($desktop) {
        grid-template-columns: repeat(2, 1fr);

        .gridItem:last-child {
            grid-column: unset;
        }
    }
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-style: solid;
    border-color: var(--outline);
    border-width: var(--grid-item-border-width);
    border-radius: var(--grid-item-corner-radius);
    padding: var(--grid-item-padding_top) var(--grid-item-padding_horizontal) var(--grid-item-padding_bottom);
}

.gridItem span  {
    color: white
}

.gridItem svg {
    position: absolute;
    left: 50%;
    background: var(--section-background);
    transition: background var(--color-transition-time) var(--color-transition-ease);
    padding-left: var(--grid-icon-padding);
    padding-right: var(--grid-icon-padding);
    height: var(--grid-icon-size) !important;
    width: var(--grid-icon-size) !important;
    transform: translateX(-50%);
    top: calc(0px - (var(--grid-icon-size) / 2));
}

.gridItem svg * {
    fill: white !important;
}

.whiteText {
    color:white;
}

li:not(:nth-child(-n+2)){
    text-align:start !important;
    color:var(--on-dark-emphasis-high);
    display: flex;
    align-items: center;
    
}

li:not(:nth-child(-n+4)){
    text-align:start !important;
    color:var(--on-dark-emphasis-high);
    display: flex;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--on-dark-emphasis-medium);
    text-underline-offset: 6px;
    
}

li:not(:nth-child(-n+2)) svg {
    padding-right: var(--spc-2x);
    padding-left: var(--spc-1x);
    // color: var(--on-dark-emphasis-medium);
    fill: var(----on-dark-emphasis-medium) !important;
}

li:nth-child(3), li:nth-child(4) {
    color: var(--on-dark-emphasis-medium);
}