@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Work Sans";
  color: var(--white);
}

.codeScreenOverlay {
  background: linear-gradient(340deg, rgba(0,0,0,.5), rgba(0,0,0,0)), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="600" height="600"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)"/></svg>');
  filter: contrast(800%) brightness(200%);
  opacity: 0.2;
  z-index: -2;
}

.codeScreenBg {
  background: radial-gradient(ellipse 200% 100%, #888, #000);
  z-index: -4;
}

.codeScreenBg.blur {
  --gradient: radial-gradient(circle 500px at 25% 50%, rgba(0,0,0,0), rgba(0,0,0,1));
  -webkit-mask-image: var(--gradient);
  mask-image: var(--gradient);
  filter: blur(5px);
  z-index: -3;
}

.codeScreenBg::after {
  position: absolute;
  bottom: 0;
  right: -30%;
  width: 100%;
  height: 200px;
  background: radial-gradient(closest-side, rgba(255,255,255,0.2), rgba(255,255,255,0));
  transform: rotateZ(25deg);
  content: ' ';
}

.codeScreen {
  height: 200% !important;
  width: 120% !important;
  transform: translateX(-100px) translateY(-50px) rotate3d(0.5, 1, 0, 45deg);
  background: #212121;
  border-radius: 8px;
  box-shadow: 0 0 28px #000;
}

.codeScreen::after {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 1.4em;
  content: '🗕 🗖 🗙';
}

.codeScreen > * {
  padding: 2em;
}

.codeScreen pre {
  font-family: monospace;
  overflow: hidden;
  background: none !important;
  border: none !important;
  margin: 0;
  padding: 0;
  color: #FFF;
}

.codeScreen code {
  font-size: 1.2rem;
  font-weight: bold;
}

.codeScreen .code-container {
  margin: 0;
  padding: 0;
}

.backgroundColor {
  background: #127db3;
  opacity: 0.6;
}

.absoluteFill {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-size: cover;
}

.bottomContainer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(11, 37, 104, 0.3));
}

.centerAll {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bottomImagesContainer {
}

.bottomProfImg {
  border-radius: 99px;
  margin-right: 16px;
}

.bottomImagesContainer > p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 9px;
  text-align: right;
  margin-right: 4px;
}

.secondHalfTitle {
  color: #f5acc9;
}
