---
import Document from "../../layouts/document.astro";
import PageView from "src/views/explore/page.astro";
import { getPostsByLang } from "utils/api";
import { PostInfo } from "types/index";
import SEO from "components/seo/seo.astro";
import { Page } from "astro";

export async function getStaticPaths({ paginate }) {
	const postsToDisplay = getPostsByLang("en");

	return paginate(postsToDisplay, { pageSize: 8 });
}

const { page } = Astro.props as { page: Page<PostInfo> };

const pageIndex = page.currentPage;

const SEOTitle = `Post page ${pageIndex}`;
---

<Document>
	<SEO slot="head" title={SEOTitle} />
	<div class="container">
		<PageView posts={page.data} page={page} />
	</div>
</Document>
