body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 2.0;
}

.custom-form {
    background-color: #E5F2FF;
    padding: 16px 12px;
    border-radius: 12px;
    border: 2px solid #55B4ED;
}

.custom-form:focus {
    outline: none;
    border-color: #007FB4;
    background-color: #C8E6FF;
}

.custom-form::placeholder {
    font-weight: 700;
}